<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>개인 회원정보 관리</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/admin/admin-boardList.css">
	<link rel="stylesheet" href="/css/admin/side-menu.css">
</head>
<body>
<div th:insert="~{admin/side-menu :: aside_admin_list}"></div>
<div>
	<div class="info-title-box info-title-box-flex">
		<div class="logo-box-layout">
			<div class="logo-box">
				<a href="javascript:void(0)" class="main_bar_logo_a">
					<img src="/image/main/logo1-removebg-preview.png">
				</a>
			</div>
			<!-- <div class="logo-title">
               <span>북적북적</span>
            </div> -->
		</div>
		<div>
			<div class="select-name">
				<span>개인 회원정보 관리</span>
			</div>
		</div>
	</div>
	<div class="wrap">

		<!-- 사이드 바 -->
		<div id="side-bar"></div>
		<!-- 사이드 바 끝-->

		<div class="container">
			<div class="container-margin">
				<!-- 헤더 -->
				<div class="delete-box-layout">
				<div class="delete-box">
					<button class="delete-button">선택 게시물 삭제</button>
				</div>
			</div>

				<!-- 내용 섹션 -->
				<section class="board-info-box-layout">

					<div class="board-info-box">
						<div class="board-info-title-box">
							<span>개인 회원정보 목록</span>
						</div>

						<div class="info-table">
							<table id="list-wrapper">
								<!--<thead>
									<tr>
										<th>
											<input type="checkbox" id="allSelect">
										</th>
										<th>No</th>
										<th>이름</th>
										<th>이메일</th>
										<th>가입날짜</th>
										<th>계정 상태</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<input type="checkbox" name="check">
										</td>
										<td></td>       &lt;!&ndash; 회원 아이디 &ndash;&gt;
										<td><a></a></td>      &lt;!&ndash; 이름 &ndash;&gt;
										<td></td>       &lt;!&ndash; 이메일 &ndash;&gt;
										<td></td>     &lt;!&ndash; 가입 날짜 &ndash;&gt;
										<td></td>   &lt;!&ndash; 계정 상태 &ndash;&gt;
									</tr>-->
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<!-- 페이지 버튼 -->
				<div class="page-button-box-layout">
					<!--<div class="page-button-box">
                       &lt;!&ndash; 페이지 번호 &ndash;&gt;&lt;!&ndash; 페이지 버튼 &ndash;&gt;
                       <div class="page-box page-button-margin">
                          <a class="changePage page-button-margin" th:if="${pageDTO.prev}" th:href="${pageDTO.startPage - 1}">
                       <span>
                          <img src="/image/admin/left_icon.png" class="left-button">
                       </span>
                          </a>
                          <th:block th:each="num:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                             <span th:text="${num}" th:if="${pageDTO.criteria.pageNum == num}" class="page-button-active page-button"></span>
                             <a class="changePage" th:unless="${pageDTO.criteria.pageNum == num}" th:href="${num}">
                                <span th:text="${num}" class="page-button"></span>
                             </a>
                          </th:block>
                          <a class="changePage page-button-margin" th:if="${pageDTO.next}" th:href="${pageDTO.endPage + 1}">
                       <span>
                          <img src="/image/admin/right_icon.png" class="right-button">
                       </span>
                          </a>
                       </div>
                       <form action="/admin/admin-memberList" th:object="${criteria}" name="pageForm">
                          <input type="hidden" th:field="*{pageNum}">
                          <input type="hidden" th:field="*{amount}">
                       </form>
                    </div>-->
				</div>
				<!-- 페이지 버튼 끝 -->
			</div>
		</div>
	</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/checkbox.js"></script>
<script src="/js/admin/page.js"></script>
<script src="/js/admin/sidemenu.js"></script>
<script th:inline="javascript">
	// 이동할 페이지
	let page = 1;

	/* showList, showPage*/			/**/
	function load() {
		console.log(page);
		$.ajax({
			url: `/admin/admin-memberList/${page}`,
			type: "get",
			success: function(result) {
				showList(result.members);
				showPage(result.criteria);
			},
			error: function (error) {
				console.log('Error fetching data:', error);
			}
		})
	};

	/* 페이지 찾기 */		/**/
	function findPage(currentPage) {
		page = currentPage.dataset.page;
		page *= 1;
		// console.log(typeof page);
		load();
	}
	/*개별 체크 박스 선택 시*/
	function isChecked(checkbox) {
		var $checkAllBox = $('#allSelect');
		var $checkBoxes = $('.checkBoxes');
		var j = 0;
		checkbox.checked ? checkbox.checked = true : checkbox.checked = false;

		$checkBoxes.each(function(i, checkbox) {
			if($(checkbox).is(":checked")){
				j++;
			}
		})
		console.log("j는? " + j);
		j === $checkBoxes.length ? $checkAllBox.prop("checked", true) : $checkAllBox.prop("checked", false);

	}

	/*전체 체크 박스 선택 시*/
	function isAllChecked() {

		var $checkAllBox = $('#allSelect');
		var $checkBoxes = $('.checkBoxes');

		if($checkAllBox.is(":checked")){
			$(this).prop("checked", true);
			$checkBoxes.each(function(i, checkbox) {
				$(checkbox).prop("checked", true);
			})
		} else {
			$(this).prop("checked", false);
			$checkBoxes.each(function(i, checkbox) {
				$(checkbox).prop("checked", false);
			})
		}
	}


	// 처음 페이지 준비 됐을 때		/**/
	$(document).ready(function () {
		$.ajax({
			type: 'GET',
			url: `/admin/admin-memberList/0`,
			success: function (info) {
				console.log(info.members);
				console.log(info.criteria);
				showPage(info.criteria);
				showList(info.members);
			},
			error: function (error) {
				console.log('Error fetching data:', error);
			}
		});
	});

	/* delete 버튼 클릭 시 ajax실행*/
	$('.delete-button').on('click', function() {
		console.log("delete버튼 들어옴");
		var checkedIds = new Array();
		// 체크 박스 체크된 값
		$('input:checkbox[name=check]:checked').each(function(i, e){
			console.log(e.dataset.id);
			checkedIds.push(e.dataset.id);
		});

		console.log(checkedIds);
		// ?page=${$page}
		$.ajax({
			url: `/admin/admin-memberDelete`,
			type: "delete",
			data: {
				"checkedIds": checkedIds
			},
			success: function(){
				console.log("ajax 성공")
				// location.href= result;
				// console.log($('#list-body').children().length);
				load();
			}
		});
	});

	// 페이지 이동		/**/
	function movePage(e) {
		// 페이지버튼 전체
		const $buttons = $(".page-button");
		// 현재 페이지가 표시된 버튼
		var $pushedBtn = $(e);
		// 나머지 버튼들에 일반상태 일때 버튼 클래스로 다 주고
		$buttons.attr('class', 'page-button');
		// 클릭된 버튼에만 클릭 됐을 때 클래스로 변경
		$pushedBtn.attr('class', 'page-button-active page-button');

		// 내가 누른 버튼의 텍스트 가져오기 ex) 3번 페이지 누르면 3
		console.log($(e).children().children().children().text());
		page = $(e).children().children().children().text();

		$.ajax({
			type: 'GET',
			url: `/admin/admin-memberList/${page}`,
			success: function (info) {
				console.log(info);
				showList(info.members);
			},
			error: function (error) {
				console.log('Error fetching data:', error);
			}
		});
	}

	// 게시글 리스트 뿌리기		/**/
	function showList(members) {

		let list = 	`
						<thead>
							<tr>
								<th>
									<input type="checkbox" name="check" id="allSelect" onclick="isAllChecked(this)">
								</th>
								<th>No</th>
								<th>이름</th>
								<th>이메일</th>
								<th>가입날짜</th>
								<th>계정 상태</th>
							</tr>
						</thead>
						<tbody id="list-body">
					`;
		members.forEach(member => {
			// 멤버 리스트 뿌리기
			list += `
						<tr>
							<td>
							 <input type="checkbox" name="check" data-id="${member.memberId}" class="checkBoxes" onclick="isChecked(this)">
							</td>
							<td>${member.memberId}</td>
							<td><a href="/admin/admin-member/${member.memberId}">${member.memberName}</a></td>
							<td>${member.memberEmail}</td>
							<td>${member.memberRegisterDate}</td>`;

				if(member.memberStatus == 1){
					list += `<td>일반계정</td>`;
				} else if(member.memberStatus == 2) {
					list += `<td>휴먼계정</td>`;
				} else {
					list += `<td>탈퇴계정</td>`;
				}

				list +=	`</tr>
						`;
			});
				list +=  ` </tbody>`;

		$('#list-wrapper').html(list);

	}

	// 페이지 리스트 뿌리기		/**/
	function showPage(criteria) {
		let text = "";

		// 전체 버튼 wrapper
		text+=	`
				<div class="page-button-box">
				`;

		// criteria에 있는 이전 컬럼의 필드 값을 조회해서 prev가 true면 이전 페이지가 있어야하니깐 이전 버튼 생성
		if (criteria.prev){
			text += `
					<div class="">
					  <div class="page-button-margin">
						<div>
						  <img src="/image/admin/left_icon.png" data-page="${criteria.startPage - 1}" class="left-button" onclick="findPage(this)">
						</div>
					  </div>
					</div>
					`;
		}

		// 반복문 돌려서 페이지 이동버튼 뿌려주기
		for (let i = criteria.startPage; i <= criteria.endPage; i++){
			text += `
					<div style="margin-right: 3px; margin-left: 3px;" class="${criteria.page === i ? 'page-button-active ' : ''} page-button" onclick="movePage(this)">
					  <div class="page-button-margin">
						<div>
						  <span>${i}</span>
						</div>
					  </div>
					</div>
					`;
		}

		// criteria에 있는 다음 컬럼의 필드 값을 조회해서 next가 true면 다음 페이지가 있어야하니깐 다음 버튼 생성
		if(criteria.next){
			text += `
					<div class="">
					  <div class="page-button-margin">
						<div>
						  <img src="/image/admin/right_icon.png" data-page="${criteria.endPage + 1}" class="right-button" onclick="findPage(this)">
						</div>
					  </div>
					</div>
		  	</div>
			`;
		}
		$('.page-button-box-layout').html(text);
	}

</script>
</html>