<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의사항 상세보기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/admin-inquiry.css">
    <link rel="stylesheet" href="/css/admin/side-menu.css">
</head>
<body>
    <div th:insert="~{admin/side-menu :: aside_admin_list}"></div>
        <div>
            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box">
                        <img src="/image/main/logo1-removebg-preview.png">
                    </div>
                    <!-- <div class="logo-title">
                        <span>골든 피그</span>
                    </div> -->
                </div>
                <div>
                    <div class="select-name">
                        <span>문의사항 상세보기</span>	
                    </div>
                </div>
            </div>
            <div class="wrap"> 
            
                <!-- 사이드 바 -->
                <div id="side-bar"></div>
                <!-- 사이드 바 끝-->
            
                <div class="container">
                    <div class="container-margin">
                        <!-- 헤더 -->
                        <div class="prev-button-layout">
                            <div>
                                <a th:href="@{/admin/admin-inquiryList}">
                                    <img src="/image/admin/prev_icon.png" class="prev-icon">
                                    <span class="prev-title">리스트로 돌아가기</span>
                                </a>
                            </div>
                            <div class="delete-box-layout">
                                <div class="delete-box">
                                    <button class="register-button" th:if="*{inquiryDTO.boardInquiryAnswerId == null}" >
                                        <!--<a href="javascript:location.href='${pageContext.request.contextPath}/adminNoticeWrite.admin?page=${page}'">문의사항 등록</a>-->
                                        <a th:href="@{/admin/admin-inquiryWrite?(boardInquiryId=${boardInquiryId})}" >문의사항 등록</a>
                                    </button>
                                </div>
                            </div>
                        </div>


                        
                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout" th:object="${inquiryDTO}">
                            <!-- 문의사항  -->
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>문의사항 상세보기</span>
                                </div>
                                <hr>
                                <div class="info-table">
                                    <div class="info-member">
                                            <span class="span-bold">이름 :</span>
                                            <!-- 이름  -->
                                            <span th:text="*{memberId} != null ? *{memberName} : *{businessCeoName}"></span>
                                    </div>
                                    <div class="info-member">
                                            <span class="span-bold">제목 :</span>
                                            <!-- 제목  -->
                                            <span th:text="*{boardInquiryTitle}"></span>
                                    </div>
                                    <div class="info-member">
                                        <span class="span-bold">작성 날짜 :</span>
                                        <!-- 작성 날짜  -->
                                        <span th:text="*{boardInquiryRegisterDate}"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="info-table">
                                    <div th:text="*{boardInquiryContent}">
                                        <!-- 게시판 내용 -->
                                    </div>
                                </div>	
                            </div>

                            <div class="div-class"></div>

                          <!-- 문의 답변 -->
                            <div class="board-info-box" th:if="*{boardInquiryAnswerId != null}">
                                <div class="board-info-title-box">
                                    <span>문의 답변</span>
                                </div>
                                <hr>
                                <div class="info-table">
                                    <div class="info-member">
                                        <span class="span-bold">작성 날짜 :</span>
                                       <!--  작성 날짜 -->
                                        <span th:text="*{boardInquiryAnswerRegisterDate}"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="info-table">
                                    <div th:text="*{boardInquiryAnswerContent}"> <!-- 게시판 내용 -->
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/prev.js"></script>
<script src="/js/admin/sidemenu.js"></script>
<script th:inline="javascript">
</script>
</html>