<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 개인 회원 수정</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/admin-modifyMember.css">
    <link rel="stylesheet" href="/css/admin/side-menu.css">
</head>
<body>
    <div th:insert="~{admin/side-menu :: aside_admin_list}"></div>
        <div>
            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box">
                        <a href="javascript:void(0)" class="main_bar_logo_a">
                            <img src="/image/main/logo1-removebg-preview.png">
                        </a>
                    </div>
                    <!-- <div class="logo-title">
                        <span>골든 피그</span>
                    </div> -->
                </div>
                <div>
                    <div class="select-name">
                        <span>회원정보 수정</span>	
                    </div>
                </div>
            </div>
            <div class="wrap"> 
            
                <!-- 사이드 바 -->
                <div id="side-bar"></div>
                <!-- 사이드 바 끝-->
            
                <div class="container">
                    <div class="container-margin">
                        <!-- 헤더 -->
                        <div style="margin: 0 auto;width: 70%;">
                            <div class="prev-button-layout">
                                <div>
                                    <a>
                                        <img src="/image/admin/prev_icon.png" class="prev-icon">
                                        <span class="prev-title">회원정보로 돌아가기</span>
                                    </a>
                                </div>
                            </div>
                            <!-- 내용 섹션 -->
                            <div class="info-flex">
                                <section class="board-info-box-layout" style="width: 100%;" th:object="${memberVO}">
                                    <div class="board-info-box">
                                        <div class="board-info-title-box">
                                            <span>회원 정보</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="board-info-box">
                                       <!-- <div class="member-img-box">
                                            <div class="member-img">
                                                <img th:if="${memberVO.memberImgPath}" th:src="@{/mypage/profile/display(fileName=${memberVO.memberImgPath}+'/'+${memberVO.memberImgUuid}+'_'+${memberVO.memberImgOriginalName})}" class="gear-icon">
                                                &lt;!&ndash;<span>x</span>&ndash;&gt;
                                            </div>
                                            &lt;!&ndash; <div class="member-nickname-box">
                                                <span>벅벅코딩</span>
                                            </div> &ndash;&gt;
                                        </div>-->
                                        <div class="member-info-box">
                                            <div class="member-info-tag-box">
                                                <span class="info-tag">이름</span>
                                                <!--&lt;!&ndash; 이름 &ndash;&gt;-->
                                                <div class="info info-name">
                                                    <span th:text="${memberVO.memberName}"></span>
                                                </div>
                                            </div>
                                            <form th:action="@{/admin/admin-memberModify}" method="post">
                                                <input type="hidden" th:value="*{memberId}" name="memberId">
                                                <div class="member-info-tag-box">
                                                    <span class="info-tag">이메일</span>
                                                    <!-- 이메일 -->
                                                    <div class="info">
                                                        <input type="text" class="member-email input-style" name="memberEmail" th:field="*{memberEmail}">
                                                    </div>
                                                </div>
                                                <div class="member-info-tag-box">
                                                    <span class="info-tag">휴대폰 번호</span>
                                                    <div class="info">
                                                        <input type="text" class="member-birth input-style member_phone_number" name="memberPhoneNumber" th:field="*{memberPhoneNumber}">
                                                    </div>
                                                </div>
                                                <div class="member-info-tag-box">
                                                    <span class="info-tag">계정 상태</span>
                                                    <!--&lt;!&ndash; 핸드폰 번호 &ndash;&gt;-->
                                                    <div class="radio">
                                                        <!--&lt;!&ndash;--><!-- <input type="text" class="member-phone member_status" name="memberStatus"> --><!--&ndash;&gt;-->
                                                        <input type="radio" name="memberStatus" id="nomal" value="1">
                                                        <label for="nomal" >일반 계정</label>
                                                        <input type="radio" name="memberStatus" id="yellow" value="2">
                                                        <label for="yellow">휴면 계정</label>
                                                        <input type="radio" name="memberStatus" id="black" value="0">
                                                        <label for="black">탈퇴 계정</label>
                                                    </div>
                                                </div>
                                                <div class="button-box">
                                                    <button id ="modify-button">변경</button>
                                                </div>
                                            </form>
                                        </div>	
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    const $deleteImg = $(".member-img span");

    $deleteImg.on("click", function() {

        $(this).attr("src", "url('/image/admin/nomal_person_icon.png')");
    });




</script>
<script src="/js/admin/prev.js"></script>
<script src="/js/admin/sidemenu.js"></script>
</html>