<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 유통업체 게시물 상세보기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/admin-member.css">
    <link rel="stylesheet" href="/css/admin/side-menu.css">
</head>
<body>
<div th:insert="~{admin/side-menu :: aside_admin_list}"></div>
<div>
    <div class="info-title-box info-title-box-flex">
        <div class="logo-box-layout">
            <div class="logo-box">
                <a href="javascript:void(0)" class="main_bar_logo_a">
                    <img src="/image/main/logo1-removebg-preview.png">
                </a>
            </div>
            <!-- <div class="logo-title">
                <span>북적북적</span>
            </div> -->
        </div>
        <div>
            <div class="select-name">
                <span>유통업체 게시물 상세보기</span>
            </div>
        </div>
    </div>
    <div class="wrap">

        <!-- 사이드 바 -->
        <div id="side-bar"></div>
        <!-- 사이드 바 끝-->

        <div class="container">
            <div class="container-margin">
                <!-- 헤더 -->
                <div class="prev-button-layout">
                    <div>
                        <a th:href="@{/admin/admin-freeBoardList}">
                            <img src="/image/admin/prev_icon.png" class="prev-icon">
                            <span class="prev-title">리스트로 돌아가기</span>
                        </a>
                    </div>
                </div>
                <div class="info-flex">
                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout" th:object="${boardFreeDTO}">
                        <div class="board-info-box board-info-box-flex">
                            <div class="board-info-title-box">
                                <span>자유 게시물</span>
                            </div>
                            <!--<div class="modify-button-box">
                                <a href="adminPage-modifyMember.jsp">
                                    <img src="/image/admin/gear_icon.png" class="gear-icon">
                                    <span>수정</span>
                                </a>
                            </div>-->
                        </div>
                        <hr>
                        <div class="board-info-box">
                            <div class="member-img-box">
                                <div class="board-img">
                                    <img th:src="@{/mypage/profile/display(fileName=${boardFreeDTO.boardFreeImgPath}+'/'+${boardFreeDTO.boardFreeImgUuid}+'_'+${boardFreeDTO.boardFreeImgOriginalName})}"/>
                                </div>
                                <!-- <div class="member-nickname-box">
                                    <span>벅벅코딩</span>
                                </div> -->
                            </div>
                            <div class="member-info-box">
                                <!--<div class="member-info-tag-box">
                                    <span class="info-tag">회원 분류</span>
                                    &lt;!&ndash; 회원 분류 &ndash;&gt;
                                    <div class="info">
                                        <span>유통회원</span>
                                    </div>
                                </div>-->
                                <div class="member-info-tag-box">
                                    <span class="info-tag">이름</span>
                                    <!-- 이름 -->
                                    <div class="info">
                                        <span th:text="*{memberId} != null ? *{memberName} : *{businessCeoName}"></span>
                                    </div>
                                </div>
                                <div class="member-info-tag-box">
                                    <span class="info-tag">이메일</span>
                                    <!-- 이메일 -->
                                    <div class="info">
                                        <span th:text="*{memberId} != null ? *{memberEmail} : *{businessEmail}"></span>
                                    </div>
                                </div>
                                <div class="member-info-tag-box">
                                    <span class="info-tag">휴대폰 번호</span>
                                    <!-- 휴대폰 번호 -->
                                    <div class="info">
                                        <span th:text="*{memberId} != null ? *{memberPhoneNumber} : *{businessPhoneNumber}"></span>
                                    </div>
                                </div>
                                <div class="member-info-tag-box">
                                    <span class="info-tag">계정 상태</span>
                                    <!-- 계정 상태 -->
                                    <div class="info">
                                        <span th:text="*{memberId} != null ? *{memberStatus} : *{businessStatus}" class="status"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <!-- 없앨까 ???  -->


                    <section class="board-info-box-layout board-info-box-layout2" th:object="${boardFreeDTO}">
                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>게시물 내용</span>
                            </div>
                        </div>
                        <hr>
                        <div class="member-info">
                            <div class="info-margin">
                                <span class="info-tag">작성 날짜</span>
                                <!-- 작성날짜  -->
                                <h4 th:text="*{boardFreeRegisterDate}"></h4>
                            </div>
                            <div class="info-margin margin">
                                <span class="info-tag">게시물</span>
                                <!-- 유저 작성한 것들  -->
                                <div class="write-count-box">
                                    <div>
                                        <br>
                                        <span>제목</span>
                                        <p th:text="*{boardFreeTitle}"></p>
                                    </div>
                                    <!-- <div  class="count">
                                         <span>0개</span>
                                     </div>-->
                                </div>
                                <br>
                                <div class="info-margin">
                                    <div class="write-count-box">
                                        <div>
                                            <span>내용</span>
                                            <p th:text="*{boardFreeContent}"></p>
                                        </div>
                                        <!-- <div class="count">
                                              &lt;!&ndash; 작성한 댓글 갯수 뽑아주기 &ndash;&gt;
                                              <span>0개</span>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let memberStatus = [[${boardFreeDTO.memberStatus}]];
    let businessStatus = [[${boardFreeDTO.businessStatus}]];

    console.log(memberStatus);

    if(memberStatus == 1){
        $(".status").text("일반계정");
    }else if(memberStatus == 2){
        $(".status").text("휴면계정");
    }else {
        $(".status").text("탈퇴계정");
    }

    console.log(businessStatus);

    if(businessStatus == 1){
        $(".status").text("일반계정");
    }else if(businessStatus == 2){
        $(".status").text("휴면계정");
    }else {
        $(".status").text("탈퇴계정");
    }

</script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/prev.js"></script>
<script src="/js/admin/sidemenu.js"></script>
</html>