body{
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
#breadcrumb{
    background-color: transparent;
    border-bottom: 1px solid #ECECEC;
    border-radius: 4px;
    margin-bottom: 20px;
    list-style: none;
}
#container{
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
}
#container::before{
    display: table;
    content: " ";
}
#breadcrumbs{
    padding: 15px 5px;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    left: 162px;
}
#breadcrumbs li{
    color: #767676 !important;
    display: inline-block;
}
/* #register_inquiry::before{
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 5px;
    color: rgba(51, 122, 183, 1);
} */
#inquiry_register{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-top: 20px;
    line-height: 1.1;
    color: inherit;
}
#client{
    color: #757575;
    outline: 0;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    background-color: transparent;
    list-style-type: none;
}
#container::after{
    clear: both;
    display: table;
    content: " ";
}
#center{
    padding-right: 0px;
    width: 1170px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#center::before{
    display: table;
    content: " ";
}
#email_address{
    width: 100%;
    float: left;
    display: inline-grid;
    padding-right: 5px;
    margin-bottom: 10px;
    margin-top: 17px;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
#label_first::after{
    content: "*";
    color: red;
    margin-left: 2px;
}
#label_second::after{
    content: "*";
    color: red;
    margin-left: 2px;
}
#label_third::after{
    content: "*";
    color: red;
    margin-left: 2px;
}
#email_input_first{
    border: 1px solid #ddd;
    margin-bottom: 15px;
    min-height: 35px;
    border-radius: 3px;
    padding: 0 10px;
    width: 100%;
}
#email_input_second{
    border: 1px solid #ddd;
    margin-bottom: 15px;
    min-height: 35px;
    border-radius: 3px;
    padding: 0 10px;
    width: 100%;
}
#explanation{
    min-height: 120px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    overflow: auto;
}
#phone_number{
    width: 100%;
    float: right;
    display: inline-grid;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 17px;
}
#phone_input{
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    min-height: 35px;
    border-radius: 3px;
    padding: 0 10px;
}
#upload_dropzone{
    background: #fff;
    border: 2px dashed #ddd;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.dropzone_input{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    min-height: 35px;
    border-radius: 3px;
    padding: 0 10px;
}
#upload_file{
    text-decoration: none;
    font-size: 13px;
    outline: 0;
    color: rgba(51, 122, 183, 1);
    transition: all 250ms ease-in-out;
    background-color: transparent;
    line-height: 24px;
    text-align: center;
}
#label_agree{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
#label_agree::after{
    content: "*";
    color: red;
    margin-left: 2px;
}
#label_agree_box{
    float: left;
    min-height: auto;
    margin-right: 5px;
    margin: 4px 0 0;
    line-height: normal;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
#footer_submit{
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
    background-color: #757575;
    color: #fff;
    padding: 10px 16px;
    line-height: 1.3333333;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    padding-left: 40px;
    padding-right: 40px;
}
#x_btn{
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMDAwIiBvcGFjaXR5PSIuNSIgY3g9IjkiIGN5PSI5IiByPSI5Ii8+CiAgICAgICAgPGcgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41Ij4KICAgICAgICAgICAgPHBhdGggZD0iTTEyLjI1OSAxMi4xMzUgNS43NjggNS42NDRNNS43NjIgMTIuMTMzbDYuNDk3LTYuNDk3Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) 0px 0px no-repeat;
    display: none;
    width: 18px;
    height: 18px;
    float: right;
    font-weight: bold;
    margin: 0 5px 0 15px;
}
/* ν—¤λ” */
.header {
    background-color: rgba(204, 96, 47, 0);
}

.header-inner {
    width: 1170px;
   /*  padding-right: 15px; */
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
    padding-bottom: 7px;
}

.left_top {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.header_logo_img{
    max-width: 180px;
    max-height: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
}


.header_logo_img1 {
    max-height: 30px;
    margin-top: 12px;
    max-width: 200px;
    margin-right: 10px;
}

img {
    vertical-align: middle;
    border: 0;
}

.row {
    margin-right: -15px;
    /* margin-left: -15px; */
}

.row:after {
    clear: both;
}

.row:after, .row:before {
    display: table;
    content: " ";
}

.header_logo_img1 {
    max-height: 33px;
    margin-top: 9px;
    max-width: 200px;
    margin-right: 0px;
}

.introduce_line {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 0px;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.introduce_line_member {
    float: left;
    padding-left: 15px;
    width: 75%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.member_introduce {
    padding: 15px 25px;
}

.member_introduce > li {
    color: #767676 !important;
    display: inline-block;
}

.member_introduce > li a {
    color: #757575;
    font-size: 14px;
}

/* .member_introduce li + li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 5px;
    color: rgba(51, 122, 183, 1);
} */

.member_introduce > li:last-child a {
    color: #333333;
}

.arrow-ircon {
    width: 11px;
}
/* ν‘Έν„° */
footer {
    background-color: rgba(255, 255, 255, 1);
    margin-top: 60px;
    color: #333;
    border-top: 1px solid #ececec;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer-container::before {
    display: table;
    content:  " ";
}

.footer-container::after {
    display: table;
    content:  " ";
    clear: both;
}

.footer-box {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.footer-info {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 15%;
    margin-top: 5px;
    text-align: left;
}

.footer-image {
    margin-bottom: -80px;
    margin-top: -82px;
    max-width: 210px;
}

.footer-image-box {
    display: flex;
}

.footer-info-title {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 15%;
}

.footer-info-title h3 {
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
    margin-top: 25px;
}

.footer-info-title h3::after {
    content: "";
    height: 2px;
    display: block;
    margin-top: 10px;
    max-width: 50px;
}

.footer-aside {
    background-color: #fff;
    padding: 15px 0;
    text-align: center;
}

.footer-aside-container {
    width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0 0 10px;
}

.footer-aside-container p {
    margin-bottom: 0;
    text-align: left;
    line-height: 1.5;
    color: #666666;
    font-size: 13px;
}

.footer-info {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 7%;
    margin-top: 5px;
    text-align: left;
}

.footer-image {
    max-height: 33px;
    margin-top: 12px;
    max-width: 200px;
    margin-right: 0px;
}


