body{
    font-family: Pretendard Variable,Pretendard JP Variable,-apple-system,
    system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,
    Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    margin: 0;
    font-size: 14px;
    background-color: #f8f8f8;
    line-height: 1.42857143;
}

#main {
    display: flex;
    justify-content: center;
    margin: 80px auto 0;
}
#aside{
    flex: 0 0 180px;
    margin: 0;
    margin-right: 50px;
    box-sizing: border-box;
    display: block;
    padding: 0;
    border: 0;
}
#top_profile{
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e2e3;
    margin-bottom: 25px;
    padding-left: 6px;
}
.profile_img{
    border: 1px solid #ececec;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d8d8d8;
    background-image: url(https://static.wanted.co.kr/images/profile_default.png);
    background-size: cover;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    vertical-align: middle;
}
.left_profile_img{
    width: 37px;
    height: 37px;
}
.right_profile_img{
    width: 37px;
    height: 37px;
}
#nickname{
    color: #333;
    font-size: 16px;
    max-width: 120px;
}
.nickname{
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.career{
    align-items: center;
    padding: 0 4px;
    height: 19px;
    background: #f6f6f6;
    border-radius: 4px;
    font-weight: 700;
    font-size: 10px;
    line-height: 19px;
    color: #888;
}
.field{
    margin-right: 4px;
    color: #8958fa;
}
#like_button{
    display: flex;
    align-items: center;
    color: #333;
}
button{
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
.like_count{
    margin-left: 6px;
    line-height: 100%;
    font-size: 13px;
    font-weight: 700;
}
.like_count_bottom{
    font-size: 15px;
    font-weight: 700;
}
.left_count{
    display: flex; 
    flex: 1 1; 
    align-items: center;
}
.flex-direction{
    display: flex; 
    flex-direction: column;
}
.flex_width{
    display: flex;
    width: 0;
    text-decoration-line: none;
}
.dis_align{
    display: inline-flex;
    align-items: center;
}
.posi_right{
    position: relative;
    margin-right: 7px;
}
.flex_align{
    display: flex;
    align-items: center;
}
#right_nickname{
    font-size: 14px;
    margin-right: 4px;
    color: #333;
}
.career_field{
    display: flex;
    white-space: nowrap;
}
#register_date{
    font-size: 12px;
    color: #939393;
    flex: none;
    line-height: 100%;
    white-space: nowrap;
}
#title{
    font-size: 28px;
    font-weight: 700;
    color: #333;
    word-break: break-all;
    margin-bottom: 32px;
    font-family: inherit;
}
#content{
    max-width: 710px;
    margin-bottom: 80px;
    font-size: 17px;
    line-height: 1.65;
    color: #333;
    text-align: left;
    word-wrap: break-word;
    word-break: keep-all;
}
#contet_img{
    width: 100%;
    image-rendering: auto;
    vertical-align: middle;
}
#bottom_action{
    display: flex;
    color: #333;
    position: relative;
}
.like_button{
    display: flex;
    align-items: center;
}
.viewbox{
    width: 20px;
    height: 20px;
}
#reply_wrap{
    padding: 25px 39px 100px;
    background-color: #fff;
    border: 1px solid #e1e2e3;
    border-top: 0;
}
#reply_img_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 208px;
    margin-bottom: 21px;
}
#reply_img{
    width: 75px;
    height: 75px;
    vertical-align: middle;
}
div.reply_content{
    color: #666;
    padding-left: 44px;
}
#profile_img_nickname{
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#profile_my_img{
    width: 37px;
    height: 37px;
    margin-right: 9px;
}
#my_nickname{
    font-size: 14px;
    color: #000;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 650px;
}
.wid_hei{
    width: 100%;
    height: 100%;
}
#form_wrap{
    border-radius: 4px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    height: 146px;
    position: relative;
    overflow: hidden;
}
#reply_textarea{
    width: 100%;
    height: 84px;
    padding: 16px 20px;
    border: 0;
    resize: none;
    outline: none;
}
form button{
    width: 70px;
    height: 32px;
    padding: 0;
    position: absolute;
    bottom: -10px;
    right: 15px;
    background-color: #f2f4f7;
    color: #c4c4c4;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 64px;
    border-radius: 25px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
#list_button{
    height: 32px;
    padding: 0 16px;
    margin-top: 30px;
    border: 1px solid #e1e2e3;
    color: #333;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    min-width: 64px;
    border-radius: 25px;
    cursor: pointer;
}
#list_button_span{
    margin-top: -2px;
    margin-right: 2px;
    margin-left: -1px;
}
#arrow{
    margin-right: 4px;
    -webkit-transform: rotate(180deg) translateY(-1.5px);
    transform: rotate(180deg) translateY(-1.5px);
    width: 12px;
    height: 12px;
}
#declaration{
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    right: -14px;
    color: #333;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 5px;
    border-radius: 5px;
    bottom: 27px;
    width: 110px;
    height: 45px;
    display: none;
}
#declaration_ul{
    list-style: none;
    color: #333;
    font-size: 13px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    top: 10px;
}
.declaration_button{
    color: #fe415c;
    display: block;
    padding: 4px 17px 4px 10px;
    border-radius: 3px;
    text-align: left;
    width: 100%;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
}
#bubble{
    top: 100%;
    position: absolute;
    overflow: hidden;
    right: 19px;
    height: 7px;
}
#bubble::after{
    margin-top: -12px;
    border-bottom-left-radius: 2px;
    transform: rotate(-55deg) skewX(-20deg);
    content: "";
    border: 1px solid #cdcdcd;
    background-color: #fff;
    height: 14px;
    width: 14px;
    display: block;
}
#side_article{
    padding: 29px 29px 30px;
    display: block;
    margin-bottom: 2px;
    position: relative;
}
#side_div{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
}
#side_div_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    vertical-align: middle;
}
#side_nickname{
    margin-right: 4px;
    color: #333;
    font-size: 13px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#side_span_date{
    font-size: 12px;
    color: #939393;
    flex: none;
    line-height: 100%;
    white-space: nowrap;
}
#side_article::after{
    display: block;
    content: "";
    height: 1px;
    background-color: #ececec;
    position: absolute;
    bottom: -1px;
    color: #333;
    width: 240px;
}
.side_title{
    display: block;
    width: 200px;
    cursor: pointer;
}
.profile-image {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
.profile-member-status-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFCD4A;
}
.profile-image-login {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.profile-image-login img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.content-member-image-size {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.content-member-image-size img {
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
}


.content-member-status span {
    font-size: 17px;
    font-weight: 500;
    color: #fff;    
}

.modify-reply-box {
    display: none;
}

.cancel {
    display: none;
}

.page-button-box {
    display: flex;
    justify-content: center;
    font-size: 14px;
}