<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.BoardBusinessImgVO" alias="boardBusinessImgVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.BoardBusinessImgDTO" alias="boardBusinessImgDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.BoardBusinessVO" alias="boardBusinessVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.BoardBusinessDTO" alias="boardBusinessDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.BoardInquiryAnswerVO" alias="boardInquiryAnswerVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.BoardInquiryVO" alias="boardInquiryVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.BoardInquiryDTO" alias="boardInquiryDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.BusinessReviewVO" alias="businessReviewVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.BusinessReviewDTO" alias="businessReviewDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.InterestingCompanyVO" alias="interestingCompanyVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.InterestingCompanyDTO" alias="interestingCompanyDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.BoardFreeVO" alias="boardFreeVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.BoardFreeImgVO" alias="boardFreeImgVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.FreeLikeVO" alias="freeLikeVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.FreeReplyVO" alias="freeReplyVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.BusinessVO" alias="businessVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.MemberLikeDTO" alias="memberLikeDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.MyPageInquireDTO" alias="memberInquireDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.PageDTO" alias="pageDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.vo.NoticeVO" alias="noticeVO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.BusinessDTO" alias="businessDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.BoardFreeDTO" alias="boardFreeDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.InquiryDTO" alias="inquiryDTO"/>
        <typeAlias type="com.bugjeogbugjeog.app.bugjeogbugjeog.domain.dto.ReplyDTO" alias="replyDTO"/>
    </typeAliases>
</configuration>