<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/header-signin.css"/>
</head>
<body>
    <header class="nav_bar" th:fragment="header_signin" style="background-color: white">
        <div class="main_bar">


            <!-------------------------------- 검색창 ------------------------------ -->


            <div class="search_bar" style="display: none;">
                <div class="search_close">x</div>
                <div class="search_bar_container">
                    <form action="" name="searchForm">
                        <input type="text" placeholder="#태그, 회사, 포지션 검색">x
                        <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18" class="SearchBar_SearchBar_searchIcon__I9wXL">
                            <defs>
                                <path id="qt2dnsql4a" d="M15.727 17.273a.563.563 0 10.796-.796l-4.875-4.875-.19-.165a.563.563 0 00-.764.028 5.063 5.063 0 111.261-2.068.562.562 0 101.073.338 6.188 6.188 0 10-1.943 2.894l4.642 4.644z"></path>
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <use fill="#333" fill-rule="nonzero" stroke="#333" stroke-width=".3" xlink:href="#qt2dnsql4a"></use>
                            </g>
                        </svg>
                    </form>
                    <div class="result">
                        <div class="container">
                            <h4 class="search_results">인기순으로 검색해보세요</h4>
                            <a href="" class="search_results_right_side_bar">
                                기업태그 홈 이동하기
                                <svg width="12" height="12" viewBox="0 0 12 12">
                                    <path fill="currentColor" d="M3.345 9.72a.75.75 0 0 0 1.06 1.06l4.25-4.25a.75.75 0 0 0 0-1.06l-4.25-4.25a.75.75 0 0 0-1.06 1.06L7.065 6l-3.72 3.72z"></path>
                                </svg>
                            </a>
                            <ul class="search_results_lists">
                                <li class="search_results_tag_list">
                                    <button>유통회사명</button>
                                </li>
                                <li class="search_results_tag_list">
                                    <button>유통회사명</button>
                                </li>
                                <li class="search_results_tag_list">
                                    <button>유통회사명</button>
                                </li>
                                <li class="search_results_tag_list">
                                    <button>유통회사명</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-------------------------------- 검색창 ------------------------------ -->


            <nav class="nav_main_bar">
                <div class="main_bar_logo_wrap">
                    <div class="main_bar_logo">
                        <a href="/main/" class="main_bar_logo_a">
                            <img src="/image/main/logo1-removebg-preview.png" width="80">
                        </a>
                    </div>
                </div>
                <ul class="menu_wrap">
                    <li class="selected_nav">
                        <a href="/board/business/list" class="aria_label border_bottom">유통업체</a>
                    </li>
                    <li class="select_nav">
                        <a href="/free-boards/" class="aria_label">자유게시판</a>
                    </li>
                    <li class="select_nav">
                        <a href="/board/inquiry/list" class="aria_label">문의하기</a>
                    </li>
                    <!--일단 보류-->
                    <li class="select_nav">
                        <a href="/notice/list" class="aria_label">공지사항</a>
                    </li>
                    <li class="select_nav">
                        <a href="/overall/faq" class="aria_label">FAQ</a>
                    </li>
                </ul>
                <aside class="aside_wrap">
                    <ul class="aside_ul">
                            <!--로그인 시 나오는 헤더의 돋보기 없앰-->
<!--                        <li class="aside_li">-->
<!--                            <button class="search_button" type="button" style="background: none">-->
<!--                                <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18">-->
<!--                                    <defs>-->
<!--                                        <path id="qt2dnsql4a" d="M15.727 17.273a.563.563 0 10.796-.796l-4.875-4.875-.19-.165a.563.563 0 00-.764.028 5.063 5.063 0 111.261-2.068.562.562 0 101.073.338 6.188 6.188 0 10-1.943 2.894l4.642 4.644z"></path>-->
<!--                                    </defs>-->
<!--                                    <g fill="none" fill-rule="evenodd">-->
<!--                                        <use fill="#333" fill-rule="nonzero" stroke="#333" stroke-width=".3" xlink:href="#qt2dnsql4a">-->
<!--                                        </use>-->
<!--                                    </g>-->
<!--                                </svg>-->
<!--                            </button>-->
<!--                        </li>-->
                        <li class="aside_li">
                            <div class="profile_img">
                                <th:block th:if="${not #strings.isEmpty(session.memberId)}">
                                <a th:href="@{/mypage/profile/postList}"> <!--여기 postList 연결-->
                                    <img src="/image/main/profile_image.png" width="32" height="32">
                                </a>
                                </th:block>
                                <th:block th:if="${not #strings.isEmpty(session.businessId)}">
                                    <a th:href="@{/mypage/profile/business/postList}"> <!--여기 postList 연결-->
                                        <img src="/image/main/profile_image.png" width="32" height="32">
                                    </a>
                                </th:block>
                            </div>
                        </li>
                        <li class="aside_li">
                            <form th:action="@{/member/logout}">
                                <button style="position:static" type="submit" class="signUp_button">로그아웃</button>
                            </form>
                        </li>
                    </ul>
                </aside>
            </nav>
        </div>
    </header>
</body>
</html>