<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/css/mypage/font_mypage_info.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage_info.css">
</head>

<body>
    <div class="whole_wrapper">
        <div class="mypage_wrapper">
            <header id="header" style="width: 100%;"></header>
            <div class="header-padding">
            </div>
            <main class="mypage_info_container">
                <!-- 1u4jqlo -->
                <header class="member_img_container">
                    <div class="img_wrapper">
                        <img class="img_profile"
                            src="https://static.wanted.co.kr/oneid-user/EJFYAcYpUoRwvZhu8KMYB7/kL7znP8HLscoJSREZnW3zB.jpg"
                            alt="">
                        <label class="edit_wrapper">
                            <input style="display: none;" type="text">
                            <span class="edit_span">
                                <img src="../../static/image/mypage/ink-pen-64.png" alt="">
                            </span>
                        </label>
                    </div>
                    <p class="welcome_msg">
                        이준상님, 환영해요.
                    </p>
                </header>
                <section class="info_content member_info_container">
                    <p class="manageAccount">
                        계정 관리
                    </p>
                    <p class="manageAccount_message">
                        서비스에서 사용하는 내 계정 정보를 관리할 수 있습니다.
                    </p>
                    <ul class="info_wrapper">
                        <li class="emailChange">
                            <p class="changeTitle">이메일</p>
                            <p class="emailText">miraclelee0613@gmail.com</p>
                        </li>
                        <li class="changeDefault">
                            <p class="changeTitle">이름</p>
                            <p class="changeText">이준상</p>
                            <a class="changeButton">
                                <img src="../../static/image/mypage/arrow-right-64.png" alt="">
                            </a>
                        </li>
                        <li class="changeDefault">
                            <p class="changeTitle">휴대폰 번호</p>
                            <p class="changeText">010-7728-7518</p>
                            <a class="changeButton">
                                <img src="../../static/image/mypage/arrow-right-64.png" alt="">
                            </a>
                        </li>
                    </ul>
                </section>

                <section class="info_content member_exit">
                    <p class="manageAccount">
                        개인 정보 보호
                    </p>
                    <p class="manageAccount_message">
                        내 계정을 안전하게 보호하기 위한 정보를 관리할 수 있습니다.
                    </p>
                    <ul class="info_wrapper">
                        <li class="changeDefault">
                            <p class="changeTitle">비밀번호 변경</p>
                            <p class="changeText"></p>
                            <a class="changeButton">
                                <img src="../../static/image/mypage/arrow-right-64.png" alt="">
                            </a>
                        </li>
                        <li class="changeDefault">
                            <p class="changeTitle">회원 탈퇴</p>
                            <p class="changeText"></p>
                            <a class="changeButton">
                                <img src="../../static/image/mypage/arrow-right-64.png" alt="">
                            </a>
                        </li>
                    </ul>
                </section>
                
                <footer id="footer"></footer>
            </main>
            <footer></footer>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(function () {
        $('#header').load('fragment/mypage_dedicated_header.html');
        // $('#footer').load('footer.html');
    });
</script>

</html>