<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/mypage/mypage.css">
</head>

<body class="mypage">
    <div class="mypage-wrapper">
        <header></header>

        <!-- 공통요소(컨테이너) -->
        <section class="Container-Profile mypage is-block">

            <!-- 공통요소(페이지명) -->
            <nav class="NavBar_presentation mypage">
                <h2 class="Nav_title mypage">
                    <p>프로필</p>
                    <button class="Nav_button">프로필</button>
                </h2>
            </nav>

            <!-- main 태그는 공통, 클래스 명은 따로 -->
            <main class="MatchUp-Container">
                <!-- CareerConnectBanner_ MatchUp_CareerConnectBanner_ -->

                <!-- 사이드 바 -->
                <aside class="Aside is-block">

                    <header class="Aside-profile Aside-content">
                        <div class="Aside-avatar">
                            <div class="Aside-avatar_image">
                                <img src="../../static/mypage/user_icon.png" alt=".\img\user_icon.png">
                            </div>
                        </div>
                        <div class="Aside-me">
                            <div class="Aside-me_name">이준상</div>
                            <div class="Aside-me_email">miraclelee0613@gmail.com</div>
                            <div class="Aside-me_tel">010-7728-7518</div>
                        </div>
                        <a href="" class="Aside-edit is-flex">기본정보 수정</a>
                    </header>

                    <div class="MatchUpStatus-container Aside-content list_container">
                        <a href="" class="MatchUpStatus-item">
                            <span>관심 있음</span>
                            <strong>0</strong>
                        </a>
                        <a href="" class="MatchUpStatus-item">
                            <span>열람</span>
                            <strong>0</strong>
                        </a>
                        <a href="" class="MatchUpStatus-item">
                            <span>받은 제안</span>
                            <strong>0</strong>
                        </a>
                    </div>
                    <div class="Aside-pageList Aside-content list_container">
                        
                        <a href="" class="Aside-setting">계정 설정</a>

                        <!-- My원티드 페이지가 아닐 경우 활성화 -->
                        <a href="" class="Aside-myinfo">My 원티드</a>

                        <!-- 프로필 페이지가 아닐 경우 활성화 -->
                        <a href="" class="Aside-profile">프로필</a>
                    </div>
                </aside>

<!-- 
                <section>
                    <header>
                        <img src="" alt="">
                        <button></button>
                    </header>
                    <section>
                        <div class="MatchUpForm">
                            <div class="ResumeWordCountWarning-body" style="display: flex;">
                                <p class="ResumeWordCountWarning-count">
                                    이력서 글자 수 : <span class="current_char">343자</span> / 최소 400자
                                </p>
                                <p class="ResumeWordCountWarning-guide">글자 수가 400자 이상이면, 직접 제안받을 확률이 높아집니다.</p>
                            </div>
                            <a href="" class="ResumeWordCountWarning-button"></a>
                        </div>
                        <div class="MatchUpForm">
                            <header class="Form-header">
                                <h1>
                                    <dt>기본 이력서</dt>
                                </h1>
                            </header>
                            <div class="FormBlock">
                                <div class="FormBlock-content">
                                    <div class="Static">
                                        <div class="Static-label">기본 이력서 선택</div>
                                        <div class="Static-body">
                                            <div>
                                                <button style="display: flexs;">
                                                <div class="ResumeLang_container">한</div>
                                                <span>이준상 1</span>
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MainResume-fieldset">
                                        <div class="Static">
                                            <div class="Static-label">기본 이력서 선택</div>
                                            <div class="Static-body">
                                                <div class="ResumeEntry">
                                                    <span class="ResumeEnty-major">대학교</span>
                                                    <span class="ResumeEnty-minor">학과</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Static"></div>
                                        <a href="" class="MainResume-edit"></a>
                                    </div>
                                    <div class="MainResume-about"></div>
                                </div>
                            </div>
                        </div>
                        <div class="MatchUpForm">
                            <header class="Form-header">
                                <d1>
                                    <dt>전문분야 설정</dt>
                                </d1>
                            </header>
                            <div class="FormBlock">
                                <div class="FormBlock-content">
                                    <div class="EnterInterestArea-fieldset">
                                        <div class="Static">
                                            <div class="Static-label">직군</div>
                                            <div class="Static-body">물류·무역</div>
                                        </div>
                                        <div class="Static">
                                            <div class="Static-label">직무</div>
                                            <div class="Static-body">지게차 운전사</div>
                                        </div>
                                        <div class="Static">
                                            <div class="Static-label">경력</div>
                                            <div class="Static-body">1년</div>
                                        </div>
                                        <a href="" class="EnterInterestArea-edit">
                                            <span class="SvgIcon_root">
                                                <svg class="SvgIcon_root_svg"></svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="FormBlock">
                                <div class="FormBlock content">
                                    <div class="AdditionalForm">
                                        <div class="FormButton">
                                            <h6 class="FormButton-label">추천인 선택</h6>
                                            <button class="FormButton-button">
                                                선택하기
                                                <svg></svg>
                                            </button>
                                        </div>
                                        <div class="FormButton">
                                            <h6 class="FormButton-label">제외기업설정</h6>
                                            <button class="FormButton-button">
                                                선택하기
                                                <svg></svg>
                                            </button>
                                        </div>
                                        <div class="InputGroup">
                                            <h6 class="InputGroup-label">구직 여부 설정</h6>
                                            <div class="InputGroup-body">
                                                <div class="JobSearchIntentionSelector-wrapper">
                                                    <select name="" id="" class="JobSearchIntentionSelector-select">
                                                        <option value="">현재 구직 중</option>
                                                        <option value="">관심 있음</option>
                                                        <option value="">전혀 관심 없음</option>
                                                    </select>
                                                </div>
                                                <span>
                                                    이력서 공개중
                                                </span>
                                                <p class="JobSearchIntentionSelector-status desc-text">
                                                    기업으로부터 면접 제안을 받으실 수 있습니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
-->            
            </main>
        </section>
    </div>
</body>

</html>