<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유통업체 프로필</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/css/mypage/font.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage_profile.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage_profile_business.css">
</head>

<body class="profile_body">
    <div class="Container_Profile">
        <div class="padding_for_header"></div>
        <main class="MatchUp-Container">
            <nav class="NavBar_presentation mypage">
                <h2 class="Nav_title mypage">
                    <p>프로필</p>
                    <button class="Nav_button">프로필</button>
                </h2>
            </nav>
            <section class="main_container is-relative">
                <!-- 사이드 메뉴 인클루드 -->
                <!-- <aside th:replace="~{fragment/mypage_aside_business :: aside_business}"></aside> -->
                <aside class="Aside_include"></aside>
                <section>
                    <aside class="CareerConnectBanner">
                        <picture>
                            <source srcset="https://static.wanted.co.kr/career_connect/banner-back-pc-common.webp">
                            <img src="https://static.wanted.co.kr/career_connect/banner-back-pc-common.png" alt="">
                        </picture>
                    </aside>
                    <div>
                        <!--
                        <div class="MatchUpForm ResumeWordCountWarning-Wrapper is-flex">
                            <div class="ResumeWordCountWarning-body is-flex" style="display: flex;">
                                <p class="ResumeWordCountWarning-count">
                                    이력서 글자 수 :
                                    <span class="current_char">343자</span>
                                    / 최소 400자
                                </p>
                                <p class="ResumeWordCountWarning-guide">글자 수가 400자 이상이면, 직접 제안받을 확률이 높아집니다.</p>
                            </div>
                            <a href="" class="ResumeWordCountWarning-button is-flex">이력서 강화하기</a>
                        </div>
                        <div class="MatchUpForm MainResume_Wrapper">
                            <header class="Form-header MainResume_Header">
                                <h1 class="Form-title">
                                    <dt>기본 이력서</dt>
                                </h1>
                            </header>
                            <div class="FormBlock">
                                <div class="FormBlock-content">
                                    <div class="MainResume-Static_Wrapper">
                                        <div class="MainResume-Static_label is-flex">기본 이력서 선택</div>
                                        <div class="MainResume-Static_body">
                                            <div class="MainResume-DefaultResumeSelector">
                                                <button class="MainResume-DefaultResumeSelector_button is-flex">
                                                    <div class="ResumeLang_container">한</div>
                                                    <span>이준상 1</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="MainResume-fieldset">
                                        <div class="fieldset-Static_content-first">
                                            <div class="Static-label is-flex">학교</div>
                                            <div class="Static-body">
                                                <div class="ResumeEntry-wrapper">
                                                    <span class="ResumeEnty-major">대학교 | </span>
                                                    <span class="ResumeEnty-minor">학과</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fieldset-Static_content-second">
                                            <div class="Static-label is-flex">직장</div>
                                            <div class="Static-body">
                                                <div class="ResumeEntry-wrapper">
                                                    <span class="ResumeEnty-major">회사명</span>
                                                    <span class="ResumeEnty-minor">직무</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="MainResume-edit">
                                            <span class="img_span is-flex">
                                                <img src="../../static/image/mypage/Writing-64.png" alt="">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="MainResume-about"></div>
                                </div>
                            </div>
                        </div>
                    -->
                        <div class="MatchUpForm EnterInterestArea-Wrapper">
                            <header class="Form-header">
                                <dl class="Form-title">
                                    <dt>유통 분야 설정</dt>
                                </dl>
                            </header>
                            <div class="FormBlock">
                                <div class="FormBlock-content">
                                    <div class="MainResume-fieldset">
                                        <div class="fieldset-Static_content-first">
                                            <div class="Static-label is-flex">대분류</div>
                                            <div class="Static-body">
                                                <!-- 물류·무역 -->
                                                식품
                                            </div>
                                        </div>
                                        <div class="fieldset-Static_content-others">
                                            <div class="Static-label is-flex">소분류</div>
                                            <div class="Static-body">
                                                해산물
                                            </div>
                                        </div>
                                        <!--
                                        <div class="fieldset-Static_content-others">
                                            <div class="Static-label is-flex">운영기간</div>
                                            <div class="Static-body">
                                                1년
                                            </div>
                                        </div>
                                        -->
                                        <a id="modal" class="MainResume-edit js-modal-trigger" data-target="modal">
                                            <span class="img_span is-flex">
                                                <img src="../../static/image/mypage/Writing-64.png" alt="">
                                            </span>
                                        </a>
                                        <!-- <a href="" class="MainResume-edit js-modal-trigger"
                                            data-target="modal-js-example">
                                            <span class="img_span is-flex">
                                                <img src="../../static/image/mypage/Writing-64.png" alt="">
                                            </span>
                                        </a> -->
                                        <div class="modal">
                                            <div class="modal-background"></div>
                                            <div class="modal-content">
                                                Any other Bulma elements you want
                                            </div>
                                            <button class="modal-close is-large" aria-label="close"></button>
                                        </div>
                                        <div id="modal-js-example" class="modal">
                                            <div class="modal-background"></div>

                                            <div class="modal-content">
                                                <div class="box">
                                                    <p>Modal JS example</p>
                                                    <!-- Your content -->
                                                </div>
                                            </div>

                                            <button class="modal-close is-large" aria-label="close"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="FormBlock Recommendation-Wrapper">
                                <div class="FormBlock content">
                                    <div class="AdditionalForm">
                                        <div class="FormButton">
                                            <h6 class="FormButton-label">추천인 선택</h6>
                                            <button class="FormButton-button">
                                                선택하기
                                                <img src="../../static/image/mypage/arrow-right-64.png" alt="">
                                            </button>
                                        </div>
                                        <div class="FormButton">
                                            <h6 class="FormButton-label">제외기업설정</h6>
                                            <button class="FormButton-button">
                                                선택하기
                                                <img src="../../static/image/mypage/arrow-right-64.png" alt="">
                                            </button>
                                        </div>
                                        <div class="InputGroup is-relative">
                                            <h6 class="FormButton-label">운영 여부 설정</h6>
                                            <div class="InputGroup-body">
                                                <div class="JobSearchIntentionSelector-wrapper">
                                                    <select name="" id="" class="JobSearchIntentionSelector-select">
                                                        <option value="">현재 운영 중</option>
                                                        <option value="">운영 예정</option>
                                                        <option value="">현재 운영 중단</option>
                                                    </select>
                                                </div>
                                                <!-- 
                                                <span>
                                                    이력서 공개중
                                                </span>
                                                -->
                                                <!--                                                 
                                                <p class="JobSearchIntentionSelector-status desc-text">
                                                    기업으로부터 면접 제안을 받으실 수 있습니다.
                                                </p>
                                                -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(function () {
        $('.Aside_include').load('fragment/mypage_aside_business.html');
        // $('.footer_html').load('footer.html');
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || [])
            .forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                    closeModal($target);
                });
            });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>

</html>