<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/css/mypage/font.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage_info.css">
</head>
<body>
    <div class="whole_wrapper">
        <div class="mypage_wrapper">
            <header></header>
            <div class="header-padding"></div>
            <main class="mypage_info_container">
                <!-- 1u4jqlo -->
                <header class="member_img_container">
                    <div class="img_wrapper">
                        <img class="img_profile" src="https://static.wanted.co.kr/oneid-user/EJFYAcYpUoRwvZhu8KMYB7/kL7znP8HLscoJSREZnW3zB.jpg" alt="">
                        <label class="edit_wrapper">
                            <input style="display: none;" type="text">
                            <span class="edit_span">
                                <img src="../../static/image/mypage/ink-pen-64.png" alt="">
                            </span>
                        </label>
                    </div>
                    <p class="welcome_msg">
                        사용자님, 환영해요.
                    </p>
                </header>
                <!-- xlgirc -->
                <section class="info_content member_info_container"></section>
                
                <!-- xlgirc -->
                <section class="info_content member_exit"></section>

                <!-- 7n6kim -->
                <footer class="login_link_service"></footer>
            </main>
            <footer></footer>
        </div>
    </div>
</body>
</html>