<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage.css">

</head>

<body>
    <div class="mypage-list-wrapper">
        <section class="Container-Profile mypage is-block">
            <div class="Container_Profile">
                <nav class="presentation">
                    <h2 class="Nav_title">
                        <p>지원 현황</p>
                        <button class="Nav_button"></button>
                    </h2>
                </nav>
                <div class="Status_Wrapper"></div>
            </div>
        </section>
    </div>
</body>

</html>