<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원탈퇴</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/css/mypage/font_mypage_info.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage_info.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage_exit.css">
</head>
<style>
    html,
    body {
        margin: 0px;
        padding: 0px;
    }
</style>

<body>
    <div class="wrapper_wrapper">
        <div class="whole_wrapper">
            <header id="header" style="width: 100%; position: fixed;"></header>
            <main class="mainbody_wrapper">
                <div class="main_wrapper_first">
                    <div class="main_wrapper is-flex">
                        <div class="padding_wrap">
                            <article class="main_content is-flex">
                                <h1 class="warning_title">회원 탈퇴 시 주의사항</h1>
                                <div class="content_top">
                                    <p class="warning_topic">
                                        탈퇴하기 전에
                                    </p>
                                    <p class="warning_content">
                                        ·
                                        탈퇴 시 OneID를 통해 등록한 서비스의 모든 정보가 영구적으로 삭제되며, 다시는 복구할 수 없습니다.
                                    </p>
                                </div>
                                <div class="content_top">
                                    <p class="warning_topic">
                                        미리 백업하기
                                    </p>
                                    <p class="warning_content">
                                        ·
                                        OneID로 등록한 서비스에서 정보 백업을 원하실 경우, 탈퇴 이전에 해당 서비스에서 백업을 진행해 주세요.
                                    </p>
                                </div>
                                <div class="content_top">
                                    <p class="warning_topic">
                                        미리 관리하기
                                    </p>
                                    <p class="warning_content">
                                        ·
                                        서비스 이용 중 본인의 OneID 계정에 귀속되지 않은 정보는 자동으로 삭제되지 않으며, 탈퇴 시 수정이나 삭제가 불가능합니다. OneID
                                        계정에
                                        귀속되지 않은 정보를 수정하거나 삭제하려는 경우, 회원 탈퇴 이전에 해당 서비스에서 수정 또는 삭제를 진행해 주세요.
                                    </p>
                                </div>
                                <hr class="partition_line">
                                <div class="content_bottom">
                                    <p class="exit_account">탈퇴하려는 계정</p>
                                    <div class="profile_wrapper">
                                        <div class="profile_img">
                                            <img src="https://static.wanted.co.kr/oneid-user/EJFYAcYpUoRwvZhu8KMYB7/kL7znP8HLscoJSREZnW3zB.jpg" alt="">
                                        </div>
                                        <p class="profile_email">miraclelee0613@gmail.com</p>
                                    </div>
                                </div>
                                <div class="content_bottom">
                                    <p class="exit_info">삭제되는 정보</p>
                                    <div class="info_wrapper">
                                        <div class="info_logo">
                                            <div class="logo_wrapper">
                                                <img src="../../static/image/boardList/logo-icon.png" alt="">
                                                <!-- <img src="../../static/image/boardList/logo_title.png" alt=""> -->
                                            </div>
                                        </div>
                                        <p class="exit_site">북적북적</p>
                                        <div>
                                            <p class="list_content">
                                                · 활동 데이터
                                            </p>
                                            <p class="list_content">
                                                · 미지급된 채용 보상금 및 포인트 데이터
                                            </p>
                                        </div>
                                    </div>
                                    <hr class="exit_partition_line">
                                </div>


                                <div>
                                    <!-- first -->
                                    <div class="accept_wrapper">
                                        <!-- 빈 체크박스 -->
                                        <span class="is-flex">
                                            <img src="../../static/image/mypage/checkbox-64.png" alt="" style="width: 24px;">
                                        </span>

                                        <!-- 체크된 체크박스 -->
                                        <span class="is-flex is-hidden">
                                            <img src="../../static/image/mypage/checkbox-checked-64.png" alt="" style="width: 24px;">
                                        </span>
                                        <input class="accept_checkbox" type="text">
                                        <div class="accept_text_wrapper">
                                            <p class="accept_text">회원 탈퇴 이후 미결된 금액을 받을 수 없음을 이해했으며 동의합니다.</p>
                                        </div>
                                    </div>
                                    
                                    <!-- second -->
                                    <div class="accept_wrapper">
                                        <!-- 빈 체크박스 -->
                                        <span class="is-flex">
                                            <img src="../../static/image/mypage/checkbox-64.png" alt="">
                                        </span>

                                        <!-- 체크된 체크박스 -->
                                        <span class="is-flex is-hidden">
                                            <img src="../../static/image/mypage/checkbox-checked-64.png" alt="">
                                        </span>
                                        <input class="accept_checkbox" type="text">
                                        <div class="accept_text_wrapper">
                                            <p class="accept_text">회원 탈퇴를 진행하여 해당 OneID 계정에 귀속된 모든 정보를 삭제하는 데 동의합니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <button class="exit_button button_confirm">
                                <span>회원 탈퇴</span>
                            </button>
                            <button class="exit_button button_cancel">
                                <span>회원 탈퇴 취소</span>
                            </button>
                        </div>
                    </div>
                </div>
            </main>
            <!-- <footer id="footer"/> -->

        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(function () {
        $('#header').load('fragment/mypage_dedicated_header.html');
        // $('.footer_html').load('footer.html');
    });
</script>
<script>
    const ;
</script>

</html>