<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage-list.css">
    <link rel="stylesheet" href="../../static/css/mypage/mypage-page-osition.css">

</head>

<body>
    <div class="mypage_list_wrapper">
        <header></header>
        <div class="padding_for_header"></div>
        <section class="Container_Profile mypage is-block">
            <div class="">
                <!-- 공통요소(페이지명) -->
                
                <nav class="presentation">
                    <h2 class="Nav_title">
                        <p>지원 현황</p>
                        <button class="Nav_button"></button>
                    </h2>
                </nav>
                <div class="Wrapper_container is-flex">
                    <!-- <main class="MatchUp-Container"> -->
                        <aside class="Aside_include"></aside>
                    <!-- </main> -->
                    <div class="aside_list"></div>

                    <!-- 메인 컨텐츠 랩퍼 -->
                    <section class="list_wrapper">

                        <!-- 지원한 포지션 헤더 -->
                        <header class="support_position_header">
                            <ul class="summary_wrapper">
                                <li class="summary_list summary_list_active">
                                    <a href="">
                                        <dl>
                                            <dt>0</dt>
                                            <dd>전체</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li class="summary_list">
                                    <a href="">
                                        <dl>
                                            <dt>0</dt>
                                            <dd>지원 완료</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li class="summary_list">
                                    <a href="">
                                        <dl>
                                            <dt>0</dt>
                                            <dd>서류 통과</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li class="summary_list">
                                    <a href="">
                                        <dl>
                                            <dt>0</dt>
                                            <dd>최종 합격</dd>
                                        </dl>
                                    </a>
                                </li>
                                <li class="summary_list">
                                    <a href="">
                                        <dl>
                                            <dt>0</dt>
                                            <dd>불합격</dd>
                                        </dl>
                                    </a>
                                </li>
                            </ul>
                        </header>

                        <!-- 리스트(공통) -->
                        <div class="list_wrapper">
                            <div class="search_bar">
                                <div class="is-flex">
                                    <div class="list_top_left is-flex">
                                        <div class="search_inputbox is-flex">
                                            <span class="img_root is-flex">
                                                <img src="" alt="">
                                            </span>
                                            <input type="text" placeholder="회사 / 지원자명 검색">
                                        </div>
                                        <div class="calendar_button is-flex">
                                            <button class="is-flex">
                                                <span class="img_root is-flex">
                                                    <img src="" alt="">
                                                </span>
                                                <p>전체 기간</p>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list_top_right is-flex">
                                        <button class="search_download_button is-flex">
                                            <span class="img_root">
                                                <img src="" alt="">
                                            </span>
                                            "취업활동증명서 다운로드"
                                        </button>
                                    </div>
                                </div>
                                <div class="list_body">
                                    <div class="list_table">
                                        <div class="table_header is-flex">
                                            <span class="table_header table_header_companyName">
                                                지원 회사
                                            </span>
                                            <span class="table_header table_header_position">
                                                지원 포지션
                                            </span>
                                            <span class="table_header table_header_createTime">
                                                작성시간
                                            </span>
                                            <span class="table_header table_header_status">
                                                진행상태
                                            </span>
                                            <span class="table_header table_header_recommendation">
                                                추천 현황
                                            </span>
                                            <span class="table_header table_header_reward is-flex">
                                                "보상금 신청"
                                                <span class="list_table_tooltip is-flex is-hidden">
                                                    최종 인터뷰까지 통과하신 경우, 보상금 '신청' 버튼을 눌러주세요. 3개월 초과근무 시 본 계정 이메일로 계좌정보 요청
                                                    메일이 발송될 예정이니 확인 후 신청 해주세요.
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list_table">
                                <ul>
                                    <dl class="list_empty">
                                        <dd>요청하신 결과가 없습니다.</dd>
                                    </dl>
                                </ul>
                            </div>
                        </div>
                        
                    </section>

                </div>
            </div>
        </section>
    </div>
</body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(function () {
            $('.Aside_include').load('mypage_aside.html');
            // $('.footer_html').load('footer.html');
        });
    </script>
</html>