* {
    margin: 0;
    padding: 0;
    }

    body{
        font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        margin: 0;
        font-size: 14px;
        color: #333;
        background-color: #f8f8f8;
    }

    a, button, input {
        font-family: inherit;
    }

    .boardList-header {
        background: #fff;
    }

    a {
        font-family: inherit;
        text-decoration: none;
        cursor: pointer;
    }


    li, ul {
        list-style: none;
    }

    button {
        cursor: pointer;
    }

    button {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
    }

    .boardList-wrap {
        width: 1068px;
        display: flex;
        margin: 0 auto;
        position: relative;
    }

    .boardList-aside-box {
        display: none;
        flex: 0 0 258px;
        padding: 0;
        margin: 60px 20px 0 0;
    }

    .boardList-aside-box {
        display: flex;
    }

    .aside-area-box {
        position: fixed;
        top: 90px;
        display: grid;
        grid-row-gap: 14px;
        row-gap: 14px;
    }

    .profile-box-not-login {
        width: 210px;
        height: 76px;
        padding: 23px 24px;
        background-color: #fff;
        border: 1px solid #e1e2e3;
        border-radius: 5px;
    }

    .profile-box-login {
        width: 210px;
        height: 76px;
        padding: 23px 24px;
        background-color: #fff;
        border: 1px solid #e1e2e3;
        border-radius: 5px;
    }

    .profile-not-login-title {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 400;
        color: #666;
    }
   
    .profile-login-title {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 400;
        color: #666;
    }

    .login-button {
        position: relative;
        display: flex;
        width: 100%;
        height: 37px;
        cursor: pointer;
    }

    .profile-image-not-login {
        width: 38px;
        height: 38px;
        border: 1px solid #ececec;
        border-radius: 50%;
        background-color: #d8d8d8;
        background-image: url('https://static.wanted.co.kr/images/profile_default.png');
        background-size: cover;
    }

    .profile-image-login {
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }

    .profile-image-login img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
    }

    .profile-member-status {
        padding: 4px 6px 5px;
    }

    .profile-image {
        font-size: 24px;
        color: #fff;
        font-weight: 500;
    }

    .profile-member-status-box {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #FFCD4A;
    }

    .profile-member-status-box-layout {
        padding: 4px 6px 5px 9px;
    }

    .profile-username-wrap {
        display: flex;
        align-items: center;
        width: 134px;
        height: 100%;
        margin-left: 10px;
        color: #666;
    }

    .not-login-span {
        text-align: left;
        font-size: 16px;
        font-style: normal;
        line-height: 22px;
        color: #000;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .profile-userName {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #000;
        text-align: left;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .profile-userType {
        align-items: center;
        padding: 0 4px;
        height: 19px;
        background: #f6f6f6;
        border-radius: 4px;
        font-weight: 700;
        font-size: 10px;
        line-height: 19px;
        color: #008ae2;
    }

    .profile-user-info-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .profile-arrow {
        position: absolute;
        top: 10.5px;
        right: 0;
        display: inline-flex;
    }

    .profile-banner-box {
        padding: 0;
    }

    .profile-banner-button {
        height: 88px;
        width: 100%;
        display: flex;
        text-align: left;
        justify-self: center;
        align-items: center;
        position: relative;
        padding: 0 18px;
        border-radius: 6px;
        margin: 0;
        background: no-repeat right 5px top 17px/100px  url('../../image/boardList/banner_icon.png'),linear-gradient(270deg,#01a9fe .24%,#2f5fef);
    }

    .profile-banner-message {
        font-weight: 700;
        color: #f0f0f0;
        max-width: 180px;
        word-wrap: break-word;
        word-break: keep-all;
        font-size: 15px;
        line-height: 1.6em;
    }

    .ranking-box {
        width: 258px;
        padding: 23px 0;
        background: #fff;
        border: 1px solid #e1e2e3;
        border-radius: 5px;
        position: relative;
    }

    .ranking-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #333;
        margin-bottom: 8px;
        margin-left: 23px;
    }

    .ranking-subTitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #666;
        margin-left: 23px;
    }

    .ranking-list-box {
        margin-top: 24px;
        padding: 0 23px 24px;
        display: flex;
        flex-direction: column;
        grid-row-gap: 20px;
        row-gap: 20px;
        height: calc(100vh - 542px);
        min-height: 110px;
        overflow-y: auto;
    }
    
    .ranking-list-box::-webkit-scrollbar {
        display: none; 
    }

    .distributor-image-box {
        margin-right: 10px;
        width: 38px;
        height: 38px;
        position: relative;
        overflow: visible;
    }

    .distributor-image-box img {
        width: 100%;
        height: 100%;
        clip-path: circle(50% at 50% 50%);
    }
    
    .distributor-name {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #333;
        max-width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .distributor-box {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .arrow-left {
        margin-left: auto;
    }

    .boardList-content-box {
        margin-bottom: 74px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .boardList-title-box {
        background-color: #f8f8f8;
        position: fixed;
        top: 50px;
        z-index: 1;
        padding-top: 40px;
    }

    .boardList-title-box-layout {
        display: flex;
        position: fixed;
        background-color: #fff;
        padding: 0;
        z-index: 1;
        width: 790px;
        position: relative;
        top: auto;
        border: 1px solid #e1e2e3;
        border-radius: 5px 5px 0 0;
        margin: 0;
    }

    .boardList-title-box-layout h2 {
        padding: 19px 30px;
    }

    .boardList-content-section-box {
        margin-top: 153px;
        width: 791px;
    }

    .write-button-box {
        border: 1px solid #e1e2e3;
        background-color: #fff;
        display: flex;
        align-items: center;
        width: 790px;
    }

    .write-button-layout {
        width: 100%;
        padding: 29px 30px 31px;
    }

    .write-button {
        flex: 1 1;
        height: 56px;
        width: 100%;
        padding: 0 19px;
        border-radius: 4px;
        border: 1px solid #e1e2e3;
        background-color: #fff;
        cursor: pointer;
        color: #333;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .write-button span {
        font-size: 25px;
    }

    .write-button-icon-box {
        display: flex;
        align-items: inherit;
        justify-content: inherit;
    }

    .write-button-icon {
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        flex-shrink: 0;
        font-size: inherit;
    }

    .boardList-content {
        width: 790px;
        background-color: #fff;
        border: 1px solid #e1e2e4;
        border-top: 0;
    }

    .boardList-recommend-box {
        height: 49px;
        padding: 19px 29px 0px;
        margin-top: 0;
        position: relative;
    }

    .boardList-recommend-box::after {
        display: block;
        content: "";
        height: 1px;
        background-color: #ececec;
        position: absolute;
        bottom: 0;
        width: 730px;
    }

    .content-box {
        display: block;
        margin-bottom: 2px;
        position: relative;
        padding: 29px 29px 30px;
    }

    .content-box-layout {
        margin-bottom: 9px;
    }

    .content-member-info-box {
        display: flex;
        width: 0;
    }

    .content-member-info-box-layout {
        display: inline-flex;
        align-items: center;   
    }

    .content-member-text-left {
        text-align: left;
        display: flex;
    }

    .content-member-image-box {
        position: relative;
        margin-right: 7px;
    }

    .content-member-image-size {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #FFCD4A;
    }

    .content-member-image-size img {
        width: 100%;
        height: 100%;
        clip-path: circle(50% at 50% 50%);
    }

    .content-member-status {
        padding: 4px 6px 5px;
    }

    .content-member-status span {
        font-size: 17px;
        font-weight: 500;
        color: #fff;    
    }


    .content-member-info {
        display: flex;
        flex-direction: column;
    }
    
    .content-persnal-distributor-box {
        display: flex;
        margin-bottom: 3px;
        align-items: center;
    }

    .content-register-name-box {
        font-size: 13px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333;
        max-width: 399px;
        margin-right: 4px;
    }

    .content-persnal-distributor {
        display: flex;
        white-space: nowrap;
        margin-right: 4px;
    }

    .content-member-type {
        align-items: center;
        padding: 0 4px;
        height: 19px;
        background: #f6f6f6;
        border-radius: 4px;
        font-weight: 700;
        font-size: 10px;
        line-height: 19px;
        color: #008ae2;
        margin-right: 4px;
    }

    .register-date {
        flex: none;
        line-height: 100%;
        white-space: nowrap;
        font-size: 12px;
        color: #939393;
    }
    
    .content {
        display: block;
        width: 730px;
    }

    .content-title {
        font-size: 19px;
        font-weight: 700;
        color: #333;
        margin-bottom: 5px;
        line-height: 23px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .content-detail {
        font-size: 14px;
        color: #666;
        line-height: 1.43;
        display: -webkit-box;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        min-height: 40px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
    }

    .like-reply-count-box {
        display: flex;
    }

    .like-count-box {
        display: flex;
        align-items: center;
        color: #666;
    }

    .like-count {
        font-size: 12px;
        margin-left: 4px;
        padding: 0.3em 0 0;
        line-height: 100%;
        font-weight: 700;
    }

    .reply-count-box {
        margin-left: 17px;
        display: flex;
        color: #666;
        align-items: center;
    }

    .reply-count {
        font-size: 12px;
        margin-left: 4px;
        padding: 0.3em 0 0;
        line-height: 100%;
        font-weight: 700;
    }

    .board-register-button-box {
        position: fixed;
        bottom: 0;
        display: flex;
        width: 1060px;
        height: 100%;
        margin: 0 auto;
        pointer-events: none;
    }

    .board-register-button {
        position: absolute;
        bottom: 30px;
        right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        font-size: 26px;
        border-radius: 50%;
        background-color: #36f;
        box-shadow: 1px 2px 8px 0 rgb(0 0 0 / 30%);
        cursor: pointer;
        color: #fff;
        border: 0;
        pointer-events: all;
        display: none;
    }

    .board-register-button-icon-box {
        display: flex;
        align-items: inherit;
        justify-content: inherit;
    }

    .board-register-button-icon {
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        flex-shrink: 0;
        font-size: inherit;
    }

    .board-detail-image {
        position: absolute;
        top: 29px;
        right: 30px;
        width: 192px;
        height: 151px;
        border-radius: 5px;
        object-fit: cover;
    }

    /* 이미지를 넣었다면 hasImage 클래스 넣어주기 */
    a.hasImage {
        width: 507px;
    }

    /* 모달창 css */
    #modal {
        display: none;
    }


    .modal {
        position: fixed;
        z-index: 1400;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-background {
        z-index: -1;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
    }

    .modal-box {
        display: flex;
        flex-direction: column;
        width: 310px;
        height: 281px;
        padding: 0;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 4px 4px 4px 0 rgb(0 0 0 / 10%);
        margin: 0;
        max-width: 100%;
        max-height: none;
    }

    .modal-content-box {
        flex: 1 1;
        overflow-y: auto;
        justify-content: center;
        padding: 30px 0 9px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .modal-content-image-box {
        height: 52px;
        border: 0;
        margin-right: 24px;
    }

    .modal-content-image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .modal-content-member-name-box {
        margin: 7px 0 12px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        max-width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .modal-content-confirm-box {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .modal-confirm-button-box {
        display: flex;
    }

    .confirm-button {
        width: 100%;
        height: 52px;
        border: 0;
        color: #36f;
        background-color: #fff;
        font-size: 14px;
        font-weight: 700;
        border-radius: 4px;
    }

    .modal-confirm-agree-button-box, .modal-confirm-no-button-box {
        width: 50%;
    }

    .paging{
        margin: 12px 0 24px;
        font-weight: 600;
    }

.paging a.changePage {
    color: #4690f2;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    border: 1px solid #4690f2;
    border-radius: 0.25rem;
}

.paging a.changePage:hover {
    background-color: #4690f2;
    color: #fff;
}

.paging code#currentPage {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    color: #fff;
    background-color: #4690f2;
    border-radius: 0.25rem;
    font-size: 16px;
}