@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


* {
    margin : 0px;
    padding: 0px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.content-main {
    margin-top: 50px;
    min-height: 70vh;
    margin-bottom: -30px;
}

.content-main-box {
    margin-bottom: 80px;
    width: 1050px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.content-main-box::before {
    display: table;
    content: " ";
}

.content-box {
    margin-right: -15px;
    margin-left: -15px;
}

.content-box::before {
    display: table;
    content: " ";
}

.content-box-layout {
    display: block;
}

.content-box-title {
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.3em;
    padding: 16px 14px;
    background-color: #f5f5f5;
    font-weight: 600;
}

ul {
    list-style: none;
}

.content-list-box {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.content-list {
    border-bottom: 1px solid #ececec;
    padding: 20px 10px;
}

.content-title {
    color: #444444;
    font-size: 1.2em;
    font-weight: 400;
    outline: 0;
    text-decoration: none;
}

.content {
    display: -webkit-box;
    padding: 10px 50px 0 0;
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
/* 헤더 */

.header {
    background-color: rgba(204, 96, 47, 0);
}

.header-inner {
    width: 1170px;
   /*  padding-right: 15px; */
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1px;
    padding-bottom: 7px;
}

.left_top {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.header_logo {

}

.header_logo_img{
    max-width: 180px;
    max-height: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
    padding-left: 1px;
}


.header_logo_img1 {
    max-height: 33px;
    margin-top: 9px;
    max-width: 200px;
    margin-right: 0px;
}

img {
    vertical-align: middle;
    border: 0;
}



.top_line {
    padding: inherit;
    background-color: transparent;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    margin-top: -8px;
}

/* 
.header {
    background-color: rgba(204, 96, 47, 0);
    border-bottom: 1px solid #ececec;
}

.header-box {
    padding : 8px 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.header-box::before {
    display: table;
    content: " ";
    line-height: 0;
}

.header-box::after{
    display: table;
    content: " ";
    line-height: 0;
    clear: both;
}

.header-box-layout {
    margin-right: -15px;
    margin-left: -15px;
}

.header-box-layout::before {
    display: table;
    content: " ";
} */

.logo-box {
    float: left;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.logo img {
    max-height: 30px;
    margin-top: 12px;
    max-width: 200px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.page-box {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    text-align: center;
}

.page-box-layout {
    text-align: center;
}

.page-button-box {
    background: #757575;
    box-shadow: 4px 5px 4px 2px #efefef;
    display: inline-block;
    color: #767676;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

.page-button-box span {
    color: #fff;
    cursor: pointer;
}

.page-button-box a {
    color: #ffffff;
}

/* 문의하기 버튼 */

.inquire_ {
    position: fixed;
    bottom: 50px;
    right: 200px;   
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    text-align: center;
    background-color: #3366FF;
    display: block;
    width: 50px;
    height: 50px;

}

.inquire_write {
    color: #FFFFFF !important;
    font-weight: 600;
    text-align: center;
}

.questionmark {
    margin-top: 10px;
    width: 30px;
}

footer {
    background-color: rgba(255, 255, 255, 1);
    margin-top: 60px;
    color: #333;
    border-top: 1px solid #ececec;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer-container::before {
    display: table;
    content:  " ";
}

.footer-container::after {
    display: table;
    content:  " ";
    clear: both;
}

.footer-box {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.footer-info {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 7%;
    margin-top: 5px;
    text-align: left;
}

.footer-image {
    max-height: 33px;
    margin-top: 12px;
    max-width: 200px;
    margin-right: 0px;
}

.footer-image-box {
    display: flex;
}

.footer-info-title {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 15%;
}

.footer-info-title h3 {
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
    margin-top: 25px;
}

.footer-info-title h3::after {
    content: "";
    height: 2px;
    display: block;
    margin-top: 10px;
    max-width: 50px;
}

.footer-aside {
    background-color: #fff;
    padding: 15px 0;
    text-align: center;
}

.footer-aside-container {
    width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0 0 10px;
}

.footer-aside-container p {
    margin-bottom: 0;
    text-align: left;
    line-height: 1.5;
    color: #666666;
    font-size: 13px;
}