<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유통업자</title>
    <link rel="stylesheet" href="../../static/css/notice/individual_faq.css">
</head>
<body>
    
    <!-- 헤더 -->
    <header class="header">
        <div class="header-inner container">
            <div class="row">
                <div class="left_top">
                    <div class="header_logo">
                        <a href="">
                            <img src="../../static/image/notice/wanted_logo.png" alt="헤더로고" class="header_logo_img">
                        </a>
                        <a href="">
                            <img src="../../static/image/notice/customercenter.png" alt="고객센터로고" class="header_logo_img">
                        </a>
                    </div>
                </div>
                <div class="right_top"></div>
            </div>
        </div>
    </header>

    <!-- 메인 -->
    <main role="main">
        <section class="top_line"></section>
        <div class="introduce_line container">
            <div class="introduce_line_member">
                <ol class="member_introduce">
                    <li title="북적북적 고객센터">
                        <a href="">북적북적 고객센터</a>
                    </li>
                    <li title="유통업자 회원">
                        유통업자 회원
                    </li>
                </ol>
            </div>
        </div>
        <div class="main_container container">
            <div class="row main_container_body">
                <div class="category_view">
                    <div class="member_member">
                        <h2 class="member_title">유통업자 회원</h2>
                    </div>
                    <div class="list_times">
                        <div class="section_tree">
                            <section class="section_tree_faq">
                                <div class="section_article_block">
                                    <h3 class="section_article_block_h3">
                                        <a href="">추천하기 - 받기</a>
                                    </h3>
                                    <ul class="article_list">
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="section_tree_faq">
                                <div class="section_article_block">
                                    <h3 class="section_article_block_h3">
                                        <a href="">추천하기 - 받기</a>
                                    </h3>
                                    <ul class="article_list">
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="section_tree_faq">
                                <div class="section_article_block">
                                    <h3 class="section_article_block_h3">
                                        <a href="">추천하기 - 받기</a>
                                    </h3>
                                    <ul class="article_list">
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="section_tree_faq">
                                <div class="section_article_block">
                                    <h3 class="section_article_block_h3">
                                        <a href="">추천하기 - 받기</a>
                                    </h3>
                                    <ul class="article_list">
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="section_tree_faq">
                                <div class="section_article_block">
                                    <h3 class="section_article_block_h3">
                                        <a href="">추천하기 - 받기</a>
                                    </h3>
                                    <ul class="article_list">
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                        <li class="article_">
                                            <a href="">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
</body>
</html>