<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="../../static/css/notice/faq.css">
</head>
<body>
    <!-- 헤더 -->
    <header class="header">
        <div class="header-inner container">
            <div class="row">
                <div class="left_top">
                    <div class="header_logo">
                        <a href="">
                            <img src="../../static/image/notice/bugjeog_logo_page.png" alt="북적북적로고" class="header_logo_img1">
                        </a>
                        <a href="">
                            <img src="../../static/image/notice/customercenter.png" alt="고객센터로고" class="header_logo_img">
                        </a>
                    </div>
                </div>
                <div class="right_top"></div>
            </div>
        </div>
    </header>

    <!-- 메인 -->
    <main role="main">
        <!-- 첫번째 섹션 -->
        <section class="section_frist">
            <div class="first_container container">
                <h1 class="help_center_name" id="help_center_title1">북적북적에 대해</h1>
                <h1 class="help_center_name" id="help_center_title2">궁금한 점을 확인해주세요!</h1>
                <p class="help_center_details"></p>
            </div>
        </section>

        <!-- 두번째 섹션 -->
        <section class="section_second padding">
            <div class="second_container container">
                <div class="row">
                    <div class="catagory_row">
                        <ul class="category_list">
                            <li id="individual">
                                <a href="javascript:void(0)"  style="cursor:none;">
                                    <span class="category-icon"></span>
                                    <h3>개인회원</h3>
                                    <p>개인회원을 위한 이용 안내입니다.</p>
                                </a>
                            </li>
                            <li id="distributor">
                                <a href="javascript:void(0)"  style="cursor:none;">
                                    <span class="category-icon"></span>
                                    <h3>유통업자 회원</h3>
                                    <p>유통업자 회원들을 위한 이용 안내입니다.</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- 세번째 섹션 -->
        <section class="section_third padding">
            <div class="third_container container">
                <div class="category_view">
                    <div class="category_view_question">
                        <section class="articles_">
                            <h3>개인회원 자주 묻는 질문</h3>
                            <ul class="article_list">
                                <li class="articles_item">
                                    <a href="">지원 현황의 자세한 사항이 궁금해요! (튜토리얼)</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">이력서 복사는 어떻게 하나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">이메일 변경 시 작성 중 목록 내 이메일이 변경되지 않아요</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">지원한 회사에서 피드백이 없습니다. 어떻게 하면되나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">원티드 이력서 양식을 꼭 사용해야 하나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">신입 또는 경력사항이 없을을 시 매치업으로 등록할 수 없나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">매치업 이력서 열람 제한 기업 설정방법</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">추천*채용 보상금은 어떻게 지급되나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">뉴스타트 패키지 신청 방법과 배송일은 어떻게 되나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">아이디 생성은 최대 몇 개 까지 가능한가요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">취업활동증명서 발급은 어떻게 하나요?</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="category_view_question">
                        <section class="articles_">
                            <h3>유통업자 회원 자주 묻는 질문</h3>
                            <ul class="article_list">
                                <li class="articles_item">
                                    <a href="">기업 서비스 가입, 이용 절차가 궁금합니다.</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">매치업 서비스를 이용하고 싶어요</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">최종 합격 처리 후, 채용 수수료 정산은 어떻게 하나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">서류 검토 시, 실수로 불합격 처리를 했습니다. 어떻게 복원 하나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">등록된 기업회원 회사 정보는 어디에 노출되나요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">가입된 회사 이름9사명) 및 웹사이트 주소를 변경하고 싶어요</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">단기 계약직 혹은 프리랜서 채용도 가능한가요?</a>
                                </li>
                                <li class="articles_item">
                                    <a href="">광고를 집행하고 싶습니다. 절차가 어떻게 되나요?</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <!-- 서비스 소개  -->
        <div class="service_container container">
            <div class="row">
                <div class="service_categroy">
                    <div class="service_categroy_view">
                        <h2 class="service_view_title">서비스 소개</h2>
                        <div class="row service_view_text">
                            <div class="service_view_items">
                                <div class="service_itme">
                                    <a href="">
                                        <div class="service_itmes_img">
                                            <img src="../../static/image//notice/career.jpg" alt="" class="service_itmes_img_card">
                                        </div>
                                        <div class="service_itmes_body">
                                            <h4 class="service_itmes_title">커리어 성장</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="service_view_items">
                                <div class="service_itme">
                                    <a href="">
                                        <div class="service_itmes_img">
                                            <img src="../../static/image//notice/career.jpg" alt="" class="service_itmes_img_card">
                                        </div>
                                        <div class="service_itmes_body">
                                            <h4 class="service_itmes_title">막고라</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="service_view_items">
                                <div class="service_itme">
                                    <a href="">
                                        <div class="service_itmes_img">
                                            <img src="../../static/image//notice/career.jpg" alt="" class="service_itmes_img_card">
                                        </div>
                                        <div class="service_itmes_body">
                                            <h4 class="service_itmes_title">베트남 쌀국수</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="service_view_items">
                                <div class="service_itme">
                                    <a href="">
                                        <div class="service_itmes_img">
                                            <img src="../../static/image//notice/career.jpg" alt="" class="service_itmes_img_card">
                                        </div>
                                        <div class="service_itmes_body">
                                            <h4 class="service_itmes_title">잡채밥</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <!-- 푸터 -->
    <footer>
        <div class="footer-container">
            <div class="footer-box">
                <div class="footer-info">
                    <a href="javascript:void(0)" class="footer-image-box">
                    <!--<img src="../../static/image/boardList/logo-icon.png" class="footer-image">
                        <img src="../../static/image/boardList/logo_title.png" class="footer-image" style="width: 90px;"> -->
                        <img src="../../static/image/notice/bugjeog_logo_page.png" alt="북적북적로고" class="footer-image">
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>기업소개</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>이용약관</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>개인정보처리방침</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>고객센터</h3>
                    </a>
                </div>
            </div>
            <aside class="footer-aside">
                <div class="footer-aside-container">
                    <p>(주)북적북적 (대표이사:이순철) | 서울특별시 강남구 테헤란로 146 | 통신판매업번호 : 2015 - 서울강남 - 03148호</p>
                    <p>유료직업소개사업등록번호 : (국내) 제2999-3230259-14-5-0118호 | 사업자등록번호 : 000-1234-1234 |  02-538-0017</p>
                    <p>© Wantedlab, Inc</p>
                </div>
            </aside>
        </div>
    </footer>



                    <!-- 문의하기 버튼  -->
        <div class="inquire_">
            <div style="margin: 0 auto;">
                <a href="" class="inquire_write">
                    <img src="../../static/image/notice/questionmark.png" alt="" class="questionmark">
                </a>
            </div>
        </div>



</body>
</html>