<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 유통회원 상세보기</title>
    <link rel="stylesheet" href="/css/notice/faq_detail_distributor.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
</head>
<body>
    
     <!-- 헤더 -->
     <header class="header">
        <div class="header-inner container">
            <div class="row">
                <div class="left_top">
                    <div class="header_logo">
                        <a href="">
                            <img src="/image/main/logo1-removebg-preview.png" alt="북적북적로고" class="header_logo_img1">
                        </a>
                        <a href="">
                            <img src="/image/notice/customercenter.png" alt="고객센터로고" class="header_logo_img">
                        </a>
                    </div>
                </div>
                <div class="right_top"></div>
            </div>
        </div>
    </header>


    <!-- 메인 -->
    <main role="main">
        <section class="top_line"></section>
        <div class="introduce_line container">
            <div class="introduce_line_member">
                <ol class="member_introduce">
                    <li title="북적북적 고객센터">
                        <a href="">북적북적 공지사항</a>
                    </li>
                    <img src="/image/notice/arrow.png" alt="" class="arrow-ircon">
                    <li title="개인 회원">
                        <a href="">유통회원</a>
                    </li>
                    <img src="/image/notice/arrow.png" alt="" class="arrow-ircon">
                    <li title="추천하기 ∙ 받기">
                        <a href="">이용방법</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="first_container container">
            <section class="article_wrapper">
                <div class="row">
                    <div class="article_base">
                        <div>
                            <h3 class="article_head">등록된 유통회사의 정보는 어디에 노출되나요?</h3>
                            <div class="article_body">
                                <p><strong>등록된 유통회사의 정보는 어디에 노출되나요?</strong></p>
                                <p>등록된 유통회사의 정보는 유통 PR 게시판의 썸네일과 게시물에서 노출됩니다.</p>
                                <p>유통 PR 게시판에서 게시물을 작성하여 개인회원들에게 회사를 어필하세요!!</p>
                                <p>회사의 리뷰와 평점이 높으면 메인 페이지 랭킹에 올라갈 수 있어요!</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p><strong>마음에 맞는 협력 파트너를 찾아보세요!</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="right_section">
                        <p></p>
                        <div class="right_section_list">
                            <aside class="article_sidebar">
                                <section>
                                    <h3 class="sidebar_title">이 섹션의 문서</h3>
                                    <ul>
                                        <li>
                                            <a href="">유통회원 서비스 가입, 이용 절차가 궁금합니다.</a>
                                        </li>
                                        <li>
                                            <a href="">등록된 유통회사의 정보는 어디에 노출되나요?</a>
                                        </li>
                                        <li>
                                            <a href="">가입된 회사 이름(사명)을 변경하고 싶어요</a>
                                        </li>
                                        <li>
                                            <a href="">유통 PR 게시판 이용방법</a>
                                        </li>
                                        <li>
                                            <a href="">대표 이미지에 로고를 삽입하고 싶어요</a>
                                        </li>
                                        <li>
                                            <a href="">대표 이미지에 텍스트를 삽입하고 싶어요</a>
                                        </li>
                                        <li>
                                            <a href="">비즈니스 계약은 어떻게 체결하나요?</a>
                                        </li>
                                    </ul>
                                </section>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="second_container container">
            <span class="article_bottom">
                또 다른 질문이 있으십니까?&nbsp;&nbsp;&nbsp;
                <a href="" class="inquire_a_tag">다른 문의 등록하기</a>
            </span>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-box">
                <div class="footer-info">
                    <a href="javascript:void(0)" class="footer-image-box">
                        <!-- <img src="/image/boardList/logo-icon.png" class="footer-image">
                        <img src="/image/boardList/logo_title.png" class="footer-image" style="width: 90px;"> -->
                        <img src="/image/main/logo1-removebg-preview.png" alt="북적북적로고" class="footer-image">
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>기업소개</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>이용약관</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>개인정보처리방침</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>고객센터</h3>
                    </a>
                </div>
            </div>
            <aside class="footer-aside">
                <div class="footer-aside-container">
                    <p>(주)북적북적 (대표이사:이순철) | 서울특별시 강남구 테헤란로 146 | 통신판매업번호 : 2015 - 서울강남 - 03148호</p>
                    <p>유료직업소개사업등록번호 : (국내) 제2999-3230259-14-5-0118호 | 사업자등록번호 : 000-1234-1234 |  02-538-0017</p>
                    <p>© Bugjeoglab, Inc</p>
                </div>
            </aside>
        </div>
    </footer>

    <!-- 문의하기 버튼  -->
    <div class="inquire_">
        <div style="margin: 0 auto;">
            <a href="" class="inquire_write">
                <img src="/image/notice/questionmark.png" alt="" class="questionmark">
            </a>
        </div>
    </div>
            


</body>
</html>