<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</title>
    <link rel="stylesheet" href="../../static/css/notice/faq_detail.css">
</head>
<body>
    
     <!-- 헤더 -->
     <header class="header">
        <div class="header-inner container">
            <div class="row">
                <div class="left_top">
                    <div class="header_logo">
                        <a href="">
                            <img src="../../static/image/notice/wanted_logo.png" alt="헤더로고" class="header_logo_img">
                        </a>
                        <a href="">
                            <img src="../../static/image/notice/customercenter.png" alt="고객센터로고" class="header_logo_img">
                        </a>
                    </div>
                </div>
                <div class="right_top"></div>
            </div>
        </div>
    </header>


    <!-- 메인 -->
    <main role="main">
        <section class="top_line"></section>
        <div class="introduce_line container">
            <div class="introduce_line_member">
                <ol class="member_introduce">
                    <li title="북적북적 고객센터">
                        <a href="">북적북적 고객센터</a>
                    </li>
                    <li title="개인 회원">
                        <a href="">개인회원</a>
                    </li>
                    <li title="추천하기 ∙ 받기">
                        <a href="">추천하기 ∙ 받기</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="first_container container">
            <section class="article_wrapper">
                <div class="row">
                    <div class="article_base">
                        <div>
                            <h3 class="article_head">지인에게 추천 받았는데 내가 받은 추천 목록에 확인되지 않아요</h3>
                            <div class="article_body">
                                <p>하기 정보를 포함하여 문의해주시면 확인 후 도움 드리도록 하겠습니다.</p>
                                <ul>
                                    <ul>
                                        <li>사용 중인 본인 계정 메일주소</li>
                                    </ul>
                                </ul>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="second_container container">
            <span class="article_bottom">
                또 다른 질문이 있으십니까?&nbsp;&nbsp;&nbsp;
                <a href="" class="inquire_a_tag">다른 문의 등록하기</a>
            </span>
        </div>
    </main>
    
</body>
</html>