<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 유통회원 상세보기</title>
    <link rel="stylesheet" href="../../static/css/notice/notice_detail.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
</head>
<body>
    
     <!-- 헤더 -->
     <header class="header">
        <div class="header-inner container">
            <div class="row">
                <div class="left_top">
                    <div class="header_logo">
                        <a href="">
                            <img src="../../static/image/boardList/logo_title.png" alt="북적북적로고" class="header_logo_img1">
                        </a>
                        <a href="">
                            <img src="../../static/image/notice/customercenter.png" alt="고객센터로고" class="header_logo_img">
                        </a>
                    </div>
                </div>
                <div class="right_top"></div>
            </div>
        </div>
    </header>


    <!-- 메인 -->
    <main role="main">
        <section class="top_line"></section>
        <div class="introduce_line container">
            <div class="introduce_line_member">
                <ol class="member_introduce">
                    <li title="북적북적 고객센터">
                        <a href="">북적북적 공지사항</a>
                    </li>
                    <img src="../../static/image/notice/arrow.png" alt="" class="arrow-ircon">
                    <li title="개인 회원">
                        <a href="">유통회원</a>
                    </li>
                    <img src="../../static/image/notice/arrow.png" alt="" class="arrow-ircon">
                    <li title="추천하기 ∙ 받기">
                        <a href="">이용방법</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="first_container container">
            <section class="article_wrapper">
                <div class="row">
                    <div class="article_base">
                        <div>
                            <h3 class="article_head">북적북적은 유통업자와 자영업자의 선택의 폭과 경험을 비교할 수 있습니다.</h3>
                            <div class="article_body">
                                <p>베트남 쌀국수란?</p>
                                <ul>
                                    <ul>
                                        <li>쌀국수</li>
                                        <li>사용 중인 본인 계정 메일주소</li>
                                        <li>사용 중인 본인 계정 메일주소</li>
                                        <li>사용 중인 본인 계정 메일주소</li>
                                        <li>사용 중인 본인 계정 메일주소</li>
                                        <li>지금은 베트남의 대표 음식이 된 쌀국수의 역사는 의외로 짧다. 지금으로부터 100여 년 전인 19세기말 방직공업이 번성했던 남딘(Nam Dinh)의 공장에서 하루 일과를 마친 노동자들이 고기국물에 국수를 말아 먹던 것이 쌀국수의 시초이다.
                                            [네이버 지식백과] 베트남 쌀국수 - 국수 한 그릇에 담긴 슬픈 역사 (푸드스토리, 김한송)
                                            
                                            </li>
                                        <li>베트남은 전 국민의 70% 이상이 농업에 종사하고 있는 대표적인 농업 국가이다. 그중에서도 쌀을 경작하기 위한 최적의 자연환경을 갖추고 있어 연간 최대 3모작도 가능하다. 이러한 자연환경 때문에 베트남의 한해 쌀 생산량은 베트남 전체 농업 생산량의 절반에 육박한다. 이처럼 풍부한 쌀을 가공하여 만든 음식이 바로 쌀국수이다. ‘퍼(Pho)'라고 불리는 쌀국수는 베트남 사람들이 분주한 아침의 간편한 식사 혹은 출출할 때 가볍게 먹을 수 있는 대중적인 음식이다. 쌀국수는 쫄깃하게 삶아낸 면발에 쇠고기나 닭육수를 넣고 신선한 야채를 듬뿍 곁들여 먹는 건강식이다.
                                            [네이버 지식백과] 베트남 쌀국수 - 국수 한 그릇에 담긴 슬픈 역사 (푸드스토리, 김한송)</li>
                                        <li>2000년대 초 국내에 첫 선을 보인 베트남 쌀국수는 건강한 음식을 찾는 한국인들에게 많은 사랑을 받으며 굳건히 그 위치를 지키고 있다. ‘웰빙’ 열풍을 타고 낮은 칼로리와 담백한 맛, 여기에 쌀로 만든 국수라는 점이 쌀 문화권인 한국에서 쌀국수가 성공한 배경이 된듯하다. 하지만 이렇게 맛있는 베트남 쌀국수 ‘퍼(Pho)'가 전쟁과 분단의 산물이라는 사실을 아는 사람은 그리 많지 않다. 전 세계로 퍼져나가 세계화에 성공한 쌀국수이지만 그 내면을 자세히 들여다보면 베트남인들의 슬픈 역사를 들여다 볼 수 있다.

                                            [네이버 지식백과]베트남 쌀국수 - 국수 한 그릇에 담긴 슬픈 역사 (푸드스토리, 김한송)
                                            
                                        </li>
                                    </ul>
                                </ul>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="right_section">
                        <p></p>
                        <div class="right_section_list">
                            <aside class="article_sidebar">
                                <section>
                                    <h3 class="sidebar_title">이 섹션의 문서</h3>
                                    <ul>
                                        <li>
                                            <a href="">베트남 쌀국수의 유래</a>
                                        </li>
                                        <li>
                                            <a href="">쌀국수의 종류</a>
                                        </li>
                                        <li>
                                            <a href="">쌀국수의 종류에 따른 조리 방법 차이</a>
                                        </li>
                                        <li>
                                            <a href="">베트남 쌀국수와 태국 쌀국수와의 차이점</a>
                                        </li>
                                        <li>
                                            <a href="">쌀국수 더 맛있게 먹는 방법</a>
                                        </li>
                                    </ul>
                                </section>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="second_container container">
            <span class="article_bottom">
                또 다른 질문이 있으십니까?&nbsp;&nbsp;&nbsp;
                <a href="" class="inquire_a_tag">다른 문의 등록하기</a>
            </span>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-box">
                <div class="footer-info">
                    <a href="javascript:void(0)" class="footer-image-box">
                        <img src="../../static/image/boardList/logo-icon.png" class="footer-image">
                        <img src="../../static/image/boardList/logo_title.png" class="footer-image" style="width: 90px;">
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>기업소개</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>이용약관</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>개인정보처리방침</h3>
                    </a>
                </div>
                <div class="footer-info-title">
                    <a href="javascript:void(0)">
                        <h3>고객센터</h3>
                    </a>
                </div>
            </div>
            <aside class="footer-aside">
                <div class="footer-aside-container">
                    <p>(주)북적북적 (대표이사:이순철) | 서울특별시 강남구 테헤란로 146 | 통신판매업번호 : 2015 - 서울강남 - 03148호</p>
                    <p>유료직업소개사업등록번호 : (국내) 제2999-3230259-14-5-0118호 | 사업자등록번호 : 000-1234-1234 |  02-538-0017</p>
                    <p>© Wantedlab, Inc</p>
                </div>
            </aside>
        </div>
    </footer>

    <!-- 문의하기 버튼  -->
    <div class="inquire_">
        <div style="margin: 0 auto;">
            <a href="" class="inquire_write">
                <img src="../../static/image/notice/questionmark.png" alt="" class="questionmark">
            </a>
        </div>
    </div>
            


</body>
</html>