<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 게시판</title>
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/boardList/notice-list.css">
</head>
<body>
<div>
    <header class="header">
        <div class="header-inner container">
            <div class="row">
                <div class="left_top">
                    <div class="header_logo">
                        <a th:href="@{/main/main}">
                            <img src="/image/main/logo1-removebg-preview.png" alt="북적북적로고" class="header_logo_img1">
                        </a>
                        <a href="">
                            <img src="/image/notice/customercenter.png" alt="고객센터로고" class="header_logo_img">
                        </a>
                    </div>
                </div>
                <div class="right_top"></div>
            </div>
        </div>
    </header>
    <main class="content-main">
        <section class="top_line"></section>
        <div class="content-main-box">
            <div class="content-box">
                <section class="content-box-layout">
                    <h2 class="content-box-title">공지사항</h2>
                    <ul class="content-list-box">
                        <!-- 리스트 뽑을 요소 -->
                        <th:block th:each="noticeVO : ${noticeVO}">
                            <li class="content-list">
                                <a th:href="@{/notice/detail/{noticeId}(noticeId=${noticeVO.noticeId})}">
                                    <div class="content-title" th:text="${noticeVO.noticeTitle}" style="cursor: pointer"></div>
                                    <div class="content" th:text="${noticeVO.noticeContent}" style="cursor: pointer"></div>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </section>
            </div>
            <div class="page-box">
                <a class="changePage" th:if="${pageDTO.prev}" th:href="${pageDTO.startPage - 1}"><span><</span></a>
                <th:block th:each="num:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                            <span th:text="${num}" th:if="${pageDTO.criteria.pageNum == num}"
                                  style="margin-right: 15px; width: 26px;height: 26px;"></span>
                    <a class="changePage" th:unless="${pageDTO.criteria.pageNum == num}" th:href="${num}">
                        <span th:text="${num}" style="margin-right: 15px; width: 26px;height: 26px;"></span>
                    </a>
                </th:block>
                <a class="changePage" th:if="${pageDTO.next}"
                   th:href="${pageDTO.endPage + 1}"><span>></span></a>
            </div>
            <form action="/notice/list" th:object="${criteria}" name="pageForm">
                <input type="hidden" th:field="*{pageNum}">
                <input type="hidden" th:field="*{amount}">
            </form>
        </div>
    </main>
    <block th:insert="~{main/footer :: footer}"></block>
    <!-- 문의하기 버튼  -->
    <div class="inquire_">
        <div style="margin: 0 auto;">
            <a href="" class="inquire_write" th:href="@{/board/inquiry/write}">
                <img src="/image/notice/questionmark.png"class="questionmark">
            </a>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/main/header.js"></script>
<script th:inline="javascript">
    let memberVO = [[${memberVO}]];
    let inquireDTO = [[${inquireDTO}]];

    //페이징 처리
    let $pageForm = $(pageForm);

    $("a.changePage").on("click", function(e){
        e.preventDefault();
        $pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        $pageForm.submit();
    });

    let interestingCompanyDTOs = [[${interestingCompanyDTOs}]];

    if (interestingCompanyDTOs.length == 0) {
        $(".page-box").hide();
        $(".no-content").show();
    } else {
        $(".no-content").hide();
        $(".page-box").show();
    }
</script>
</html>