<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../../static/css/notice/noticelist.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
</head>
<body>
    
    <!-- 헤더 -->
    <header class="header">
        <div class="header-inner container">
            <div class="row">
                <div class="left_top">
                    <div class="header_logo">
                        <a href="">
                            <img src="../../static/image/notice/wanted_logo.png" alt="헤더로고" class="header_logo_img">
                        </a>
                        <a href="">
                            <img src="../../static/image/notice/customercenter.png" alt="고객센터로고" class="header_logo_img">
                        </a>
                    </div>
                </div>
                <div class="right_top"></div>
            </div>
        </div>
    </header>

    <!-- 메인 -->
    <main role="main">
        <section class="top_line">
            <div class="container">
                <ol class="top_line_ol">
                    <li title="북적북적 고객센터">
                        <a href="">북적북적 공지사항</a>
                    </li>
                    <li title="검색 결과"></li>
                </ol>
            </div>
        </section>
        <div class="main_wrapper"></div>
    </main>

    <!-- 푸터 -->

</body>
</html>