<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/notice/service.css">
</head>
<body>
    <!-- 헤더 -->
    <header>
        <div id="header">
            <div class="header_wrapper common_wrapper">
                <div class="header_nav_logo">
                    <img id="logo" src="" alt="회사 로고" height="18px" width="82px" style="cursor: pointer;">
                </div>
                <nav class="header_nav_wrapper common_wrapper hide_sm">
                    <a class="header_nav_link" href="">북적북적 홈</a>
                    <div class="header_nav_divider"></div>
                    <ul class="header_nav_items">
                        <li id="nav-vision-pc">비전과 미션</li>
                        <li id="nav-status-pc">주요 현황</li>
                        <li id="nav-services-pc"> 서비스</li>
                        <li id="nav-bugjeogway-pc">북적북적웨이</li>
                        <li id="nav-contacts-pc">Contact</li>
                    </ul>
                </nav>
                <div class="common_wrapper show_sm">
                </div>
            </div>
        </div>

        <nav></nav>
    </header>

    <!-- 메인 -->
    <main>
        <!-- Overlay for active mobile navigation -->
        <div id="nav_mobile_overlay"></div>
        <!-- vision -->
        <section id="vision">
            <div class="vision_hero">
                <div class="vision_hero_wrapper common_wrapper">
                    <h1 class="vision_here_text">
                        모두가 나답게 일하고
                        <br>
                        즐겁게 성장할 수 있도록
                    </h1>
                    <div class="vision_show show_sm">
                        <div class="vision_show_div">
                            <h2></h2>
                            <br>
                            <h2></h2>
                        </div>
                    </div>
                    <div class="vision_hide hide_sm">
                        <div vision_hide_div>
                            <h2></h2>
                            <br>
                            <h2></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vision_statement">
                <div class="vision_statement_wrapper common_wrapper">
                    <p>원티드는 ‘모두가 나답게 일하고 즐겁게 성장하는 것을 돕는다’는 미션 아래 채용, 커리어 콘텐츠, HR 솔루션, 프리랜서 매칭 등 다양한 서비스를 제공합니다.</p>
                    <p>AI 매칭 등 차별화된 기술과 데이터를 통해 개인화된 커리어 성장 기회를 제공하며 HR테크 업계를 선도하고 있습니다.</p>
                </div>
            </div>
        </section>

        <!-- status -->
        <section id="status">
            <div class="status_title">
                <p>윈티디는 오늘도 일의 미래를 만들어가고 있습니다.</p>
            </div>
            <div class="status_list_outer">
                <div class="status_list_inner common_wrapper">
                    <div class="status_list_item">
                        <img src="" alt="" width="326px" height="auto" >
                        <p>아시아 전역에서 230만 유저와 1만 5천 기업을 300만 번 이상 매칭하고 있습니다.</p>
                    </div>
                    <div class="status_list_item">
                        <img src="" alt="" width="326px" height="auto" >
                        <p>다년간 축적된 300만 건의 지원, 합격 데이터를 기반으로 AI 합격 예측 서비스를 제공합니다..</p>
                    </div>
                    <div class="status_list_item">
                        <img src="" alt="" width="326px" height="auto" >
                        <p>매월 1.2억건 이상의 기업·유저 행동 데이터를 실시간으로 축적하고 분석합니다.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- services -->
        <section id="services">
            <div class="services_wrapper_outer common_wrapper">
                <div class="services_wrapper_inner">
                    <img src="" alt="" loading="lazy" width="100%" height="auto">
                    <h2 class="services_header">
                        나답게 일하고,
                        <br>
                        즐겁게 성장하기 위해
                    </h2>
                    <div class="services_item">
                        <a class="services_item_header" href="">
                            #채용
                            <img src="" alt="텍스트 화살표 아이콘">
                        </a>
                        <p class="services_item_description">AI 매칭 서비스를 통해 서류합격률을 4배 높이고, 채용 소요 시간을 70%로 단축했습니다.</p>
                    </div>
                    <div class="services_item">
                        <a class="services_item_header" href="">
                            #커리어성장
                            <img src="" alt="텍스트 화살표 아이콘">
                        </a>
                        <p class="services_item_description">강연, 아티클, 컨퍼런스 등 커리어 성장을 위한 다양한 콘텐츠와 교육 프로그램을 제공합니다.</p>
                    </div>
                    <div class="services_item">
                        <a class="services_item_header" href="">
                            #프리랜서
                            <img src="" alt="텍스트 화살표 아이콘">
                        </a>
                        <p class="services_item_description">프리랜서를 위한 플랫폼 ‘원티드긱스’는 검증된 프로젝트와 200만 프리랜서를 매칭합니다.</p>
                    </div>
                    <div class="services_item">
                        <a class="services_item_header" href="">
                            #HR솔루션
                            <img src="" alt="텍스트 화살표 아이콘">
                        </a>
                        <p class="services_item_description">AI 매칭 서비스를 통해 서류합격률을 4배 높이고, 채용 소요 시간을 70%로 단축했습니다.</p>
                    </div>
                    <div class="services_item">
                        <a class="services_item_header" href="">
                            #글로벌
                            <img src="" alt="텍스트 화살표 아이콘">
                        </a>
                        <p class="services_item_description">조직/근태 관리, 전자결재/계약 등 협업에 필요한 모든 것. ‘원티드스페이스’ 하나면 충분합니다.</p>
                    </div>
                </div>
            </div>
            <div class="services_background_wrapper hide_sm"></div>
        </section>

        <!-- bugjeogway -->
        <section id="bugjeogway">
            <div class="bugjeogway_card">
                <h2 class="bugjeogway_card_header">
                    유통의 트렌드를 바꾸는
                    <br>
                    북적북적의 방식
                </h2>
                <p class="bugjeogway_card_description">
                    일의 미래는 어떤 모습일까요?
                    모두가 더 나답게 일하고 즐겁게 성장하기 위해서는 무엇이 필요할까요?
                    원티드 구성원들은 이 질문에 대한 답을 찾기 위해, 내일을 향한 걸음을 조금 더 쉽고 편하게 만들기 위해, 끊임없이 고민하고 있습니다. 이는 원티드가 HR테크 업계를 선도하는 이유이기도 합니다.
                    <br>
                    <br>
                    이를 위해 원티드는 함께 일하는 방법에 대해 고민합니다. 그리고 이것을 ‘원티드웨이’라고 부릅니다. 아무도 가보지 않은 길에 첫 발을 내딛기도, 공동의 목표를 향해 하나의 팀이 되어 나아 가기도 합니다. 데이터로 소통하고, 적극적으로 공유하는 동료와 함께라면 험난한 과정도 즐거운 여정이 되죠.
                    <br>
                    <br>
                    일의 미래를 그려 나가는 원티드가 일하는 방식,
                    <br>
                    궁금하지 않으신가요?
                </p>
            </div>
        </section>

        <!-- contacts -->
        <section id="contacts">
            <div class="contacts_wrapper common_wrapper">
                <div class="contacts_information">
                    <h2>
                        북적북적에 대해
                        <br>
                        더 자세히 알아보세요.
                    </h2>
                    <p>
                        <span>문의</span>
                        <span>sooncheol@bugjeog.com</span>
                    </p>
                </div>
                <div class="contacts_button_wrapper">
                    <a class="contacts_button_base" href="">북적북적 여기 회의 </a>
                </div>
            </div>
        </section>

    </main>

    <!-- 푸터 -->
    <footer></footer>
</body>
</html>