<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 완료</title>
    <link rel="stylesheet" href="/css/member/newPW_complete.css">
</head>
<body>
    <div id="__next">
        <div class="newPW-end-all-wrap">
            <div class="newPW-end-middle-wrap">
                <form th:action="@{/member/login}">
                    <div class="newPW-end-box">
                        <div class="newPW-end-top">
                            <div class="newPW-end-leftTop"></div>
                            <div class="newPW-end-title">
                                <p class="newPW-end-titleWord">비밀번호 재설정</p>
                            </div>
                            <div class="newPw-end-rightTop"></div>
                        </div>
                        <div class="newPW-end-low-box">
                            <p class="newPW-end-bigWord">비밀번호를 변경했어요.</p>
                            <p class="newPW-end-smallWord">이제 아래의 버튼을 눌러 로그인을 계속하세요.</p>
                            <button type="submit" class="newPW-end-back">
                                <span class="newPW-end-back-ment">로그인으로 이동</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>