<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유통업체 PR 사이트</title>
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"/>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/boardList/pr-boardList.css">
    <link rel="stylesheet" href="/css/board_detail/board_detail.css">
</head>
<body>
<div th:if="${session.businessId != null or session.memberId != null}" th:insert="~{main/header-signin :: header}"></div>
<div th:unless="${session.businessId != null or session.memberId != null}" th:insert="~{main/header :: header}"></div>
<div class="all-wrap">
    <div id="header"></div>
    <div class="header-padding"></div>
    <div>
        <header class="boardList-header">
            <section class="banner-box"></section>
        </header>
    </div>
    <div class="boardList-section">
        <h2 class="boardList-title">다양한 유통업체들을 만나보세요!</h2>
        <div class="edge-div"></div>
        <div class="select-button-box">
            <div class="select-button-box-layout">
                <div class="cate-button-box">
                    <div class="cate-button-box-layout">
                        <button type="button" class="cate-button cate-button-active">
                            <span>전체</span>
                        </button>
                        <button type="button" class="cate-button" name="meat">
                            <span>육류</span>
                        </button>
                        <button type="button" class="cate-button" name="seafood">
                            <span>해산물</span>
                        </button>
                        <button type="button" class="cate-button" name="vegetable">
                            <span>채소</span>
                        </button>
                        <button type="button" class="cate-button" name="spice">
                            <span>향신료</span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="recent-popluar-box">
                    <div class="recent-popluar-box-layout">
                        <div class="recent-box">
                            <button type="button" class="recent-button sort-button sort-button-active" name="recent">
                                <span>최신순</span>
                            </button>
                        </div>
                        <div class="popluar-box">
                            <button type="button" class="popluar-button sort-button" name="popular">
                                <span>인기순</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <!-- 유통업자만 보이는 버튼(PR게시판 작성페이지 이동) -->
                        <button class="pr-register-button">
                            <a href="/board/business/write">
                                등록하기
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 보드 리스트 -->
        <ul class="boardList-info-box">
        </ul>
    </div>
    <!-- top 버튼 -->
    <button type="button" class="scroll-top-button">
        <img src="/image/boardList/arrow_icon.png" class="top-button">
    </button>

    <!-- 모달창 랩퍼 -->
    <div class="modal-active">
        <div id="modal_wrap">
            <div id="dimmer"></div>
            <div id="event_detail_modal" style="z-index: 1000;">
                <button class="event_detail_modal_btn">
                    <span style="display: flex;">
                        <svg class="event_detail_modal_svg" viewBox="0 0 24 24">
                            <path d="M17.97 19.03a.749.749 0 1 0 1.06-1.06l-6.5-6.5a.749.749 0 0 0-1.06 0l-6.5 6.5a.749.749 0 1 0 1.06 1.06L12 13.06l5.97 5.97zM12 10.94 6.03 4.97a.749.749 0 1 0-1.06 1.06l6.5 6.5a.749.749 0 0 0 1.06 0l6.5-6.5a.749.749 0 1 0-1.06-1.06L12 10.94z"></path>
                        </svg>
                    </span>
                </button>
            </div>

            <!-- 모달 창 내 상세페이지 랩퍼 -->
            <div id="all_wrap">
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/boardDetail/favoriteControll.js"></script>
<script th:inline="javascript">
    /* 로그인 한 멤버ID */
    let memberId = [[${session.memberId}]];

    /* 로그인 한 비지니스ID */
    let businessId = [[${session.businessId}]];

    let page = 1;/* 무한스크롤 시 참고하는 페이지넘버 */
    let sort = "recent";
    let category = "전체";

    /* 보드 리스트가 담길 ul태그 */
    const $ul = $('ul.boardList-info-box');
    //      모달 키고 끄는 js
    const $modal = $(".modal-active");

    /* 모달창 우상단 닫기 버튼 */
    const $closeBtn = $(".event_detail_modal_btn");

    /* 바디태그 */
    const body = document.getElementsByTagName('body')[0];

    /* 헤더태그. 모달창 활성화 시 z-index를 줄이기 위해 선언. 기본 z-index 800 */
    const $header = $('header.nav_bar');

</script>
<!-- 모달 상세보기 페이지 내용을 출력할 function이 있는 js파일 -->
<script th:inline="javascript" src="/js/boardDetail/boardBusinessDetailFunction.js"></script>
<script th:inline="javascript" src="/js/boardList/boardBusinessList.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        if (memberId != null || businessId == null) {
            $($('button.pr-register-button')[0]).hide();
        } else {
            $($('button.pr-register-button')[0]).show();
        }
    });
</script>
<script src="/js/boardList/pr-boardList.js"></script>
<script th:inline="javascript">
    $closeBtn.each((i, e) => {
        $(e).click(function () {
            $(".scroll-top-button").show();
            $modal.fadeOut(200);
            body.classList.remove('scrollLock');
            $header.css('z-index', 800);
        });
    });
</script>
<script src="/js/boardDetail/pr-boardList-test.js"></script>
<script th:inline="javascript">
    // const categoryName = $($(".cate-button.cate-button-active")[0]).attr('name');
    // const sortType = $($(".sort-button.sort-button-active")[0]).attr('name');

    const boardService = (function(){
    //    게시글 작성
    //    게시글 목록
        function getList(pageNum, sort, category, callback){
            $.ajax({
               url: "/board/business/list/" + pageNum + "?sort=" + sort + "&category=" + category,
               success: function(boards){
                   console.log(boards);
                   if(callback) {callback(boards);}
               }
            });
        }
    //    게시글 수정
    //    게시글 삭제
        return {getList: getList};
    })();

    boardService.getList(1, sort, category, showBoardList)

    $(window).scroll(
        function() {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                page++;
                boardService.getList(page, sort, category, showBoardList)
            }
        }
    );

    /* sort 버튼 이벤트 */
    const $sortButton = $(".sort-button");

    $sortButton.each((i, e) => {
        $(e).click(function () {
            $sortButton.removeClass("sort-button-active");
            $(e).addClass("sort-button-active");
            sort = $sortButton.eq(i).text().trim() == "최신순" ? "recent" : "popular";
            $ul.children("li").remove();
            page = 1;
            boardService.getList(page, sort, category, showBoardList);
        });
    });
    /* 카테고리 버튼 이벤트 */
    const $cateButton = $(".cate-button");

    $cateButton.each((i, e) => {
        $(e).click(function () {
            $cateButton.removeClass("cate-button-active");
            $(e).addClass("cate-button-active");
            category = $cateButton.eq(i).find("span").text().trim();
            $ul.children("li").remove();
            page = 1;
            boardService.getList(page, sort, category, showBoardList);
        });
    });
</script>
</html>