<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유통업체 PR 사이트</title>
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"/>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/boardList/pr-boardList.css">
    <link rel="stylesheet" href="/css/board_detail/board_detail.css">
</head>
<body>
<div th:insert="~{main/header :: header}"></div>
<div class="all-wrap">
    <div id="header"></div>
    <div class="header-padding"></div>
    <div>
        <header class="boardList-header">
            <section class="banner-box"></section>
        </header>
    </div>
    <div class="boardList-section">
        <h2 class="boardList-title">다양한 유통업체들을 만나보세요!</h2>
        <div class="edge-div"></div>
        <div class="select-button-box">
            <div class="select-button-box-layout">
                <div class="cate-button-box">
                    <div class="cate-button-box-layout">
                        <button type="button" class="cate-button cate-button-active">
                            <span>전체</span>
                        </button>
                        <button type="button" class="cate-button" name="meat">
                            <span>육류</span>
                        </button>
                        <button type="button" class="cate-button" name="seafood">
                            <span>해산물</span>
                        </button>
                        <button type="button" class="cate-button" name="vegetable">
                            <span>채소</span>
                        </button>
                        <button type="button" class="cate-button" name="spice">
                            <span>향신료</span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="recent-popluar-box">
                    <div class="recent-popluar-box-layout">
                        <div class="recent-box">
                            <button type="button" class="recent-button sort-button sort-button-active" name="recent">
                                <span>최신순</span>
                            </button>
                        </div>
                        <div class="popluar-box">
                            <button type="button" class="popluar-button sort-button" name="popular">
                                <span>인기순</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <button class="pr-register-button">
                            <a href="/board/business/write">
                                등록하기
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="boardList-info-box">
        </ul>
        <ul id="pagingWrap"></ul>
    </div>
    <button type="button" class="scroll-top-button">
        <img src="/image/boardList/arrow_icon.png" class="top-button">
    </button>
    <div class="modal-active">
        <div id="modal_wrap">
            <div id="dimmer"></div>
            <div id="event_detail_modal" style="z-index: 1000;">
                <button class="event_detail_modal_btn">
                        <span style="display: flex;">
                            <svg class="event_detail_modal_svg" viewBox="0 0 24 24">
                                <path d="M17.97 19.03a.749.749 0 1 0 1.06-1.06l-6.5-6.5a.749.749 0 0 0-1.06 0l-6.5 6.5a.749.749 0 1 0 1.06 1.06L12 13.06l5.97 5.97zM12 10.94 6.03 4.97a.749.749 0 1 0-1.06 1.06l6.5 6.5a.749.749 0 0 0 1.06 0l6.5-6.5a.749.749 0 1 0-1.06-1.06L12 10.94z"></path>
                            </svg>
                        </span>
                </button>
            </div>
            <div id="all_wrap">
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/boardDetail/favoriteControll.js"></script>
<script src="/js/boardList/boardBusinessPaging.js"></script>
<script th:inline="javascript">
    let memberId = [[${session.memberId}]];
    let businessId = [[${session.businessId}]];
    let businessReviewVO = [[${businessReviewVO}]];

    const $ul = $($('ul.boardList-info-box')[0]);
    //      모달 키고 끄는 js
    const $modal = $(".modal-active");
    const $closeBtn = $(".event_detail_modal_btn");
    const body = document.getElementsByTagName('body')[0];
    const $header = $('header.nav_bar');

</script>
<script th:inline="javascript" src="/js/boardDetail/boardBusinessDetailFunction.js"></script>
<script th:inline="javascript" src="/js/boardList/boardBusinessList.js"></script>
<script th:inline="javascript">
    let boards = [[${boards}]];
    $(document).ready(function () {
        if (memberId != null || businessId == null) {
            $($('button.pr-register-button')[0]).hide();
        } else {
            $($('button.pr-register-button')[0]).show();
        }
    });
    showSubBoardsList(boards);
</script>
<script src="/js/boardList/pr-boardList.js"></script>

<script th:inline="javascript">

    $('.modal_button').on("click", (e) => {
        let $label = $(e.currentTarget);
        $modal.fadeIn(200);
        body.classList.add('scrollLock');
        $(".scroll-top-button").css("display", "none");
        detailAjax($label.attr("name"));
    });

    // $modalBtn.each((i, e) => {
    //     $(e).click(function () {
    //
    //     });
    // });

    function detailAjax(boardBusinessId) {
        $.ajax({
            url: "/board/business/detail",
            method: "GET",
            data: {boardBusinessId: JSON.parse(boardBusinessId)},
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                /*가져온 데이터무더기*/
                let dataResult = JSON.parse(result);

                /*디테일 대상 게시글 정보*/
                let board = JSON.parse(dataResult.board);

                /*대상 게시글 이미지 정보*/
                let boardImgs = JSON.parse(dataResult.boardImgs);

                /*대상 게시글 리뷰들 정보*/
                let reviews = JSON.parse(dataResult.reviews);

                /*대상 게시글 작성자의 모든 글*/
                let boards = JSON.parse(dataResult.boards);
                /*로그인 정보가 있을 경우 가져옴*/
                let member = null
                let isFavorite = null;
                if (memberId != null) {
                    member = JSON.parse(dataResult.member);
                    isFavorite = JSON.parse(dataResult.isFavorite);
                }
                console.log(dataResult);
                let reviewCount = 0;
                reviewCount = JSON.parse(dataResult.reviewCount);
                let reviewGrade = JSON.parse(dataResult.reviewGrade);

                console.log(reviews);
                // let memberImgFullPath = JSON.parse(dataResult.memberImgFullPath);
                /* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
                showBusinessDetail(board, boardImgs, reviews, boards, member, reviewCount, reviewGrade, isFavorite);
                /* ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ */
                $header.css('z-index', -2);
                // 등록 버튼 초기 색상 설정

                afterDetail();

            },
            error: function (e) {
                console.log(e);
                console.log(e.responseJSON.message);
                console.log(e.responseJSON.trace);
                alert("전송실패 " + e);
            }
        });
    }

    $closeBtn.each((i, e) => {
        $(e).click(function () {
            $(".scroll-top-button").show();
            $modal.fadeOut(200);
            body.classList.remove('scrollLock');
            $header.css('z-index', 800);
        });
    });


</script>
<script src="/js/boardDetail/pr-boardList-test.js"></script>
<script th:inline="javascript">


    /* 작성글 목록 */
    // const boards = JSON.parse($boards); /* boards 정의해야 함 */


    /* 카테고리 버튼 이벤트 */
    const $cateButton = $(".cate-button");

    $cateButton.each((i, e) => {
        $(e).click(function () {
            $cateButton.removeClass("cate-button-active");
            $(e).addClass("cate-button-active");
            ajax();
        });
    });

    function ajax() {
        const categoryName = $($(".cate-button.cate-button-active")[0]).attr('name');
        const sortType = $($(".sort-button.sort-button-active")[0]).attr('name');
        const activePage = $($('a.pagingNum.activePage')[0]).attr('name').toString().split('_')[1];
        console.log(categoryName);
        console.log(sortType);
        console.log(activePage);
        $.ajax({
            url: "/board/business/list/ajax",
            method: "GET",
            data: {
                category: categoryName,
                sort: sortType,
                page: activePage
            },
            dataType: "json",
            success: function (result) {
                let boards = JSON.parse(JSON.parse(result).boardBusinessDTOs);
                let pageDTO = JSON.parse(JSON.parse(result).pageDTO);
                // let newBoards = `${result}`;
                $ul.empty();
                showBoardsList(boards, pageDTO);
            },
            error: function (e) {
                alert("보드리스트 실패");
                console.log(e);
            }
        });
    }

    /* sort 버튼 이벤트 */
    const $sortButton = $(".sort-button");

    $sortButton.each((i, e) => {
        $(e).click(function () {
            $sortButton.removeClass("sort-button-active");
            $(e).addClass("sort-button-active");
            ajax();
        });
    });
</script>
</html>