<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원티드- 나다운 일의시작</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"/>
    <!--    <link rel="stylesheet" href="css/board_detail/board_community_write.css">-->
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/board_detail/board_community_write.css">
    <link rel="stylesheet" href="/css/board_detail/board_write.css">
</head>
<body>
<a href="/board/business/list" style="display: none" id="submit_done"></a>
<div th:if="${session.businessId != null or session.memberId != null}" th:insert="~{main/header-signin :: header}"></div>
<div th:unless="${session.businessId != null or session.memberId != null}" th:insert="~{main/header :: header}"></div>
<form th:action="@{/board/business/write}" th:method="post" name="form">
    <div>
        <div id="header">
            <div id="header_div">
                <div id="header_btn">
                    <label for="regist_btn" class="register_btn" id="regist_label">
                        <span id="btn_span">등록하기</span>
                        <button type="button" id="regist_btn" style="display: none"></button>
                    </label>
                </div>
            </div>
        </div>
        <div id="wrap">
            <div id="wrap_div">
                <!--                <div style="display: flex; margin-bottom: 15px;">-->
                <!--                    <button type="button" name="category" class="cate-button cate-button-active" value="gogi">-->
                <!--                        <span class="category_span">육류</span>-->
                <!--                    </button>-->
                <!--                    <button type="button" name="category" class="cate-button" value="seafood">-->
                <!--                        <span class="category_span">해산물</span>-->
                <!--                    </button>-->
                <!--                    <button type="button" name="category" class="cate-button" value="vegetable">-->
                <!--                        <span class="category_span">채소</span>-->
                <!--                    </button>-->
                <!--                    <button type="button" name="category" class="cate-button" value="spice">-->
                <!--                        <span class="category_span">향신료</span>-->
                <!--                    </button>-->
                <!--                </div>-->
                <!--                <form th:action="@{/board/business/write}" th:method="post">-->
                <div id="title">
                    <textarea id="title_textarea" name="boardBusinessTitle" placeholder="제목을 입력해 주세요."
                    ></textarea>
                    <!--                              th:field="*{boardBusinessTitle}"></textarea>-->
                    <!-- <textarea></textarea> -->
                </div>
                <!--                <input id="location" type="text" placeholder="지역을 적어주세요." style="margin-top: 20px;">-->
                <!--                    <input id="location" type="text" placeholder="소재지를 적어주세요.">-->
                <!--                    <input id="location" type="text" placeholder="슬로건을 적어주세요.">-->
                <div id="content">
                    <div>
                        <textarea id="content_textarea" name="boardBusinessContent" placeholder="내용을 작성해 주세요."></textarea>
                        <!--                              th:field="*{boardBusinessContent}"></textarea>-->
                        <!-- <textarea></textarea> -->
                    </div>
                </div>
                <!--                </form>-->
                <ul id="thumbnail-list" style="display: flex;">
                    <!--                     <div style="width: 200px; height: 200px;">
                                            <label for="attach">
                                                <div class="image">
                                                    <span style="display: none;">X</span>
                                                </div>
                                                <div class="file-name" style="width: 100%; height: 100%;"></div>
                                            </label>
                                        <input type="file" id="attach" style="display: none">
                                        </div>
                                        <div style="width: 200px; height: 200px;">
                                            <label for="attach">
                                                <div class="image">
                                                    <span style="display: none;">X</span>
                                                </div>
                                            <div class="file-name"></div>
                                        </label>
                                        <input type="file" id="attach" style="display: none">
                                        </div>
                                        <div style="width: 200px; height: 200px;">
                                            <label for="attach">
                                                <div class="image">
                                                    <span style="display: none;">X</span>
                                                </div>
                                            <div class="file-name"></div>
                                        </label>
                                        <input type="file" id="attach" style="display: none">
                                        </div> -->
                </ul>
            </div>
        </div>
    </div>

    <div id="plus_picture">
        <div id="plus_picture_div">
            <span>사진을 추가해 보세요!
                최대 3개까지 할수 있습니다.
            </span>
            <div></div>
        </div>
        <label for="photo-picker">
            <div id="plus_button">
                <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     style="left: 10px !important;">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M7.52489 11.47L9.9908 13.9387L15.4533 8.46998C15.7462 8.17668 16.2216 8.17668 16.5145 8.46998L22.5076 14.47C22.6481 14.6106 22.727 14.8012 22.727 15V19.0395C22.727 19.4539 22.3909 19.7897 21.9765 19.7895L1.99951 19.7763C1.58501 19.776 1.24932 19.4396 1.25 19.0251L1.273 4.99877C1.27368 4.58465 1.60987 4.24946 2.02399 4.25L22.001 4.27632C22.4163 4.27686 22.7521 4.61486 22.75 5.0302L22.727 9.4677C22.7248 9.88191 22.3873 10.216 21.9731 10.2138C21.5589 10.2117 21.2249 9.87414 21.227 9.45993L21.2461 5.77532L2.77177 5.75099L2.75123 18.2768L21.227 18.289V15.3104L15.9839 10.0613L10.5214 15.53C10.2285 15.8233 9.75313 15.8233 9.46017 15.53L6.99425 13.0613L5.52718 14.53C5.23446 14.8231 4.75959 14.8234 4.46653 14.5306C4.17346 14.2379 4.17319 13.763 4.46591 13.47L6.46361 11.47C6.75658 11.1767 7.23192 11.1767 7.52489 11.47ZM9 9.75H5C4.58579 9.75 4.25 9.41421 4.25 9C4.25 8.58579 4.58579 8.25 5 8.25H9C9.41421 8.25 9.75 8.58579 9.75 9C9.75 9.41421 9.41421 9.75 9 9.75Z"
                          fill="currentColor"></path>
                    <mask id="mask0_150_2361" maskUnits="userSpaceOnUse" x="1" y="4" width="22" height="16">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M7.52489 11.47L9.9908 13.9387L15.4533 8.46998C15.7462 8.17668 16.2216 8.17668 16.5145 8.46998L22.5076 14.47C22.6481 14.6106 22.727 14.8012 22.727 15V19.0395C22.727 19.4539 22.3909 19.7897 21.9765 19.7895L1.99951 19.7763C1.58501 19.776 1.24932 19.4396 1.25 19.0251L1.273 4.99877C1.27368 4.58465 1.60987 4.24946 2.02399 4.25L22.001 4.27632C22.4163 4.27686 22.7521 4.61486 22.75 5.0302L22.727 9.4677C22.7248 9.88191 22.3873 10.216 21.9731 10.2138C21.5589 10.2117 21.2249 9.87414 21.227 9.45993L21.2461 5.77532L2.77177 5.75099L2.75123 18.2768L21.227 18.289V15.3104L15.9839 10.0613L10.5214 15.53C10.2285 15.8233 9.75313 15.8233 9.46017 15.53L6.99425 13.0613L5.52718 14.53C5.23446 14.8231 4.75959 14.8234 4.46653 14.5306C4.17346 14.2379 4.17319 13.763 4.46591 13.47L6.46361 11.47C6.75658 11.1767 7.23192 11.1767 7.52489 11.47ZM9 9.75H5C4.58579 9.75 4.25 9.41421 4.25 9C4.25 8.58579 4.58579 8.25 5 8.25H9C9.41421 8.25 9.75 8.58579 9.75 9C9.75 9.41421 9.41421 9.75 9 9.75Z"
                              fill="white"></path>
                    </mask>
                    <g mask="url(#mask0_150_2361)">
                        <rect width="24" height="24" fill="currentColor"></rect>
                    </g>
                </svg>
            </div>
            <input class="imageFileInput" id="photo-picker" type="file"
                   accept="image/jpg, image/jpeg, image/png, image/bmp"
                   style="display: none;" multiple>
        </label>
    </div>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let businessId = [[${session.businessId}]];
</script>
<script src="/js/boardDetail/boardBusinessWriteBasic.js"></script>
<script th:inline="javascript">
    /* uuid를 담을 전역?변수 */
    globalThis.uuids;
    // globalThis.fileData = new Array();
    FileList.prototype.forEach = Array.prototype.forEach;

    /* input 태그에 변화가 생기면 */
    $('input[type=file]').on("change", function () {
        /* input 태그 내 파일 */
        /* 근데 하나뿐임 */
        const $files = $('input[type=file]')[0].files;

        /* 파일 업로드마다 바뀜. */
        let formData = new FormData();

        $files.forEach(file => {
            formData.append("file", file);
        });
        /* 단순 썸네일 및 파일 저장 */
        $.ajax({
            url: "/imgs/business/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: function (uuids) {
                $("#thumbnail-list").remove("li");
                globalThis.uuids = uuids;
                $files.forEach((file, i) => {
                    sensor();
                    registerSensor();
                    if($(".imageThumbnail").length > 2){return ;}
                    if (file.type.startsWith("image")) {
                        let text = ``;
                        text += `
                                <li>
                                     <div class="imageThumbnail" style="background-image: url('/imgs/business/display?fileName=${toStringByFormatting(new Date())}/${uuids[i]}_${file.name}')">
                                        <span class="closeImgButton"></span>`;
                        // <a href="/imgs/business/download?fileName=${toStringByFormatting(new Date())}/${uuids[i]}_${file.name}"><img src="/imgs/business/display?fileName=${toStringByFormatting(new Date())}/t_${uuids[i]}_${file.name}"></a>
                        text += `    </div>
                                </li>`;
                        $("#thumbnail-list").append(text);
                    }

                })

                /* 파일 개수가 3개 이상이면 버튼숨기기 */
                function sensor() {
                    if ($(".imageThumbnail").length > 2) {
                        $("#plus_picture").hide();
                    } else {
                        $("#plus_picture").show();
                    }
                }

                const $closeButton = $(".closeImgButton");
                // const thumbnail = document.querySelector(".imageThumbnail");
                // const thumbnailSpan = document.querySelector(".closeImgButton");
                /* x버튼 누를 시 x버튼과 backgroundImage 지워주기 */

                $closeButton.on('click', function (e) {
                    let target = $(e.currentTarget).parent().parent();
                    target.remove();
                });

                // Mutation Observer
                // 감시 대상 node 선택
                let target = document.querySelector('ul#thumbnail-list');

                // 감시자 인스턴스 만들기
                let observer = new MutationObserver((mutations) => {
                    sensor();
                    registerSensor();
                })

                // 감시자의 설정
                let option = {
                    attributes: true,
                    childList: true,
                    characterData: true,
                    subtree: true
                };

                // 대상 노드에 감시자 전달
                observer.observe(target, option);
            },
            error: function () {
                console.log("change 이벤트 ajax 실패")
            }
        });
    });

    $("#regist_btn").on("click", function () {
        const $files = $("input[type=file]")[0].files;
        let text = "";
        FileList.prototype.forEach = Array.prototype.forEach;
        $files.forEach((file, i) => {
            text +=
                `
                <input type="hidden" name="files[${i}].boardBusinessImgOriginalName" value="${file.name}">
                <input type="hidden" name="files[${i}].boardBusinessImgUuid" value="${globalThis.uuids[i]}">
                <input type="hidden" name="files[${i}].boardBusinessImgPath" value="${toStringByFormatting(new Date())}">
                `;
        });
        $("form[name=form]").append(text);
        $("form[name=form]").submit();
    });

    $(document).ready(function () {
        // 등록 버튼 초기 색상 설정
        $('button[type="submit"]').css("color", "rgb(196, 196, 196)").css("background-color", "rgb(242, 244, 247)");

        // textarea 입력시 등록 버튼 색상 변경
        $('#reply_textarea').on('input', function () {
            if ($(this).val().length > 0) {
                $('button[type="submit"]').css("color", "white").css("background-color", "blue");
            } else {
                $('button[type="submit"]').css("color", "rgb(196, 196, 196)").css("background-color", "rgb(242, 244, 247)");
            }
        });
    });

    /*****************************************************/
    function leftPad(value) {
        if (value >= 10) {
            return value;
        }

        return `0${value}`;
    }

    function toStringByFormatting(source, delimiter = '/') {
        const year = source.getFullYear();
        const month = leftPad(source.getMonth() + 1);
        const day = leftPad(source.getDate());

        return [year, month, day].join(delimiter);
    }

    /*****************************************************/
</script>
</html>