<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 활동</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="../../../static/css/mypage/font.css">
    <link rel="stylesheet" href="../../../static/css/mypage/mypage.css"><!-- 마이페이지 관련 공통 -->
    <link rel="stylesheet" href="../../../static/css/mypage/mypage_profile.css"><!-- 마이페이지 중 프로필 공통 -->
    <!-- <link rel="stylesheet" href="../../../static/css/mypage/mypage_personal.css"> -->
    <link rel="stylesheet" href="../../../static/css/mypage/mypage_profile_personal.css">
    <link rel="stylesheet" href="../../../static/css/mypage/mypage_profile_personal_comment_list.css">
    <link rel="stylesheet" href="../../../static/css/main/header.css">
    <link rel="stylesheet" href="../../../static/css/main/footer.css">
</head>

<body class="profile_body">
    <div class="Container_Profile">
        <header th:insert="~{main/header :: header}"></header>
        <!-- <header id="header"></header> -->
        <div class="padding_for_header"></div>
        <main class="MatchUp-Container">
            <nav class="NavBar_presentation mypage">
                <h2 class="Nav_title mypage">
                    <p>프로필</p>
                    <button class="Nav_button">프로필</button>
                </h2>
            </nav>
            <section class="main_container is-relative">
                <!-- 사이드 메뉴 인클루드 -->
                <aside class="Aside_include"></aside>
                <section>
                    <aside class="CareerConnectBanner is-hidden">
                        <picture>
                            <source srcset="https://static.wanted.co.kr/career_connect/banner-back-pc-common.webp">
                            <img src="https://static.wanted.co.kr/career_connect/banner-back-pc-common.png" alt="">
                        </picture>
                    </aside>
                    <div>
                        <header class="summary_wrapper">
                            <h2 class="summary_title">나의 활동</h2>
                            <ul class="summary_status">
                                <li class="summary_content">
                                    <a href="">
                                        <em>0</em>
                                        <span>작성글</span>
                                    </a>
                                </li>
                                <li class="summary_content">
                                    <a href="">
                                        <em>0</em>
                                        <span>작성댓글</span>
                                    </a>
                                </li>
                                <li class="summary_content">
                                    <a href="">
                                        <em>0</em>
                                        <span>좋아요</span>
                                    </a>
                                </li>
                                <li class="summary_content" style="border: none;">
                                    <a href="">
                                        <em>0</em>
                                        <span>문의글</span>
                                    </a>
                                </li>
                            </ul>
                        </header>
                    </div>
                    <div class="CommunityProfile_body">
                        <div class="CommunityProfile_header">
                            <h2>내 활동</h2>
                            <ul class="CommunityProfile_tabs">
                                <li class="">
                                    <button type="button">작성글<button type="button">
                                </li>
                                <li class="CommunityProfile_current">
                                    <button type="button">작성댓글<button type="button">
                                </li>
                                <li class="">
                                    <button type="button">좋아요<button type="button">
                                </li>
                                <li class="">
                                    <button type="button">문의글<button type="button">
                                </li>
                            </ul>
                        </div>
                        <div class="CommunityProfile_list">
                            <!-- 첫번째 글 -->
                            <article class="PostItem_wrapper">
                                <div class="PostItem_top">
                                    <a href=""><!-- 글쓴이 프로필 페이지 링크 -->
                                        <div class="AuthorBox_Wrapper">
                                            <div class="AuthorBox_horizontalBox">
                                                <div class="AuthorBox_avatarWrapper">
                                                    <div class="AuthorBox_avatar">
                                                        <img src="https://static.wanted.co.kr/open_profile/avatar/bb7fc620aaa234ed5da383ee06d9b6c2a4d331dd6b105f70b80c20113b6e9f00"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <span class="AuthorBox_username">what0</span>
                                                <span class="AuthorBox_createAt">2023.03.13</span>
                                            </div>
                                            <h3 class="Author_title">
                                                합격통보 받고 한달안에 안간다고 연락드려도 되나요..?
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                                <a class="PostItem_body" href="">
                                    <div><img src="../../../static/image/mypage/reply-64.png" alt=""></div>
                                    <p class="PostItem_content">
                                        합격 통보받고 한달동안 기간있는데 그 기간안에 원하던곳에 합격하면 보통
                                        뭐라고 연락드리나요..?그냥 날렸다 생각하고 진행하시나요..?
                                    </p>
                                </a>
                            </article>


                            <!-- 두번째 글 -->
                            <article class="PostItem_wrapper">
                                <div class="PostItem_top">
                                    <a href=""><!-- 글쓴이 프로필 페이지 링크 -->
                                        <div class="AuthorBox_Wrapper">
                                            <div class="AuthorBox_horizontalBox">
                                                <div class="AuthorBox_avatarWrapper">
                                                    <div class="AuthorBox_avatar">
                                                        <img src="https://static.wanted.co.kr/open_profile/avatar/bb7fc620aaa234ed5da383ee06d9b6c2a4d331dd6b105f70b80c20113b6e9f00"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <span class="AuthorBox_username">what0</span>
                                                <span class="AuthorBox_createAt">2023.03.13</span>
                                            </div>
                                            <h3 class="Author_title">
                                                합격통보 받고 한달안에 안간다고 연락드려도 되나요..?
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                                <a class="PostItem_body" href="">
                                    <div><img src="../../../static/image/mypage/reply-64.png" alt=""></div>
                                    <p class="PostItem_content">
                                        합격 통보받고 한달동안 기간있는데 그 기간안에 원하던곳에 합격하면 보통
                                        뭐라고 연락드리나요..?그냥 날렸다 생각하고 진행하시나요..?
                                    </p>
                                </a>
                            </article>

                            <!--    글 폼
                            <article class="PostItem_wrapper">
                                <div class="PostItem_top">
                                    <a href="">
                                        <div class="AuthorBox_Wrapper">
                                            <div class="AuthorBox_horizontalBox">
                                                <div class="AuthorBox_avatarWrapper">
                                                    <div class="AuthorBox_avatar">
                                                        <img src="https://static.wanted.co.kr/open_profile/avatar/bb7fc620aaa234ed5da383ee06d9b6c2a4d331dd6b105f70b80c20113b6e9f00"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <span class="AuthorBox_username">what0</span>
                                            </div>
                                            <span class="AuthorBox_createAt">2023.03.13</span>
                                            <h3 class="Author_title">
                                                합격통보 받고 한달안에 안간다고 연락드려도 되나요..?
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                                <a class="PostItem_body" href="">
                                    <p class="PostItem_content">
                                        합격 통보받고 한달동안 기간있는데 그 기간안에 원하던곳에 합격하면 보통
                                        뭐라고 연락드리나요..?그냥 날렸다 생각하고 진행하시나요..?
                                    </p>
                                    <div class="PostItem_bottom">
                                        <div class="PostItem_like">
                                            <img src="../../../static/image/mypage/like_before.png" alt="">
                                            <span class="button_count">2</span>
                                        </div>
                                        <div class="PostItem_comments">
                                            <img src="" alt="">
                                            <span class="button_count">2</span>
                                        </div>
                                    </div>
                                </a>
                            </article>
-->
                        </div>
                    </div>
                </section>
            </section>
        </main>
        <block th:insert="~{main/footer :: footer}"></block>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>$('.Aside_include').load('../fragment/aside_personal.html');</script><!-- th:삽입후 제거 -->
<!-- <script>$('.Aside_include').load('fragment/aside_business.html');</script> -->
<script src="../../../static/js/mypage/include_fixed.js"></script><!-- th:삽입후 제거 -->
<script>
    const $tabLis = $('ul.CommunityProfile_tabs').children('li');
    const $boardListWrapper = $($('div.CommunityProfile_list')[0]);
</script>
<!-- <script src="../../../static/js/mypage/switch_tab.js"></script> -->
<script src="../../../static/js/mypage/showList.js"></script>
<script>
    $tabLis.on('click', (e) => {
        console.log(e.currentTarget);
        var $target = $(e.currentTarget);
        for (let i = 0; i < $tabLis.length; i++) {
            if ($($tabLis[i]).hasClass('CommunityProfile_current')) { $($tabLis[i]).removeClass('CommunityProfile_current'); }
        }
        $target.addClass('CommunityProfile_current');

        console.log($target.children('button')[0].innerHTML);
        console.log($boardListWrapper.empty());
        switch($target.children('button')[0].innerHTML){
            case '작성글':
                showListPost(list);
                break;
            case '작성댓글':
                showListReply(list);
                break;
            case '좋아요':
                showListLike(list);
                break;
            case '문의글':
                showListInquiry(list);
                break;
        }


});


</script>


</html>