<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/mypage/mypage_info.css">
    <link rel="stylesheet" href="/css/mypage/mypage_dedicated_header.css">
</head>
<body>
    <!-- 파일 넣으면 뜰 모달-->
    <div class="file-modal-display">
        <div class="file-modal">
            <div class="file-modal-box">
                <div class="file-modal-title-box-layout">
                    <div class="file-modal-cell"></div>
                    <div class="file-modal-title-box">
                        <p class="file-modal-title">
                            프로필 사진
                        </p>
                    </div>
                    <div class="file-modal-exit-box">
                        <button class="file-modal-exit exit" type="button">
                            <span class="file-modal-exit-icon-box">
                                <svg viewBox="0 0 24 24" class="file-modal-exit-icon"><path d="M17.97 19.03a.749.749 0 1 0 1.06-1.06l-6.5-6.5a.749.749 0 0 0-1.06 0l-6.5 6.5a.749.749 0 1 0 1.06 1.06L12 13.06l5.97 5.97zM12 10.94 6.03 4.97a.749.749 0 1 0-1.06 1.06l6.5 6.5a.749.749 0 0 0 1.06 0l6.5-6.5a.749.749 0 1 0-1.06-1.06L12 10.94z"></path></svg>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="file-modal-image-box-layout">
                    <div class="file-modal-image-box">
                        <img src="/image/boardList/distributor_icon.png" class="file-modal-image">
                    </div>
                    <div class="file-modal-button-box">
                        <button class="image-cancel-button cancel">
                            <span>취소</span>
                        </button>
                        <button class="image-save-button save">
                            <span>저장</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 비밀번호 변경 모달-->
    <div class="password-modal-display">
        <div class="password-modal">
            <div class="password-modal-box">
                <div class="password-modal-title-layout">
                    <div class="file-modal-cell"></div>
                    <div class="password-modal-title-box">
                        <p class="file-modal-title">
                            비밀번호 변경
                        </p>
                    </div>
                    <div class="file-modal-exit-box">
                        <button class="password-modal-exit" type="button">
                            <span class="file-modal-exit-icon-box">
                                <svg viewBox="0 0 24 24" class="file-modal-exit-icon"><path d="M17.97 19.03a.749.749 0 1 0 1.06-1.06l-6.5-6.5a.749.749 0 0 0-1.06 0l-6.5 6.5a.749.749 0 1 0 1.06 1.06L12 13.06l5.97 5.97zM12 10.94 6.03 4.97a.749.749 0 1 0-1.06 1.06l6.5 6.5a.749.749 0 0 0 1.06 0l6.5-6.5a.749.749 0 1 0-1.06-1.06L12 10.94z"></path></svg>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="password-modal-input-box-layout">
                    <div style="margin: 30px 0px;">
                        <div>
                            <div class="password-title-box">
                                <span>변경 비밀번호</span>
                            </div>
                            <div class="password-modal-input-box">
                                <input type="password" id="new-password" class="password-input" placeholder="비밀번호를 입력해주세요.">
                            </div>
                            <p class="password-error error-msg"></p>
                            <div class="password-title-box">
                                <span>비밀번호 재확인</span>
                            </div>
                            <div class="password-modal-input-box">
                                <input type="password" id="new-password-check" class="password-input" placeholder="비밀번호를 입력해주세요.">
                            </div>
                            <p class="password-check-error error-msg"></p>
                        </div>
                    </div>
                    <div class="password-modal-button-box-layout">
                        <button class="password-modal-exit cancel">
                            <span>취소</span>
                        </button>
                        <button class="password-save">
                            <span>저장</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="whole_wrapper">
        <div class="mypage_wrapper">
            <header id="header" style="width: 100%;" th:insert="~{mypage/fragment/header :: logout_header}"></header>
            <div class="header-padding">
            </div>
            <main class="mypage_info_container">
                <header class="member_img_container">
                    <div class="img_wrapper">
                            <img class="img_profile" src="/image/boardList/self_employ_icon.png">
                        <label class="edit_wrapper">
                            <input style="display: none;" type="file" name="file">
                            <span class="edit_span">
                                <img src="/image/mypage/ink-pen-64.png">
                            </span>
                        </label>
                    </div>
                    <p class="welcome_msg change-name"th:text="|${memberVO.memberName}님, 환영해요.|">
                    </p>
                </header>
                <section class="info_content member_info_container">
                    <p class="manageAccount">
                        계정 관리
                    </p>
                    <p class="manageAccount_message">
                        서비스에서 사용하는 내 계정 정보를 관리할 수 있습니다.
                    </p>
                    <ul class="info_wrapper" th:object="${memberVO}">
                        <li class="emailChange">
                            <p class="changeTitle">이메일</p>
                            <p class="emailText" th:text="*{memberEmail}"></p>
                        </li>
                        <li class="changeDefault">
                            <p class="changeTitle">이름</p>
                            <p class="changeText memberName" th:text="*{memberName}"></p>
                            <a class="changeButton MainResume-edit js-modal-trigger member-name-modal-button">
                                <span class="img_span is-flex">
                                    <img src="/image/mypage/arrow-right-64.png">
                                </span>
                            </a>
                        </li>
                        <li class="changeDefault">
                            <p class="changeTitle">휴대폰 번호</p>
                            <p class="changeText phoneNumber"></p>
                            <a class="changeButton MainResume-edit js-modal-trigger phone-modal-button" data-target="modal-edit_phone">
                                <span class="img_span is-flex">
                                    <img src="/image/mypage/arrow-right-64.png" alt="">
                                </span>
                            </a>
                        </li>
                    </ul>
                </section>

                <section class="info_content member_exit">
                    <p class="manageAccount">
                        개인 정보 보호
                    </p>
                    <p class="manageAccount_message">
                        내 계정을 안전하게 보호하기 위한 정보를 관리할 수 있습니다.
                    </p>
                    <ul class="info_wrapper">
                        <li class="changeDefault">
                            <p class="changeTitle">비밀번호 변경</p>
                            <p class="changeText"></p>
                            <a class="changeButton password-change-modal">
                                <img src="/image/mypage/arrow-right-64.png" alt="">
                            </a>
                        </li>
                        <li class="changeDefault">
                            <p class="changeTitle">회원 탈퇴</p>
                            <p class="changeText"></p>
                            <a class="changeButton" th:href="@{/mypage/profile/exit}">
                                <img src="/image/mypage/arrow-right-64.png" alt="">
                            </a>
                        </li>
                    </ul>
                </section>
                <div class="footer-wrap">
                    <div style="display: flex">
                        <a href="javascript:void(0)" class="footer-link">
                            이용약관
                        </a>
                        <a href="javascript:void(0)" class="footer-link font-bold">
                            개인정보처리방침
                        </a>
                    </div>
                    <p class="footer-p">© bugjeogbugjeog, Inc.</p>
                </div>
            </main>
        </div>
    </div>

    <!-- 이름 변경 모달창 -->
    <div class="member-name-modal">
        <div id="modal-edit_name" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box modal_box"><!-- 이 안에만 넣어야 됨 -->
                    <div class="modal_content_wrapper is-relative">
                        <div class="modal_content_top">
                            <div class="modal_content_top_center">
                                <p class="modal_content_name">이름</p>
                            </div>
                        </div>
                        <div class="modal_content_bottom">
                            <form>
                                <div class="modal_edit_input_wrapper">
                                    <input type="text" placeholder="이름을 입력해주세요." name="membername" class="edit_input_name"
                                           th:value="${memberVO.memberName}">
                                    <span class="error-msg name-error"></span>
                                </div>
                                <div class="modal_edit_btn_wrapper">
                                    <button type="button" class="modal_cancel name-modal-exit">
                                        <span class="modal_btn_span">취소</span>
                                    </button>
                                    <button type="button" class="modal_save name-save">
                                        <span class="modal_btn_span">저장</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <button class="modal-close is-large name-modal-exit" style="position: absolute;" aria-label="close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 휴대폰 번호 변경 모달창 -->
    <div class="member-phone-modal">
        <div id="modal-edit_phone" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box modal_box"><!-- 이 안에만 넣어야 됨 -->
                    <div class="modal_content_wrapper">
                        <div class="modal_content_top">
                            <div class="modal_content_top_center">
                                <p class="modal_content_name">휴대폰 번호</p>
                            </div>
                        </div>
                        <div class="modal_content_bottom">
                            <form>
                                <div class="modal_content_main_wrapper">
                                    <div class="columns is-multiline m-0">
                                        <div class="modal_input_number column columns is-full m-0 p-0">
                                            <div class="columns column is-multiline m-0 p-0">
                                                <input name="memberPhoneNumber" class="modal_input column is-full" th:value="${memberVO.memberPhoneNumber}"
                                                    placeholder="(예시) 01013245768" type="text" readonly disabled>
                                            </div>
                                            <label class="">
                                                <button type="button" class="auth_number find-take-btn btn_active change-phoneNumber">
                                                    <span class="edit_phone_number">번호 변경</span>
                                                </button>
                                                <button type="button" class="auth_number find-take-btn btn_active code-button">
                                                    <span class="edit_phone_number">인증번호 받기</span>
                                                </button>
                                            </label>
                                        </div>
                                        <span class="phone-error error-msg column is-full p-0"></span>
                                        <div class="modal_input_number column is-full p-0">
                                            <input readonly type="text" class="modal_input code-check-input" id="auth-check" placeholder="인증번호를 입력해주세요." maxlength="4">
                                        </div>
                                        <p class="error-msg auth-msg"></p>
                                    </div>
                                </div>
                                <div class="modal_edit_btn_wrapper">
                                    <button type="button" class="modal_cancel phone-modal-exit">
                                        <span class="modal_btn_span">취소</span>
                                    </button>
                                    <button type="button" class="modal_save phone-save">
                                        <span class="modal_btn_span">저장</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <button class="modal-close is-large phone-modal-exit" style="position: absolute;" aria-label="close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let memberVO = [[${memberVO}]];

    if(memberVO.memberImgUuid){
        $(".img_profile").attr("src",`/mypage/profile/display?fileName=${memberVO.memberImgPath}/${memberVO.memberImgUuid}_${memberVO.memberImgOriginalName}`);
    }

    $(".phoneNumber").text(phoneNumber(memberVO.memberPhoneNumber));

    function phoneNumber(phoneNumber){
        var phone1 = phoneNumber.substring(0,3);
        var phone2 = phoneNumber.substring(3,7);
        var phone3 = phoneNumber.substring(7);
        let phone = phone1 + "-" + phone2 + "-" + phone3;
        return phone;
    }
</script>
<script>
    globalThis.uuid;
    FileList.prototype.forEach = Array.prototype.forEach;

    // 썸네일
    $("input[name='file']").on("change", function(e){
        e.preventDefault();
        const $file = $("input[name=file]")[0].files[0];
        let formData = new FormData();
        formData.append("file", $file);

        $.ajax({
            url: "/mypage/profile/upload-file",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: function(uuid) {
                globalThis.uuid = uuid;
                    if($file.type.startsWith("image")){
                        $fileModal.show();
                        $(".file-modal-image").attr("src", `/mypage/profile/display?fileName=${toStringByFormatting(new Date())}/t_${uuid}_${$file.name}`);
                    }else{
                        alert("이미지 파일만 넣어주세요.");
                    }
            }
        });
    });

    $(".image-save-button").on("click", function(){
        const $file = $("input[name=file]")[0].files[0];
        let member = new Object();

        member.memberImgOriginalName = $file.name;
        member.memberImgUuid = globalThis.uuid;
        member.memberImgPath = toStringByFormatting(new Date());
        member.memberId = 1;
        $.ajax({
            url: "/mypage/profile/file-memeber-save",
            type: "patch",
            data: JSON.stringify(member),
            contentType: "application/json; charset=utf-8",
            success: function(){
                $fileModal.hide();
                $(".img_profile").attr("src",`/mypage/profile/display?fileName=${toStringByFormatting(new Date())}/${uuid}_${$file.name}`);
            }
        });
    });


// ========================================================
    function leftPad(value) {
        if (value >= 10) {
            return value;
        }

        return `0${value}`;
    }

    function toStringByFormatting(source, delimiter = '/') {
        const year = source.getFullYear();
        const month = leftPad(source.getMonth() + 1);
        const day = leftPad(source.getDate());

        return [year, month, day].join(delimiter);
    }

    // ========================================================

    // 이름 변경 검사
    const $nameInput = $("input[name=membername]");
    let memberNameCheck = false;
    $nameInput.blur(function(){
        if(!$(this).val()){
            $(".name-error").text("이름을 입력해주세요.");
            memberNameCheck = false;

        }else if($(this).val().length < 2 || $(this).val().length > 4){
            $(".name-error").text("이름은 2자리 이상 4자리 이하로 입력해주세요.");
            memberNameCheck = false;

        }else if(memberServiceCheck.memberNameCheck($(this).val())){
            $(".name-error").text("현재 이름과 동일합니다.");
            memberNameCheck = false;

        }else {
            $(".name-error").text("");
            memberNameCheck = true;
        }
    });

    // 이름 저장
    const $nameSaveButton = $(".name-save");

    $nameSaveButton.click(function(){
        if(!memberNameCheck){
            alert("이름을 확인해주세요.");
            return false;
        }
        let memberName = $("input[name=membername]").val();

        memberUpdate.memberNameUpdate(memberName);
    });

    // 번호 변경 클릭시 input태그 활성화
    const $changeButton = $(".change-phoneNumber");
    $changeButton.click(() => {
        $("input[name=memberPhoneNumber]").removeAttr("disabled");
        $("input[name=memberPhoneNumber]").removeAttr("readonly");
        $("input[name=memberPhoneNumber]").val("");
    });

    // 휴대폰 번호 검사
    const regPhone = /^010([0|1|6|7|8|9])?([0-9]{4})?([0-9]{4})$/;
    const $memberPhone = $("input[name=memberPhoneNumber]");
    const $phoneError = $(".phone-error");
    const $codeButton = $(".code-button");
    let memberPhoneCheck = false;

    $memberPhone.blur(function(){
        let memberPhoneNumber = $memberPhone.val().replaceAll("-","");
        $memberPhone.val(memberPhoneNumber);

        if(!memberPhoneNumber){
            $codeButton.removeClass("button-active");
            $codeButton.attr("disabled", true);
            $phoneError.text("핸드폰 번호를 입력해주세요.");
            memberPhoneCheck = false;


        }else if(memberPhoneNumber.length > 11){
            $codeButton.removeClass("button-active");
            $codeButton.attr("disabled", true);
            $phoneError.text("올바른 형식이 아닙니다.");
            memberPhoneCheck = false;

        } else if(!regPhone.test(memberPhoneNumber)){
            $codeButton.removeClass("button-active");
            $codeButton.attr("disabled", true);
            $phoneError.text("올바른 형식이 아닙니다.");
            memberPhoneCheck = false;

        }else if(memberServiceCheck.memberPhoneCheck(memberPhoneNumber)){
            $codeButton.removeClass("button-active");
            $codeButton.attr("disabled", true);
            $phoneError.text("현재 핸드폰 번호와 다른 번호를 입력해주세요.");
            memberPhoneCheck = false;


        }else if(memberServiceCheck.phoneNumberCheck(memberPhoneNumber)){
            $codeButton.removeClass("button-active");
            $codeButton.attr("disabled", true);
            $phoneError.text("중복된 핸드폰 번호입니다.");
            memberPhoneCheck = false;

        }  else {
            $codeButton.addClass("button-active");
            $codeButton.attr("disabled", false);
            $phoneError.text("");
            memberPhoneCheck = true;

        }
    });

    // 인증번호 보내기 클릭 시
    $(".code-button").click(function(){
        let memberPhoneNumber = $("input[name=memberPhoneNumber]").val();
        if(!memberPhoneCheck){
            alert("핸드폰 번호를 확인해주세요.");
            return false;
        }
        $(".code-check-input").removeAttr("readonly");
        $codeButton.removeClass("button-active");
        $codeButton.attr("disabled", true);
        memberServiceCheck.authSend(memberPhoneNumber);
    });

    // 인증번호 검사
    const $codeInput = $(".code-check-input");
    let codeCheck = false;

    $codeInput.keyup(function(){
        if(!$codeInput.val()){
            $(".auth-msg").css("color","red");
            $(".auth-msg").text("인증번호를 입력해주세요.")
            codeCheck = false;

        }else if($codeInput.val() != globalThis.code){
            $(".auth-msg").css("color","red");
            $(".auth-msg").text("인증번호가 일치하지 않습니다.");
            codeCheck = false;

        }else {
            $(".auth-msg").css("color","#36f");
            $(".auth-msg").text("인증번호가 일치합니다.");
            codeCheck = true;

        }
    });

    // 휴대폰 번호 변경
    const $phoneUpdateButton = $(".phone-save");
    $phoneUpdateButton.click(function(){
        if(!codeCheck){
            alert("인증번호를 확인해주세요.");
            return false;
        }
        let memberPhoneNumber = $("input[name=memberPhoneNumber]").val();

        memberUpdate.memberPhoneNumberUpdate(memberPhoneNumber);
    });

    // 비밀번호 검사
    let passwordCheck = [false, false];
    const regPassword = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/;
    const $newpassword = $("#new-password");
    const $newPasswordError = $(".password-error");

    $newpassword.blur(function(){
        let memberPassword = $(this).val();

        if(!memberPassword){
            $newPasswordError.text("비밀번호를 입력해주세요.");
            passwordCheck[0] = false;

        }else if(!regPassword.test(memberPassword)){
            $newPasswordError.text("최소 8 자, 최소 하나의 문자, 하나의 숫자 및 하나의 특수 문자를 입력해주세요.");
            passwordCheck[0] = false;

        }else {
            passwordCheck[0] = true;
            $newPasswordError.text("");

        }
    });

    // 비밀번호 재검사
    const $passwordCheck = $("#new-password-check");
    const $passwordCheckError = $(".password-check-error");

    $passwordCheck.blur(function () {
        let password = $(this).val();
        if(!password){
            $passwordCheckError.text("비밀번호를 입력해주세요.");
            passwordCheck[1] = false;

        }else if(password != $newpassword.val()){
            $passwordCheckError.text("비밀번호가 일치하지 않습니다.");
            passwordCheck[1] = false;

        }else {
            $passwordCheckError.text("");
            passwordCheck[1] = true;

        }
    });

    //     비밀번호 변경
    const $passwordSave = $(".password-save");

    $passwordSave.click(function(){
        let memberPassword = $("#new-password").val();
        if(passwordCheck.filter(check => check == true ).length != 2){
            alert("잘못 입력된 정보가 있습니다.");
            return false;
        }
        memberUpdate.memberPasswordUpdate(memberPassword);
    });

    /*=================================================================*/
    globalThis.code;

    let memberServiceCheck = (function(){
        // 회원 현재 이름 비교
        function memberNameCheck(memberName){
            let check = false;
            $.ajax({
                url : "/mypage/profile/memberVO",
                type: "get",
                async : false,
                success : function (memberVO) {
                    check = memberVO.memberName == memberName;
                }
            });
            return check;
        }

        // 회원 현재 전화번호 비교
        function memberPhoneCheck(memberPhoneNumber){
            let check = false;
            $.ajax({
                url : "/mypage/profile/memberVO",
                type: "get",
                async : false,
                success : function (memberVO) {
                    check = memberVO.memberPhoneNumber == memberPhoneNumber;
                }
            });
            return check;
        }

        // 핸드폰 중복검사
        function phoneNumberCheck(memberPhoneNumber){
            let check = false;
            $.ajax({
                url : "/mypage/profile/memberPhoneCheck",
                type: "get",
                data : {"memberPhoneNumber" : memberPhoneNumber},
                async : false,
                success : function(phoneNumberCheck){
                    check = phoneNumberCheck;
                }
            });
            return check;
        }

        // 인증번호 발송
        function authSend (memberPhoneNumber) {
            $.ajax({
                url: "/mypage/profile/code",
                type : "post",
                data : {"memberPhoneNumber" : memberPhoneNumber},
                success : function(code){
                    console.log(code);
                    $(".auth-msg").css("color", "#36f");
                    $(".auth-msg").text("인증번호를 발송했습니다.");
                    globalThis.code = code;
                }
            });
        }

        return { memberNameCheck : memberNameCheck, memberPhoneCheck : memberPhoneCheck, phoneNumberCheck : phoneNumberCheck, authSend : authSend }
    })();

    let memberUpdate = (function(){

        function memberNameUpdate(memberName){
            $.ajax({
                url : "/mypage/profile/updateName",
                type: "patch",
                data: {"memberName" : memberName},
                success : function (memberName) {
                    $(".change-name").text(memberName + "님, 환영해요.");
                    $(".memberName").text(memberName);
                    $("input[name=username]").val(memberName);
                    $memberNameModal.hide();
                }
            });
        }

        function memberPhoneNumberUpdate (memberPhoneNumber) {
            $.ajax({
                url : "/mypage/profile/phoneNumberUpdate",
                type: "patch",
                data: {"memberPhoneNumber" : memberPhoneNumber},
                success : function (memberPhoneNumber) {
                    $(".phoneNumber").text(phoneNumber(memberPhoneNumber));
                    $("input[name=memberPhoneNumber]").val(memberPhoneNumber);
                    $("input[name=memberPhoneNumber]").attr("readonly", true);
                    $("input[name=memberPhoneNumber]").attr("disabled", true);
                    $(".code-check-input").attr("readonly", true);
                    $(".code-check-input").val("");
                    $(".auth-msg").text("");
                    $(".change-phoneNumber").show();
                    $codeButton.hide();
                    $memberPhoneModal.hide();
                }
            });
        }

        function memberPasswordUpdate(memberPassword){
            $.ajax({
                url : "/mypage/profile/updatePassword",
                type : "patch",
                data : { "memberPassword" :btoa(memberPassword)},
                success : function(){
                    $("input[type=password]").val("");
                    $passwordModal.hide();
                }
            });
        }

        return {memberNameUpdate : memberNameUpdate,memberPhoneNumberUpdate : memberPhoneNumberUpdate, memberPasswordUpdate :memberPasswordUpdate }
    })();

</script>
<script src="/js/mypage/modal.js"></script>
<script src="/js/mypage/myinfo_modal.js"></script>
</html>