<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발자를 준비하며 자주 겪는 고민 - 희망 연봉</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"/>
    <link rel="stylesheet" href="/css/board_detail/board_community_detail.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
<div th:insert="~{main/header :: header}"></div>
<main id="main">
    <div><!-- 보더 추가 -->
        <div><!-- 패딩 -->
            <aside id="aside" th:if="${prevBoard != null}">
                <article id="side_article" th:object="${prevBoard}">
                    <div style="margin-bottom: 9px;">
                        <a style="display: flex; width: 0; cursor: pointer;" th:href="'/FreeBoards/detail/' + *{boardFreeId}">
                            <div style="display: inline-flex; align-items: center;">
                                <div style="text-align: left; display: flex; align-items: center;">
                                    <div style="position: relative; margin-right: 7px;">
                                        <div id="side_div">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <div class="content-member-status">
                                                        <img src="/image/boardList/self_employ_icon.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: flex; flex-direction: column;">
                                        <div style="display: flex; margin-bottom: 3px; align-items: center;">
                                            <div id="side_nickname" th:text="*{memberName}"></div>
                                        </div>
                                        <span id="side_span_date" th:text="*{boardFreeRegisterDate}"></span>
                                    </div>
                                </div>
                            </div>
                            <div style="position: absolute; right: 0; color: #8958FA;">< 이전글</div>
                        </a>
                    </div>
                    <a class="side_title">
                        <h3 th:text="*{boardFreeTitle}"></h3>
                    </a>
                    <!-- ::after -->
                </article>
            </aside>
        </div>
        <div><!-- 패딩 -->
            <aside id="aside" th:if="${nextBoard != null}">
                <article id="side_article" th:object="${nextBoard}">
                    <div style="margin-bottom: 9px;">
                        <a style="display: flex; width: 0; cursor: pointer;" th:href="'/FreeBoards/detail/' + *{boardFreeId}">
                            <div style="display: inline-flex; align-items: center;">
                                <div style="text-align: left; display: flex; align-items: center;">
                                    <div style="position: relative; margin-right: 7px;">
                                        <div id="side_div">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <div class="content-member-status">
                                                        <img src="/image/boardList/self_employ_icon.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: flex; flex-direction: column;">
                                        <div style="display: flex; margin-bottom: 3px; align-items: center;">
                                            <div id="side_nickname" th:text="*{memberName}">soni</div>
                                        </div>
                                        <span id="side_span_date" th:text="*{boardFreeRegisterDate}"></span>
                                    </div>
                                </div>
                            </div>
                            <div style="position: absolute; right: 0; color: #8958FA;">다음글 ></div>
                        </a>
                    </div>
                    <a class="side_title">
                        <h3 th:text="*{boardFreeTitle}"></h3>
                    </a>
                    <!-- ::after -->
                </article>
            </aside>
        </div>
    </div>
    <div style="display: flex; flex-direction: column">
        <div id="detailBoards">
        </div>
        <div id="reply_wrap">
            <!--                <div id="reply_img_wrap">-->
            <!--                    <img id="reply_img" src="https://static.wanted.co.kr/images/community/community-3d-comment.png" alt="">-->
            <!--                    <p id="reply_content">첫 댓글을 남겨주세요.</p>-->
            <!--                </div>     -->
            <!-- 댓글 뿌려주는 곳 -->
            <div id="reply_wrap_div">
                <!--reply 내용-->
            </div>
            <!-- 끝 -->
            <div style="margin-top: 20px">
                <div id="profile_img_nickname">
                    <div class="profile_img" id="profile_my_img">
                        <div class="profile-image-login">
                            <div class="profile-member-status">
                                <img src="/image/boardList/self_employ_icon.png" alt="">
                            </div>
                        </div>
                    </div>
                    <span id="my_nickname">최선규</span>
                </div>
                <div id="form_wrap">
                    <form th:action="@{/FreeBoards/resister-reply}" method="post">
                        <textarea name="replyContent" id="reply_textarea" placeholder="댓글 남기기"></textarea>
                        <button type="button" class="reply-register-button">
                            <!--댓글 등록 완료 시 디테일 페이지로 이동-->
                            <span id="submit_span" style="background-color: rgb(242, 244, 247);">등록</span>
                        </button>
                    </form>
                </div>
            </div>
            <!--목록으로 클릭시 리스트 페이지로 이동-->
            <button id="list_button" onclick="location.href='/FreeBoards/'">
                    <span style="width: 100%;">
                        <span id="list_button_span">
                            <svg id="arrow">
                                <path fill="currentColor"
                                      d="M3.345 9.72a.75.75 0 0 0 1.06 1.06l4.25-4.25a.75.75 0 0 0 0-1.06l-4.25-4.25a.75.75 0 0 0-1.06 1.06L7.065 6l-3.72 3.72z"></path>
                            </svg>
                        </span>
                        목록으로
                    </span>
            </button>
        </div>
    </div>
</main>
<div th:insert="~{main/footer :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    /* freBoards 는 이전글, 현재글, 다음글이 담겨있는 list이다. 1번째방이 현재글 */
    let currentBoard = [[${currentBoard}]];
</script>
<script src="/js/boardDetail/free-boardDetail.js"></script>
<script>

    /*댓글글*/
   let page = 1;

    const replyService = (() => {
        function getList(callback) {
            $.ajax({
                url: `/replies/list?page=${page}&boardFreeId=${currentBoard.boardFreeId}`,
                type : "get",
                success: function (replies) {
                    if (callback) {
                        callback(replies);
                    }
                },
                error(){
                    console.log("에러");
                }
            });
        }

        return {getList: getList};
    })();

    const $replyRegisterButton = $(".reply-register-button");

    $replyRegisterButton.click(function () {
        replyService.getList(function (list) {
            let text = "";
            console.log(list.length);

            text += `
                     <div style="margin-bottom: 20px">
                            <div style="display: flex; justify-content: space-between; margin-bottom: 20px">
                                <a style="display: flex; width: 0;">
                                    <div style="display: inline-flex; align-items: center; margin-right: auto;">
                                        <div style="text-align: left; display: flex; align-items: center;">
                                            <div style="position: relative; margin-right: 7px;">
                                                <div id="reply_my">
                                                    <div class="profile-image-login">
                                                        <div class="profile-member-status">
                                                            <img class="profile-image" src="/image/boardList/self_employ_icon.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="display: flex; flex-direction: column;">
                                                <div style="display: flex; margin-bottom: 3px; align-items: center;">
                                                    <div id="reply_nickname">DesignK</div>
                                                </div>
                                                <span id="reply_date">2023.03.14</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div id="float_delete" style="display: flex">
                                    <div>
                                        <span>수정</span>
                                    </div>
                                    <div style="margin-left: 8px">
                                        <span>삭제</span>
                                    </div>
                                </div>
                            </div>
                            <div id="reply_content">이 회사에서 납품 받았는데 품질이 너무 좋아요!</div>
                        </div>
            `

        });
    });


    // 좋아요 댓글 color변경
    const viewbox = document.getElementsByClassName("viewbox_path");
    $('.viewbox').click(function () {
        if ($(this).css('color') === 'rgb(0, 0, 0)') {
            $(this).css('color', 'blue');
        } else {
            $(this).css('color', 'rgb(0, 0, 0)');
        }
    });


    $(document).ready(function () {
        // 등록 버튼 초기 색상 설정
        $('button[type="submit"]').css("color", "rgb(196, 196, 196)").css("background-color", "rgb(242, 244, 247)");
        $('#submit_span').css("background-color", "rgb(242, 244, 247)");

        // textarea 입력시 등록 버튼 색상 변경
        $('#reply_textarea').on('input', function () {
            if ($(this).val().length > 0) {
                $('button[type="submit"]').css("color", "white").css("background-color", "blue"), $('#submit_span').css("background-color", "blue");
            } else {
                $('button[type="submit"]').css("color", "rgb(196, 196, 196)").css("background-color", "rgb(242, 244, 247)"), $('#submit_span').css("background-color", "rgb(242, 244, 247)");
            }
        });
    });
    const dot = document.getElementById("dot_third");
    const declaration = document.getElementById("declaration");

    dot.addEventListener('click', () => {
        if (declaration.style.display == "block") {
            declaration.style.display = "none"
        } else {
            declaration.style.display = "block"
        }
    })


</script>
</html>