<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유 게시판 목록</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="/css/boardList/free-boardList.css">
    <link rel="stylesheet" href="/css/main/header.css">
</head>
<body>
<div th:insert="~{main/header :: header}" th:if="${session.memberId} == null and ${session.businessId} == null"></div>
<div th:insert="~{main/header-signin :: header}" th:if="${session.memberId} != null or ${session.businessId} != null"></div>
    <div class="all-wrap">
        
        <div id="header"></div>

        <div class="boardList-wrap">
            <aside class="boardList-aside-box">
                <div class="aside-area-box">
                    <div>
                        <!--          프로필 화면으로 이동             -->
                        <div class="profile-box-not-login">
                            <h2 class="profile-not-login-title">My 커뮤니티</h2>
                            <!-- 로그인이 안되잇을 경우 display:block-->
                            <!-- 로그인이 되잇을 경우 display:none-->
                            <th:block th:if="${session.memberId} == null and ${session.businessId} == null">
                                <button type="button" class="login-button" onclick="location.href='/member/login'">
                                <div class="profile-image-not-login"></div>
                                <div class="profile-username-wrap">
                                    <span class="not-login-span">로그인 해주세요</span>
                                </div>
                                <span class="profile-arrow">
                                    <svg width="18" height="18">
                                        <path d="M5.21967 2.21967C5.48594 1.9534 5.9026 1.9292 6.19621 2.14705L6.28033 2.21967L12.5303 8.46967C12.7966 8.73594 12.8208 9.1526 12.6029 9.44621L12.5303 9.53033L6.28033 15.7803C5.98744 16.0732 5.51256 16.0732 5.21967 15.7803C4.9534 15.5141 4.9292 15.0974 5.14705 14.8038L5.21967 14.7197L10.939 9L5.21967 3.28033C4.9534 3.01406 4.9292 2.5974 5.14705 2.30379L5.21967 2.21967Z" fill="#666666"></path>
                                    </svg>
                                </span>
                            </button>
                            </th:block>
                            <!-- 로그인이 되 잇을 경우 display:block-->
                            <!-- 로그인이 안되 잇을 경우 display:none-->
                            <th:block  th:unless="${session.memberId} == null and ${session.businessId} == null" >
                            <button type="button" class="login-button mypage-button">
                                <div class="profile-image-login">
                                    <th:block th:if="${not #strings.isEmpty(member)}">
                                        <th:block th:if="${member.memberImgUuid == null}">
                                            <img src="/image/boardList/self_employ_icon.png">
                                        </th:block>
                                        <th:block th:unless="${member.memberImgUuid == null}">
                                            <img class="img_profile" th:src="@{'/mypage/profile/display?fileName='+${member.memberImgPath}+'/'+${member.memberImgUuid}+'_'+${member.memberImgOriginalName}}">
                                        </th:block>
                                    </th:block>
                                    <th:block th:unless="${not #strings.isEmpty(member)}">
                                        <th:block th:if="${businessVO.businessImgUuid == null}">
                                        <img src="/image/boardList/distributor_icon.png">
                                        </th:block>
                                        <th:block th:unless="${businessVO.businessImgUuid == null}">
                                            <img class="img_profile" th:src="@{'/mypage/profile/display?fileName='+${businessVO.businessImgPath}+'/'+${businessVO.businessImgUuid}+'_'+${businessVO.businessImgOriginalName}}">
                                        </th:block>
                                    </th:block>
                                </div>
                                <div class="profile-username-wrap">
                                    <div class="profile-user-info-box">
                                        <th:block th:if="${not #strings.isEmpty(member)}">
                                        <span class="profile-userName" th:text="${member.memberName}"></span>
                                        <div style="display: flex;">
                                            <div class="profile-userType"> 개인회원 </div>
                                        </div>
                                        </th:block>
                                        <th:block th:unless="${not #strings.isEmpty(member)}">
                                            <span class="profile-userName" th:text="${businessVO.businessCompanyName}"></span>
                                            <div style="display: flex;">
                                                <div class="profile-userType"> 유통업자</div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                                <span class="profile-arrow">
                                    <svg width="18" height="18">
                                        <path d="M5.21967 2.21967C5.48594 1.9534 5.9026 1.9292 6.19621 2.14705L6.28033 2.21967L12.5303 8.46967C12.7966 8.73594 12.8208 9.1526 12.6029 9.44621L12.5303 9.53033L6.28033 15.7803C5.98744 16.0732 5.51256 16.0732 5.21967 15.7803C4.9534 15.5141 4.9292 15.0974 5.14705 14.8038L5.21967 14.7197L10.939 9L5.21967 3.28033C4.9534 3.01406 4.9292 2.5974 5.14705 2.30379L5.21967 2.21967Z" fill="#666666"></path>
                                    </svg>
                                </span>
                            </button>
                            </th:block>
                        </div>
                    </div>
                    <div class="profile-banner-box">
                        <button type="button" class="profile-banner-button">
                            <div class="profile-banner-message">
                                유통업체 찾고 싶다면?
                                <br>
                                북적북적
                            </div>
                        </button>
                    </div>
                    <div class="ranking-box">
                        <h3 class="ranking-title">이달의 추천 유통업체 TOP 10</h3>
                        <p class="ranking-subTitle">관심있는 유통업체를 찾아보세요.</p>
                        <div class="ranking-list-box">
                            <a href="#" class="distributor-box" th:each="business : ${businessReviewTop10}">
                                <div class="distributor-image-box">
                                     <img th:if="${business.businessImgUuid != null}" th:src="'/free-boards/imgs/dispay?fileName=' + ${business.businessImgPath} + '/' + ${business.businessImgUuid} + '_' + ${business.businessImgOriginalName}">
                                     <img th:unless="${business.businessImgUuid != null}" src="/image/boardList/distributor_icon.png">
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <div class="distributor-name" th:text="${business.businessCompanyName}"></div>
                                    <div style="font-size: 8px; margin-top: 3px" th:text="${'리뷰 평점 : ' + business.reviewGrade + ' | ' + '총 리뷰수 : ' + business.reviewCount}"></div>
                                </div>
                                <svg width="6" height="13" viewBox="0 0 6 13" fill="#888888" class="arrow-left">
                                    <path d="M0.34467 10.4697C0.0517767 10.7626 0.0517767 11.2374 0.34467 11.5303C0.637563 11.8232 1.11244 11.8232 1.40533 11.5303L5.65533 7.28033C5.94822 6.98744 5.94822 6.51256 5.65533 6.21967L1.40533 1.96967C1.11244 1.67678 0.637563 1.67678 0.34467 1.96967C0.0517767 2.26256 0.0517767 2.73744 0.34467 3.03033L4.06434 6.75L0.34467 10.4697Z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
            <main class="boardList-content-box">
                <div class="boardList-title-box">
                    <div class="boardList-title-box-layout">
                        <h2 >자유 게시판</h2>
                        <!-- 글 작성 버튼  넣을지 말지 고민 중-->
                    </div>
                </div>  
                <div class="boardList-content-section-box">
                    <section class="write-button-box">
                        <div class="write-button-layout">
                            <button type="button" class="write-button">
                                커리어와 라이프스타일에 대해 자유롭게 이야기 해주세요!
                                <span>
                                    <span class="write-button-icon-box">
                                        <svg viewBox="0 0 24 24" class="write-button-icon"> <!--모달  버튼-->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9338 2.08059C17.5629 1.80534 17.0366 1.83583 16.7002 2.17212L3.43579 15.4323L3.33867 15.5461C3.22211 15.7068 3.1582 15.9013 3.1582 16.1023V19.8947L3.16685 20.0233C3.22958 20.4857 3.62596 20.8421 4.10558 20.8421H7.2678L7.39635 20.8335C7.85877 20.7707 8.21517 20.3744 8.21517 19.8947L8.20652 19.7662C8.14379 19.3038 7.74742 18.9474 7.2678 18.9474H5.05168V16.4956L13.2631 8.28674L15.7123 10.7359L9.7494 16.6985L9.65767 16.8047C9.38244 17.1756 9.41297 17.7019 9.74927 18.0383C10.1192 18.4083 10.719 18.4083 11.0891 18.0384L21.8281 7.30155L21.9198 7.1953C22.195 6.82447 22.1645 6.29818 21.8283 5.96181L18.04 2.17233L17.9338 2.08059ZM17.0521 9.39616L19.8181 6.63032L17.3688 4.18232L14.6031 6.94717L17.0521 9.39616Z"></path>
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </section>
                    <section class="boardList-content">
                        <div class="boardList-recommend-box">
                            <h2>추천 자유게시판 💘</h2>
                        </div>
                        <!-- 자유게시판 정보 (반복문 또는 DOM) -->
                      <div id="listContainer">
                      </div>
                    </section>
                </div>
            </main>
            <div class="board-register-button-box">
                <button type="button" class="board-register-button">
                    <span class="board-register-button-icon-box">
                        <svg viewBox="0 0 24 24" class="board-register-button-icon">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9338 2.08059C17.5629 1.80534 17.0366 1.83583 16.7002 2.17212L3.43579 15.4323L3.33867 15.5461C3.22211 15.7068 3.1582 15.9013 3.1582 16.1023V19.8947L3.16685 20.0233C3.22958 20.4857 3.62596 20.8421 4.10558 20.8421H7.2678L7.39635 20.8335C7.85877 20.7707 8.21517 20.3744 8.21517 19.8947L8.20652 19.7662C8.14379 19.3038 7.74742 18.9474 7.2678 18.9474H5.05168V16.4956L13.2631 8.28674L15.7123 10.7359L9.7494 16.6985L9.65767 16.8047C9.38244 17.1756 9.41297 17.7019 9.74927 18.0383C10.1192 18.4083 10.719 18.4083 11.0891 18.0384L21.8281 7.30155L21.9198 7.1953C22.195 6.82447 22.1645 6.29818 21.8283 5.96181L18.04 2.17233L17.9338 2.08059ZM17.0521 9.39616L19.8181 6.63032L17.3688 4.18232L14.6031 6.94717L17.0521 9.39616Z" fill="#fff"></path>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
<!--댓글작성 페이지로 이동 확인 모달-->
<div id="modal">
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-box">
                <div class="modal-content-box">
                    <div class="modal-content-image-box">
                        <img src="/image/boardList/logo-icon.png">
                    </div>
                    <div class="modal-content-member-name-box">
                        <th:block th:if="${session.memberId != null}">
                        <span th:text="${member.memberName}"></span>
                        </th:block>
                        <th:block th:if="${session.businessId != null}">
                            <span th:text="${businessId.businessCompanyName}"></span>
                        </th:block>
                    </div>
                    <div class="modal-content-confirm-box">
                        해당 이름으로 게시글과 댓글이 등록됩니다.
                        <br>
                        계속하시겠어요?
                    </div>
                </div>
                <div class="modal-confirm-button-box">
                    <div class="modal-confirm-agree-button-box">
                        <!--글 작성 페이지로 이동 -->
                        <button class="modal-confirm-agrre-button confirm-button" onclick="location.href='/free-boards/write'">예</button>
                    </div>
                    <div class="modal-confirm-no-button-box">
                        <button class="modal-confirm-no-button confirm-button">아니요</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    /* freBoards 는 이전글, 현재글, 다음글이 담겨있는 list이다. 1번째방이 현재글 */
    let memberId = [[${session.memberId}]];
    let businessId = [[${session.businessId}]];

</script>
<!--<script src="../../../static/js/boardList/free-boardList.js"></script>-->
<script src="/js/boardList/free-boardList.js"></script>
<script>
    $(".mypage-button").click(() => {
        if(memberId){
           location.href = "/mypage/profile/postList";
        }else {
            location.href = "/mypage/profile/business/postList";
        }
    });
</script>
</html>