<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/error/404.css">   
    <title>404</title>
</head>
<body>
    <!-- 헤더 -->
    <header></header>

    <!-- 메인 -->
    <div class="wrap">
        <div class="error-main">
            <div class="imgContainer">
                <img class="errorImage" src="../../static/image/error/lighthouse_404.png" alt="error">
                <div class="shinyStar">
                    <div class="shinyStuffOnTop"></div>
                    <div class="shinyStuffOnBottom"></div>
                </div>
                <div class="shinyStar">
                    <div class="shinyStuffOnTop"></div>
                    <div class="shinyStuffOnBottom"></div>
                </div>
                <div class="shinyStar">
                    <div class="shinyStuffOnTop"></div>
                    <div class="shinyStuffOnBottom"></div>
                </div>
                <div class="shinyStar">
                    <div class="shinyStuffOnTop"></div>
                    <div class="shinyStuffOnBottom"></div>
                </div>
                <div class="shinyStar">
                    <div class="shinyStuffOnTop"></div>
                    <div class="shinyStuffOnBottom"></div>
                </div>
                <div class="shinyStar">
                    <div class="shinyStuffOnTop"></div>
                    <div class="shinyStuffOnBottom"></div>
                </div>
            </div>
            <h2>PAGE NOT FOUND</h2>
        </div>
        
    </div>

</body>
</html>