.modal_fail{
    border: solid 1px;
    position: absolute;
    top: 33px;
    left: 185px;
    height: 147px;
    width: 300px;
    display: none;
    background: #dee2e6;
    border: none;
}
.modal_header{
    font-size: 20px;
    text-align: center;
    margin-top: 12px;
    background: #dee2e6;
}
.modal_body{
    text-align: center;
    padding-top: 23px;
    font-weight: bold;
    background: #dee2e6;
}
.modal_confirm{
    background-color: #36f;
    position: absolute;
    color: white;
    border-radius: 12px;
    width: 75px;
    height: 40px;
    cursor: pointer;
    right: 5px;
    bottom: -55px;
}
.modal_footer{
    position: relative;
}
.modal_success{
    border: solid 1px;
    position: absolute;
    top: 33px;
    left: 185px;
    height: 147px;
    width: 250px;
    display: none;
    background: #dee2e6;
    border: none;
}