body {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

body.profile_body {
    display: block;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.42857143;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

span {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

section.main_container {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    padding-left: 270px;
    margin-bottom: 32px;
    min-height: 672px;
}

div.ResumeWordCountWarning-Wrapper {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    background-color: #fff;
    justify-content: space-between;
    padding: 16px 30px;
}

div.ResumeWordCountWarning-body {
    line-height: inherit;
    font-family: inherit;
    transform: translateY(1px);
    font-size: 16px;
    justify-content: center;
    flex-direction: column;
}

p.ResumeWordCountWarning-count {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #333;
}

span.current_char {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 600;
    color: #ff415c;
}

p.ResumeWordCountWarning-guide {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.57;
    color: #999;
}

a.ResumeWordCountWarning-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
    align-items: center;
    margin-top: 3px;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #36f;
    margin-left: 20px;
    font-size: 14px;
    line-height: .94;
    font-weight: 600;
    color: #36f;
    justify-content: center;
}

div.MainResume_Wrapper {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 41px 0 30px;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    padding-bottom: 38px;
    margin-top: 10px;
}

header.MainResume_Header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    padding-right: 30px;
    padding-left: 30px;
}

h1.Form-title {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

h1.Form-title dt {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

div.FormBlock {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 36px;
}

div.FormBlock-content {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding-right: 30px;
    padding-left: 30px;
}

div.MainResume-Static_Wrapper {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: inherit;
    font-family: inherit;
    position: relative;
    font-size: 16px;
}

div.MainResume-Static_label {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    align-items: center;
    line-height: 24px;
    color: #999;
    justify-content: space-between;
}

div.MainResume-Static_body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 9px;
}

div.MainResume-DefaultResumeSelector {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button.MainResume-DefaultResumeSelector_button {
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    box-sizing: border-box;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #e1e2e3;
    margin-top: -2px;
    text-align: left;
}

div.ResumeLang_container {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #999;
    font-size: 11px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: #999;
    text-align: center;
    margin-right: 10px;
}

button.MainResume-DefaultResumeSelector_button span {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

div.MainResume-fieldset {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    position: relative;
    margin-top: 28px;
}

div.fieldset-Static_content-first {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: inherit;
    font-family: inherit;
    position: relative;
    font-size: 16px;
}

div.Static-label {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    align-items: center;
    line-height: 24px;
    color: #999;
    justify-content: space-between;
}

div.Static-body {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 9px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

div.ResumeEntry-wrapper {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

span.ResumeEnty-major {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

span.ResumeEnty-minor {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #999;
}

div.fieldset-Static_content-others {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: inherit;
    font-family: inherit;
    position: relative;
    font-size: 16px;
    margin-top: 24px;
}

a.MainResume-edit {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
    color: inherit;
    position: absolute;
    top: -3px;
    right: 0;
    font-size: 22px;
}



span.img_span img {
    width: 22px;
}

/* div.EnterInterestArea-Wrapper {
    display: block;
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 41px 0 30px;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 10px;
}

header.Form-header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    padding-right: 30px;
    padding-left: 30px;
}

dl.Form-title {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.Form-header dt {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

div.Recommendation-Wrapper {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 43px;
    border-top: 5px solid #f8f8fa;
}

div.Recommendation-Wrapper div.FormBlock.content {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding-right: 30px;
    padding-left: 30px;
}
div.AdditionalForm {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding-top: 18px;
    padding-bottom: 15px;
}

div.FormButton {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: block;
    position: relative;
    padding: 15px 0;
}

h6.FormButton-label {
    display: block;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 150px;
    padding-right: 10px;
    color: #999;
    font-size: 16px;
    line-height: inherit;
    margin-bottom: 5px;
}

button.FormButton-button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
    line-height: inherit;
    width: calc(100% - 150px);
    padding: 12px 0;
    margin-left: 150px;
    position: relative;
    color: #ccc;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #e1e2e3;
}

button.FormButton-button img {
    box-sizing: border-box;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    position: absolute;
    color: #999;
    width: 15px;
}

div.InputGroup-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: flex;
    width: calc(100% - 150px);
    margin-left: 150px;
}

div.JobSearchIntentionSelector-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    position: relative;
    display: inline-block;
    min-width: 124px;
}

select.JobSearchIntentionSelector-select {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    margin: 0em;
    border-radius: 0px;
    overflow: visible !important;
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 100%;
    appearance: none;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #258bf7;
    padding: 10px 20px 10px 0;
    border: none;
    background: none;
} */

span.AuthorBox_createAt {
    margin-left: 4px;
}