
div.mypage_activity_list_wrapper {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    position: relative;
    max-width: 1060px;
    width: 87.72%;
    margin: 0 auto;
}

nav.presentation {
    position: relative;
    line-height: normal;
}