@charset "utf-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

section {
    margin-bottom: 30px;
}

div.whole_wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    word-break: keep-all;
    overflow-wrap: anywhere;
}

div.header-padding {
    height: 50px;
}

div.mypage_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;

}

header.member_img_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

div.img_wrapper {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    width: 80px;
    height: 80px;
}

img.img_profile {
    overflow-clip-margin: content-box;
    width: 100%;
    height: 100%;
    aspect-ratio: auto 80 / 80;
    box-sizing: border-box;
    position: absolute;
    left: -1px;
    top: -1px;
    overflow: hidden;
    border-radius: 50%;
}

img.img_profile-normal {
    overflow-clip-margin: content-box;
    min-width: 80px;
    aspect-ratio: auto 80 / 80;
    min-height: 80px;
    box-sizing: border-box;
    position: absolute;
    left: -1px;
    top: -1px;
    overflow: hidden;
    border-radius: 50%;
}

label.edit_wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: -5px;
    bottom: -2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #36f;
    color: #fff;
}

span.edit_span {
    color: #fff;
    cursor: pointer;
    display: flex;
    -webkit-box-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    justify-content: inherit;
}

span.edit_span img {
    overflow-clip-margin: content-box;
    overflow: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: inherit;
    display: inline-block;
    fill: currentColor;
    user-select: none;
    width: 30px;
    /* height: 15px; */
    filter: invert(100%);
}

p.welcome_msg {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    color: #000;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.083em;
    font-size: 28px;
    line-height: 38px;
    margin-top: 15px;
    margin-bottom: 0px;
}

p.manageAccount {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #000;
    font-weight: 600;
    text-align: left;
    letter-spacing: -0.0195em;
    font-size: 22px;
    line-height: 28px;
}

p.manageAccount_message {
    color: #767676;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
}

ul.info_wrapper {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    box-sizing: border-box;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul.info_wrapper li {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}

li.changeDefault {
    border-top: 1px solid #e1e2e3;
}

p.emailText {
    color: #333;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
    flex: 1 1 0%;
    margin: 16px 0;
    margin-right: 10px;
    word-break: break-all;
    min-width: 320px;
}

p.changeTitle {
    color: #000;
    margin: 16px 0;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
    min-width: 120px;
    margin-right: 15px;
    cursor: pointer;
}

p.changeText {
    color: #888;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
    flex: 1 1 0%;
    margin-right: 10px;
    word-break: break-all;
    margin: 16px 0;
    margin-right: 10px;
}

section.info_content {
    width: 100%;
    width: 598px;
    border: 1px solid #e1e2e3;
    border-radius: 8px;
    padding: 0px 20px;
}

a.changeButton img {
    width: 16px;
}

section.service_wrapper {
    border: #e1e2e3;
    border-radius: 8px;
    padding: 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
}

p.service_header {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #000;
    font-weight: 600;
    text-align: left;
    letter-spacing: -0.0195em;
    font-size: 22px;
    line-height: 28px;
    margin-top: 45px;
    margin-bottom: 0px;
}

p.service_text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    color: #767676;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 30px;
}

div.modal_content_wrapper {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border-radius: 8px;
    background-color: #fff;
}

div.modal_content_top {
    padding: 0px 20px;
    height: 64px;
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.modal_content_bottom {
    padding: 0px 20px 20px;
}

div.modal_content_top_left {
    min-width: 64px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
}

div.modal_content_top_center {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

p.modal_content_top_name_wrapper {
    color: #000;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.002em;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

p.modal_content_name {
    color: #000;
    font-weight: 600;
    text-align: left;
    letter-spacing: -0.002em;
    font-size: 18px;
    line-height: 26px;
}

div.modal_content_top_right {
    display: flex;
    min-width: 64px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

button.modal_exit_button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: #000;
}

span.modal_exit_span {
    justify-content: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
}

span.modal_exit_span>img {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    font-size: 20px;
    fill: inherit;
}

form>div.modal_edit_input_wrapper {
    margin: 30px 0px;
}

input.edit_input_name {
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    color: #333;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

div.modal_edit_btn_wrapper {
    display: flex;
    justify-content: right;
}

button.modal_cancel {
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e2e3;
    width: auto;
    padding: 0px 32px;
    margin-left: 8px;
}

span.modal_btn_span {
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
    color: #36f;
}

button.modal_save {
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #36f;
    border: none;
    width: auto;
    padding: 0px 32px;
    margin-left: 8px;   
}

div.box.modal_box {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 !important;
    padding: 0;
}

div.modal-content {
    width: 400px;
    /* height: 262px !important; */
}

button.modal_save>span.modal_btn_span {
    color: #fff;
}

div.modal_content_main_wrapper {
    margin: 30px 0px;
}

div.modal_phone_select_wrapper {
    height: 50px;
    min-height: 50px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
}

select.select_location {
    padding-left: 12px;
    width: 100%;
    position: absolute;
    left: 0;
    appearance: none;
    height: 100%;
    border: none;
    background: none;
    z-index: 1;
    font-size: 16px;
    color: #333;
    font-weight: 400;
}

div.open_select_wrapper {
    position: absolute;
    right: 20px;
    font-size: 10px;
    top: 50%;
    transform: translateY(-50%);
}

span.open_img_wrapper {
    display: flex;
    -webkit-box-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    justify-content: inherit;
}

span.open_img_wrapper>img {
    width: 10px;
    height: 10px;
}

div.modal_input_number {
    display: flex;
    flex-direction: row;
    position: relative;
}

input.modal_input:read-only {
    color: #ccc;
    -webkit-text-fill-color: #ccc;
    background-color: #f2f4f7;
    opacity: 1;
}

input.modal_input {
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: #f2f4f7;
    border: 1px solid #e1e2e3;
    color: #333;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

button.auth_number {
    height: 50px;
    min-height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    margin-left: 10px;
    padding: 0px 15px;
    width: auto;
    flex: 0 0 auto;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
}

input.auth_number {
    height: 50px;
    min-height: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    margin-left: 10px;
    padding: 0px 15px;
    width: auto;
    flex: 0 0 auto;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
}

span.edit_phone_number {
    color: #000;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
}

.auth_number.btn_active>span {
    color: #36f;
}

.auth_number:disabled>span {
    color: #ccc;
}



.auth_number:disabled {
    color: #ccc;
    background-color: #f2f4f7;
    cursor: default;
    border: 1px solid #f2f4f7;
}

.code-button:disabled>span {
    color: #ccc;
}

.code-button:disabled {
    color: #ccc;
    background-color: #f2f4f7;
    cursor: default;
    border: 1px solid #f2f4f7;
}

p.auth_done {
    color: #08ba9c;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0192em;
    font-size: 13px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal_input_number>label {
    width: auto;
}

.error-msg {
    font-size: 14px;
    color: red;
}

.auth_msg {
    color: #36f;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0192em;
    font-size: 13px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.auth_remain_time {
    font-weight: 600;
}

.modal-close::after, .modal-close::before {
    background-color: #000;
}

div.modal_content_top_right>button.modal-close {
    /* right: -8px;
    top: 12px; */
    right: 0;
    top: 0;
}

.file-modal-display {
    display: none;
}

.file-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
}

.file-modal-box {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border-radius: 8px;
    background-color: #fff;
}

.file-modal-title-box-layout {
    padding: 0px 20px;
    height: 64px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.file-modal-cell {
    min-width: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
}

.file-modal-title-box {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
}

.file-modal-title {
    color: #000;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.002em;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
}

.file-modal-exit-box {
    display: flex;
    min-width: 64px;
    justify-content: flex-end;
    align-items: center;
}

.exit {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: #000;
}

.file-modal-exit-icon-box {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.file-modal-exit-icon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    font-size: 20px;
}

.file-modal-image-box-layout {
    padding: 0px 20px 20px;
}

.file-modal-image-box {
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
    background: rgb(0, 0, 0);
    margin-top: 30px;
    user-select: none;
}

.file-modal-image-box img {
    display: block;
    max-width: 100%;
    max-height: 500px;
    margin: 0px auto;
}

.file-modal-button-box {
    display: flex;
    justify-content: right;
    margin: 30px 0px 10px;
}

.cancel {
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #36f;
    border: 1px solid #e1e2e3;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 0px;
    width: 92px;
}

.cancel span {
    color: #36f;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
}

.save {
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #36f;
    height: 50px;
    width: 92px;
    margin-bottom: 0px;
}

.save span {
    color: #fff;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
}

.footer-p {
    margin-top: 10px;
    margin-right: 15px;
    color: #888;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0192em;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

.footer-link {
    color: #000;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.025em;
    font-size: 12px;
    line-height: 16px;
    margin-right: 12px;
}

.font-bold {
    font-weight: 900;
}

.code-button {
    display: none;
}

.password-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
}

.password-modal-box {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    border-radius: 8px;
    background-color: #fff;
}

.password-modal-title-layout {
    padding: 0px 20px;
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.password-modal-title-box {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
}

.password-modal-input-box-layout {
    padding: 0px 20px 20px;
}

.password-modal-input-box {
    display: flex;
    flex-direction: row;
    position: relative;
}

.password-input {
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    color: var(--theme-palette-colors-gray-900);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.password-title-box {
    margin-bottom: 8px;
}

.password-title-box span {
    font-size: 14px;
    font-weight: 600;
}

.password-modal-button-box-layout {
    display: flex;
    justify-content: right;
}

.password-cancel {
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e2e3;
    width: auto;
    padding: 0px 32px;
    margin-left: 8px;
}

.password-cancel span {
    color : #36f;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
}

.password-save {
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #36f;
    border: none;
    width: auto;
    padding: 0px 32px;
    margin-left: 8px;
}

.password-save span {
    color: #fff;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
}

.password-modal-display {
    display: none;
}

.company-modal-display {
    display: none;
}

.ceoName-modal {
    display: none;
}

div.modal {
    display: flex;
}

.business-phone-modal {
    display: none;
}

.business-number-modal-display {
    display: none;
}

div.modal-background {
    background: rgba(0, 0, 0, 0.4);
}

.member-phone-modal {
    display: none;
}

.member-name-modal {
    display: none;
}

button.button-active {
    background: #fff;
}

button.button-active span {
    color: #36f;
}