<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 창</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="../../static/css/new_password/new_password.css">
</head>
<body>
    <div id="__next">
        <div class="password-all-wrap">
            <div class="password-middle-wrap">
                <div class="password-square-wrap">
                    <div class="pw-top-square">
                        <div class="pw-left">
                            <button type="button" class="pw-left-box">
                                <span class="pw-left-inside">
                                    <svg viewBox="0 0 18 18" class="pw-left-arrow"><path d="m6.045 9 5.978-5.977a.563.563 0 1 0-.796-.796L4.852 8.602a.562.562 0 0 0 0 .796l6.375 6.375a.563.563 0 0 0 .796-.796L6.045 9z"></path></svg>
                                </span>
                            </button>
                        </div>
                        <div class="pw-remake-box">
                           <p class="pw-remake-ment">비밀번호 재설정</p>     
                        </div>
                        <div class="pw-right-side"></div>
                    </div>
                     <div class="pw-mid-box">
                        <form>
                            <div class="pw-new-ment-line">
                                <label class="pw-new-ment">새 비밀번호</label>
                            </div>
                            <input type="password" placeholder="새 비밀번호를 입력해주세요." name="password" class="pw-write-new" value>
                            <input type="password" placeholder="새 비밀번호를 다시 한번 입력해주세요." name="passwordConfirm" class="pw-write-new" value>
                            <p class="pw-guide-ment">
                                영문 대소문자, 숫자, 특수문자를 3가지 이상으로 조합해 8자 이상 16자 이하로 입력해주세요.
                            </p>
                            <button type="submit" class="pw-countinue-border" disabled>
                                <span class="pw-countinue-ment">계속</span>
                            </button>
                        </form>
                     </div>   
                </div>
            </div>
        </div>
    </div>
</body>
</html>