body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
#breadcrumb{
    background-color: transparent;
    border-bottom: 1px solid #ECECEC;
    border-radius: 4px;
    margin-bottom: 20px;
    list-style: none;
}
#container{
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
}
#container::before{
    display: table;
    content: " ";
}
#breadcrumbs{
    padding: 15px 5px;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
}
#breadcrumbs li{
    color: #767676 !important;
    display: inline-block;
}
#register_inquiry::before{
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 5px;
    color: rgba(51, 122, 183, 1);
}
#inquiry_register{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-top: 20px;
    line-height: 1.1;
    color: inherit;
}
#client{
    color: #757575;
    outline: 0;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    background-color: transparent;
    list-style-type: none;
}
#container::after{
    clear: both;
    display: table;
    content: " ";
}
#center{
    padding-right: 0px;
    width: 1170px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#center::before{
    display: table;
    content: " ";
}
#email_address{
    width: 100%;
    float: left;
    display: inline-grid;
    padding-right: 5px;
    margin-bottom: 10px;
    margin-top: 17px;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
#email_address::after{
    content: "*";
    color: red;
    margin-left: 2px;
}
#email_input{
    border: 1px solid #ddd;
    margin-bottom: 15px;
    min-height: 35px;
    border-radius: 3px;
    padding: 0 10px;
    width: 100%;
}