<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 게시판 목록</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="/css/boardList/inquiry-boardList.css">
    <link rel="stylesheet" href="/css/main/header.css">z
</head>
<body>
<div th:insert="~{main/header :: header}"></div>
    <div class="all-wrap">


        <div class="boardList-wrap">
            <main class="boardList-content-box">
                <div class="boardList-title-box">
                    <div class="boardList-title-box-layout">
                        <h2 >문의 게시판</h2>
                        <!-- 글 작성 버튼  넣을지 말지 고민 중-->
                    </div>
                </div>  
                <div class="boardList-content-section-box">
                    <section class="write-button-box">
                        <div class="write-button-layout">
                            <button type="button" class="write-button">
                                커리어와 라이프스타일에 대해 자유롭게 이야기 해주세요!
                                <span>
                                    <span class="write-button-icon-box">
                                        <svg viewBox="0 0 24 24" class="write-button-icon">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9338 2.08059C17.5629 1.80534 17.0366 1.83583 16.7002 2.17212L3.43579 15.4323L3.33867 15.5461C3.22211 15.7068 3.1582 15.9013 3.1582 16.1023V19.8947L3.16685 20.0233C3.22958 20.4857 3.62596 20.8421 4.10558 20.8421H7.2678L7.39635 20.8335C7.85877 20.7707 8.21517 20.3744 8.21517 19.8947L8.20652 19.7662C8.14379 19.3038 7.74742 18.9474 7.2678 18.9474H5.05168V16.4956L13.2631 8.28674L15.7123 10.7359L9.7494 16.6985L9.65767 16.8047C9.38244 17.1756 9.41297 17.7019 9.74927 18.0383C10.1192 18.4083 10.719 18.4083 11.0891 18.0384L21.8281 7.30155L21.9198 7.1953C22.195 6.82447 22.1645 6.29818 21.8283 5.96181L18.04 2.17233L17.9338 2.08059ZM17.0521 9.39616L19.8181 6.63032L17.3688 4.18232L14.6031 6.94717L17.0521 9.39616Z"></path>
                                        </svg>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </section>
                    <section class="boardList-content">
                        <!-- 자유게시판 정보 (반복문 또는 DOM) -->
                        <article class="content-box">
                            <div class="content-box-layout">
                                <a href="#" class="content-member-info-box">
                                    <div class="content-member-info-box-layout">
                                        <div class="content-member-text-left">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <img src="/image/boardList/distributor_icon.png">
                                                </div>
                                            </div>
                                            <div class="content-member-info">
                                                <div class="content-persnal-distributor-box">
                                                    <div class="content-register-name-box">
                                                        <span>임종욱</span>
                                                    </div>
                                                    <div class="content-persnal-distributor">
                                                        <div class="content-member-type">유통업체</div>
                                                    </div>
                                                </div>
                                                <span class="register-date">1시간 전</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="" class="content hasImage">
                                <h3 class="content-title">
                                    어느회사 가야될까요... 4년제 갓졸업 캐릭터디자인 신입입니다.
                                </h3>
                                <!-- 이미지를 넣었다면 여기에 넣어주기 없다면 없애기 -->
                                <!-- 이미지를 넣었다면 감싸고있는 a태그에 hasImage클래스 넣어주기 표시해둠 -->
                                <div>
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fcommunity%2F2023%2F3%2Fe636fef8cd94bc0c9c921510c71ffae98c9c636065c75c113e4dd42a027129c9&w=384&q=90" class="board-detail-image">
                                </div>
                                <!-- 이미지 끝 -->
                            </a>
                        </article>
                        <!-- 여기 까지 -->
                        <!-- 자유게시판 정보 (반복문 또는 DOM) -->
                        <article class="content-box">
                            <div class="content-box-layout">
                                <a href="#" class="content-member-info-box">
                                    <div class="content-member-info-box-layout">
                                        <div class="content-member-text-left">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <img src="/image/boardList/distributor_icon.png">
                                                </div>
                                            </div>
                                            <div class="content-member-info">
                                                <div class="content-persnal-distributor-box">
                                                    <div class="content-register-name-box">
                                                        <span>임종욱</span>
                                                    </div>
                                                    <div class="content-persnal-distributor">
                                                        <div class="content-member-type">유통업체</div>
                                                    </div>
                                                </div>
                                                <span class="register-date">1시간 전</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="" class="content hasImage">
                                <h3 class="content-title">
                                    어느회사 가야될까요... 4년제 갓졸업 캐릭터디자인 신입입니다.
                                </h3>
                                <!-- 이미지를 넣었다면 여기에 넣어주기 없다면 없애기 -->
                                <!-- 이미지를 넣었다면 감싸고있는 a태그에 hasImage클래스 넣어주기 표시해둠 -->
                                <div>
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fcommunity%2F2023%2F3%2Fe636fef8cd94bc0c9c921510c71ffae98c9c636065c75c113e4dd42a027129c9&w=384&q=90" class="board-detail-image">
                                </div>
                                <!-- 이미지 끝 -->
                            </a>
                        </article>
                        <!-- 여기 까지 -->
                        <!-- 자유게시판 정보 (반복문 또는 DOM) -->
                        <article class="content-box">
                            <div class="content-box-layout">
                                <a href="#" class="content-member-info-box">
                                    <div class="content-member-info-box-layout">
                                        <div class="content-member-text-left">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <img src="/image/boardList/distributor_icon.png">
                                                </div>
                                            </div>
                                            <div class="content-member-info">
                                                <div class="content-persnal-distributor-box">
                                                    <div class="content-register-name-box">
                                                        <span>임종욱</span>
                                                    </div>
                                                    <div class="content-persnal-distributor">
                                                        <div class="content-member-type">유통업체</div>
                                                    </div>
                                                </div>
                                                <span class="register-date">1시간 전</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="" class="content hasImage">
                                <h3 class="content-title">
                                    어느회사 가야될까요... 4년제 갓졸업 캐릭터디자인 신입입니다.
                                </h3>
                                <!-- 이미지를 넣었다면 여기에 넣어주기 없다면 없애기 -->
                                <!-- 이미지를 넣었다면 감싸고있는 a태그에 hasImage클래스 넣어주기 표시해둠 -->
                                <div>
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fcommunity%2F2023%2F3%2Fe636fef8cd94bc0c9c921510c71ffae98c9c636065c75c113e4dd42a027129c9&w=384&q=90" class="board-detail-image">
                                </div>
                                <!-- 이미지 끝 -->
                            </a>
                        </article>
                        <!-- 여기 까지 -->
                        <!-- 자유게시판 정보 (반복문 또는 DOM) -->
                        <article class="content-box">
                            <div class="content-box-layout">
                                <a href="#" class="content-member-info-box">
                                    <div class="content-member-info-box-layout">
                                        <div class="content-member-text-left">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <img src="/image/boardList/distributor_icon.png">
                                                </div>
                                            </div>
                                            <div class="content-member-info">
                                                <div class="content-persnal-distributor-box">
                                                    <div class="content-register-name-box">
                                                        <span>임종욱</span>
                                                    </div>
                                                    <div class="content-persnal-distributor">
                                                        <div class="content-member-type">유통업체</div>
                                                    </div>
                                                </div>
                                                <span class="register-date">1시간 전</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="" class="content hasImage">
                                <h3 class="content-title">
                                    어느회사 가야될까요... 4년제 갓졸업 캐릭터디자인 신입입니다.
                                </h3>
                                <!-- 이미지를 넣었다면 여기에 넣어주기 없다면 없애기 -->
                                <!-- 이미지를 넣었다면 감싸고있는 a태그에 hasImage클래스 넣어주기 표시해둠 -->
                                <div>
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fcommunity%2F2023%2F3%2Fe636fef8cd94bc0c9c921510c71ffae98c9c636065c75c113e4dd42a027129c9&w=384&q=90" class="board-detail-image">
                                </div>
                                <!-- 이미지 끝 -->
                            </a>
                        </article>
                        <!-- 여기 까지 -->
                        <!-- 자유게시판 정보 (반복문 또는 DOM) -->
                        <article class="content-box">
                            <div class="content-box-layout">
                                <a href="#" class="content-member-info-box">
                                    <div class="content-member-info-box-layout">
                                        <div class="content-member-text-left">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <img src="/image/boardList/distributor_icon.png">
                                                </div>
                                            </div>
                                            <div class="content-member-info">
                                                <div class="content-persnal-distributor-box">
                                                    <div class="content-register-name-box">
                                                        <span>임종욱</span>
                                                    </div>
                                                    <div class="content-persnal-distributor">
                                                        <div class="content-member-type">유통업체</div>
                                                    </div>
                                                </div>
                                                <span class="register-date">1시간 전</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="" class="content hasImage">
                                <h3 class="content-title">
                                    어느회사 가야될까요... 4년제 갓졸업 캐릭터디자인 신입입니다.
                                </h3>
                                <!-- 이미지를 넣었다면 여기에 넣어주기 없다면 없애기 -->
                                <!-- 이미지를 넣었다면 감싸고있는 a태그에 hasImage클래스 넣어주기 표시해둠 -->
                                <div>
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fcommunity%2F2023%2F3%2Fe636fef8cd94bc0c9c921510c71ffae98c9c636065c75c113e4dd42a027129c9&w=384&q=90" class="board-detail-image">
                                </div>
                                <!-- 이미지 끝 -->
                            </a>
                        </article>
                        <!-- 여기 까지 -->
                        <!-- 자유게시판 정보 (반복문 또는 DOM) -->
                        <article class="content-box">
                            <div class="content-box-layout">
                                <a href="#" class="content-member-info-box">
                                    <div class="content-member-info-box-layout">
                                        <div class="content-member-text-left">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <img src="/image/boardList/distributor_icon.png">
                                                </div>
                                            </div>
                                            <div class="content-member-info">
                                                <div class="content-persnal-distributor-box">
                                                    <div class="content-register-name-box">
                                                        <span>임종욱</span>
                                                    </div>
                                                    <div class="content-persnal-distributor">
                                                        <div class="content-member-type">유통업체</div>
                                                    </div>
                                                </div>
                                                <span class="register-date">1시간 전</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="" class="content hasImage">
                                <h3 class="content-title">
                                    어느회사 가야될까요... 4년제 갓졸업 캐릭터디자인 신입입니다.
                                </h3>
                                <!-- 이미지를 넣었다면 여기에 넣어주기 없다면 없애기 -->
                                <!-- 이미지를 넣었다면 감싸고있는 a태그에 hasImage클래스 넣어주기 표시해둠 -->
                                <div>
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fcommunity%2F2023%2F3%2Fe636fef8cd94bc0c9c921510c71ffae98c9c636065c75c113e4dd42a027129c9&w=384&q=90" class="board-detail-image">
                                </div>
                                <!-- 이미지 끝 -->
                            </a>
                        </article>
                        <!-- 여기 까지 -->
                        <!-- 자유게시판 정보 (반복문 또는 DOM) -->
                        <article class="content-box">
                            <div class="content-box-layout">
                                <a href="#" class="content-member-info-box">
                                    <div class="content-member-info-box-layout">
                                        <div class="content-member-text-left">
                                            <div class="content-member-image-box">
                                                <div class="content-member-image-size">
                                                    <img src="/image/boardList/distributor_icon.png">
                                                </div>
                                            </div>
                                            <div class="content-member-info">
                                                <div class="content-persnal-distributor-box">
                                                    <div class="content-register-name-box">
                                                        <span>임종욱</span>
                                                    </div>
                                                    <div class="content-persnal-distributor">
                                                        <div class="content-member-type">유통업체</div>
                                                    </div>
                                                </div>
                                                <span class="register-date">1시간 전</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="" class="content hasImage">
                                <h3 class="content-title">
                                    어느회사 가야될까요... 4년제 갓졸업 캐릭터디자인 신입입니다.
                                </h3>
                                <!-- 이미지를 넣었다면 여기에 넣어주기 없다면 없애기 -->
                                <!-- 이미지를 넣었다면 감싸고있는 a태그에 hasImage클래스 넣어주기 표시해둠 -->
                                <div>
                                    <img src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fcommunity%2F2023%2F3%2Fe636fef8cd94bc0c9c921510c71ffae98c9c636065c75c113e4dd42a027129c9&w=384&q=90" class="board-detail-image">
                                </div>
                                <!-- 이미지 끝 -->
                            </a>
                        </article>
                        <!-- 여기 까지 -->
                    </section>
                </div>
            </main>
            <div class="board-register-button-box">
                <button type="button" class="board-register-button">
                    <span class="board-register-button-icon-box">
                        <svg viewBox="0 0 24 24" class="board-register-button-icon">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9338 2.08059C17.5629 1.80534 17.0366 1.83583 16.7002 2.17212L3.43579 15.4323L3.33867 15.5461C3.22211 15.7068 3.1582 15.9013 3.1582 16.1023V19.8947L3.16685 20.0233C3.22958 20.4857 3.62596 20.8421 4.10558 20.8421H7.2678L7.39635 20.8335C7.85877 20.7707 8.21517 20.3744 8.21517 19.8947L8.20652 19.7662C8.14379 19.3038 7.74742 18.9474 7.2678 18.9474H5.05168V16.4956L13.2631 8.28674L15.7123 10.7359L9.7494 16.6985L9.65767 16.8047C9.38244 17.1756 9.41297 17.7019 9.74927 18.0383C10.1192 18.4083 10.719 18.4083 11.0891 18.0384L21.8281 7.30155L21.9198 7.1953C22.195 6.82447 22.1645 6.29818 21.8283 5.96181L18.04 2.17233L17.9338 2.08059ZM17.0521 9.39616L19.8181 6.63032L17.3688 4.18232L14.6031 6.94717L17.0521 9.39616Z" fill="#fff"></path>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/boardList/inquiry-boardList.js"></script>
<script src="/js/main/header.js"></script>
</html>