<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개발자를 준비하며 자주 겪는 고민 - 희망 연봉</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css"/>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/board_detail/board_inquiry_detail.css">
</head>

<body>
<!-- 헤더 -->
<div th:insert="~{main/header :: header}"></div>
<main id="main">
    <section style="flex: 1 0 790px; background-color: #fff;">
        <article style="padding: 56px 39px 40px; background-color: #fff; border: 1px solid #e1e2e3;">
            <div class="flex-direction">
                <div style=" display: flex; position: relative;">
                    <a href="" class="flex_width" style="margin-right: auto;">
                        <div class="dis_align">
                            <div class="flex_align" style="text-align: left;">
                                <div class="posi_right">
                                    <div class="left_profile_img profile_img">
                                        <div class="profile-image-login">
                                            <div class="profile-member-status">
                                                <th:block th:if="${board.writerType == 'business'}">
                                                    <span class="profile-image">유</span>
                                                </th:block>
                                                <th:block th:unless="${board.writerType == 'business'}">
                                                    <span class="profile-image">자</span>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-direction">
                                    <div class="flex_align" style="margin-bottom: 3px;">
                                        <th:block th:if="${board.writerType == 'business'}">
                                            <div class="nickname" id="right_nickname"
                                                 th:text="${board.businessCeoName}">조이언
                                            </div>
                                            <div class="career_field" style="margin-right: 4px;">
                                                <div class="career field" th:text="${board.businessLocation}">개발</div>
                                                <div class="career" th:text="${board.businessCategory}">15년차</div>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${board.writerType == 'business'}">
                                            <div class="nickname" id="right_nickname"
                                                 th:text="${board.memberName}">조이언
                                            </div>
                                        </th:block>
                                    </div>
                                    <span id="register_date"
                                          th:text="${board.boardInquiryRegisterDate}">2023.03.10</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h1 id="title" th:text="${board.boardInquiryTitle}">📌개발자를 준비하며 자주 겪는 고민 - 희망 연봉</h1>
            </div>
            <div id="content" th:text="${board.boardInquiryContent}">
                <!--            <div id="content">-->
                신입 개발자로 입사할 때 희망 연봉을 어떻게 정해야 할지 고민이 많을 거예요. 희망 연봉은 단어 그대로 입사 지원자가 받고 싶은 연봉이에요.
                연봉은 개발자 실력에 따라 정해져요.
                실력이란 개발 능력뿐만 아니라 학력, 자격증, 나이, 전공, 사회경험, 성격, 외모까지 포함돼요. 하지만 신입은 본인의 실력을 가늠하기가 쉽지 않죠.

                일반적으로 신입 개발자가 본인의 연봉을 결정할 때, 주변 지인 또는 커뮤니티를 참고하곤 하죠. 대부분 이런 방식으로 초봉을 설정하지만, 이 방법은 한 가지 큰 단점이 있어요.
                그건 지인이나 커뮤니티에서 알려주는 대상과 본인의 실력이 다르다는 거죠.
                <div style="margin-bottom: 20px;"></div>
            </div>
        </article>
        <div id="reply_wrap">
            <div id="reply_img_wrap">
                <div>
                    <ul class="answer_ul" id="answer_wrap">
                    </ul>
                </div>
            </div>
            <a th:href="@{/board/inquiry/list}" th:method="get" id="list_button">
                <span style="width: 100%;">
                    <span id="list_button_span">
                        <svg id="arrow">
                            <path fill="currentColor"
                                  d="M3.345 9.72a.75.75 0 0 0 1.06 1.06l4.25-4.25a.75.75 0 0 0 0-1.06l-4.25-4.25a.75.75 0 0 0-1.06 1.06L7.065 6l-3.72 3.72z">
                            </path>
                        </svg>
                    </span>
                    목록으로
                </span>
            </a>
        </div>
    </section>
</main>
</body>
<block th:insert="~{main/footer :: footer}"></block>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let board = [[${board}]];
    let answers = [[${answers}]];
    const $ul = $('#answer_wrap');
</script>
<script src="/js/boardDetail/boardInquiryDetail.js"></script>
<script src="/js/boardDetail/boardShowReply.js"></script>
<script th:inline="javascript">
    showDetail(answers);
    showReply(answers, $ul);
</script>
<script>
    // 좋아요 댓글 color변경
    const viewbox = document.getElementsByClassName("viewbox_path");
    $('.viewbox').click(function () {
        if ($(this).css('color') === 'rgb(0, 0, 0)') {
            $(this).css('color', 'blue');
        } else {
            $(this).css('color', 'rgb(0, 0, 0)');
        }
    });


    $(document).ready(function () {
        // 등록 버튼 초기 색상 설정
        $('button[type="submit"]').css("color", "rgb(196, 196, 196)").css("background-color", "rgb(242, 244, 247)");

        // textarea 입력시 등록 버튼 색상 변경
        $('#reply_textarea').on('input', function () {
            if ($(this).val().length > 0) {
                $('button[type="submit"]').css("color", "white").css("background-color", "blue");
            } else {
                $('button[type="submit"]').css("color", "rgb(196, 196, 196)").css("background-color", "rgb(242, 244, 247)");
            }
        });
    });
    const dot = document.getElementById("dot_third");
    const declaration = document.getElementById("declaration");

    dot.addEventListener('click', () => {
        if (declaration.style.display == "block") {
            declaration.style.display = "none"
        } else {
            declaration.style.display = "block"
        }
    })


</script>


</html>