<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의사항 게시판</title>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/boardList/notice-list.css">

</head>
<style>
    * {
        background-color: inherit;
    }
</style>
<body>
<div th:insert="~{main/header :: header}" th:if="${session.memberId} == null and ${session.businessId} == null"></div>
<div th:insert="~{main/header-signin :: header}" th:if="${session.memberId} != null or ${session.businessId} != null"></div>
<div>
    <header class="header">
        <div class="header-inner container">
            <div class="row">
                <div class="left_top">
                    <div class="header_logo">
                        <a href="">
                            <img src="/image/main/logo1-removebg-preview.png" alt="북적북적로고" class="header_logo_img1">
                        </a>
                        <a href="">
                            <img src="/image/notice/customercenter.png" alt="고객센터로고" class="header_logo_img">
                        </a>
                    </div>
                </div>
                <div class="right_top"></div>
            </div>
        </div>
    </header>
    <main class="content-main">
        <section class="top_line"></section>
        <div class="content-main-box">
            <div class="content-box">
                <section class="content-box-layout">
                    <h2 class="content-box-title">문의사항</h2>
                    <ul class="content-list-box">
                        <li class="content-list" th:each="inquiryVO : ${inquiryVO}">
                            <a th:href="@{/board/inquiry/detail(boardInquiryId=${inquiryVO.boardInquiryId})}"
                               class="content-title" th:text="${inquiryVO.boardInquiryTitle}">
                            </a>
                            <div class="content" th:text="${inquiryVO.boardInquiryContent}">
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="page-box">
                <a class="changePage" th:if="${pageDTO.prev}" th:href="${pageDTO.startPage - 1}"><span><</span></a>
                <th:block th:each="num:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                            <span th:text="${num}" th:if="${pageDTO.criteria.pageNum == num}"
                                  style="margin-right: 15px; color: black;font-weight: 600;"></span>
                    <a class="changePage" th:unless="${pageDTO.criteria.pageNum == num}" th:href="${num}">
                        <span th:text="${num}" style="margin-right: 15px; width: 26px;height: 26px;"></span>
                    </a>
                </th:block>
                <a class="changePage" th:if="${pageDTO.next}"
                   th:href="${pageDTO.endPage + 1}"><span>></span></a>
            </div>
            <form action="/board/inquiry/list" th:object="${pageDTO}" name="pageForm">
                <input type="hidden" th:field="*{criteria.pageNum}">
                <input type="hidden" th:field="*{criteria.amount}">
            </form>
        </div>
    </main>
    <block th:insert="~{main/footer :: footer}"></block>
    <!-- 문의하기 버튼  -->
    <div class="inquire_" name="inquiryWrap">
        <div style="margin: 0 auto;">
            <a href="/board/inquiry/write" class="inquire_write">
                <img src="/image/notice/questionmark.png" class="questionmark">
            </a>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    const memberId =[[${session.memberId}]];
    const businessId = [[${session.businessId}]];
    const inquiryVO = [[${inquiryVO}]];
    const pageDTO = [[${pageDTO}]];
</script>
<script>

    $(".inquire_write").click(function(){
        if(!memberId && !businessId){
            alert("로그인을 먼저 해주세요.");
            return false;
        }
    });

    if (inquiryVO.length == 0) {
        $(".page-box").hide();
    } else {
        $(".page-box").show();
    }

    let $pageForm = $(document.pageForm);

    $("a.changePage").on("click", function (e) {
        e.preventDefault();
        let page = $(this).attr("href")
        let amount = 10;
        let url = "";

        url = "/board/inquiry/list?pageNum=" + page + "&amount=" + amount;

        location.href = url;
    });

    console.log($pageForm.find("input[name='pageNum']"));
</script>
<script src="/js/main/header.js"></script>
</html>