<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> wanted 로그인</title>
    <link rel="stylesheet" href="../../static/css/login/login.css">
</head>
<body>
    <div id="allPage">
        <div class="fullPage">
            <div class="gapWithLogin">
                <div class="allLogIn">
                    <div class="inside">
                        <div class="logoPart">
                            <span class="logo">
                                <img src="../../static/image/login/wantedLogo.png" class="wantedRealLogo">
                            </span>
                        </div>
                        <!-- 로고 아래 로그인 화면  -->  
                            <form>
                            <!-- 회사 모토 -->
                                <h1 class="form-companyMoto">
                                    나다운 일의 시작, 원티드
                                </h1>
                                 <!-- 회사 간단 소개 -->
                                    <h2 class="form-companySimpleIntro">
                                        "취업, 이직, 커리어 콘텐츠까지"
                                        <br>
                                          "커리어 성장의 모든 것"
                                    </h2>
                                      <!-- 이메일 작성 -->
                                        <div class="form-blankEmail">
                                            <label for="email" class="form-guideEmail">
                                             이메일
                                            </label>
                                        </div>
                                             <!-- 이메일 입력하는 곳 -->
                                              <input type="email" placeholder="이메일을 입력해 주세요." name="email" class="form-input-writeEmail"> <!-- value 값 있음 -->
                                                <button type="submit" class="form-button-countinueEmail">
                                                         <span class="form-button-cuntinueEmail-ment">
                                                         이메일로 계속하기
                                                         </span>
                                                </button>
                                                    <p class="form-or">또는</p>
                                                    <!-- 애플, 페북, 구글, 카톡 회원가입, 로그인-->    
                                                        <div class="form-otherLogin">
                                                            <button type="button" class="form-btn-other">
                                                                <span class="logo-btn">
                                                                    <img src="../../static/image/login/appleLogo.png" class="siteLogo">
                                                                </span> <!-- 애플 avg class="css-1h4714s" viewBox는 뭐지 -->
                                                                    <p class="word-of-logo">
                                                                        Apple
                                                                    </p><!-- css 여기까지 함 -->
                                                            </button>
                                                            <button type="button" class="form-btn-other">
                                                                <span class="logo-btn">
                                                                    <img src="../../static/image/login/facebookLogo.jpg" class="siteLogo">
                                                                </span>
                                                                    <p class="word-of-logo">
                                                                       Facebook
                                                                    </p>
                                                            </button>
                                                             <!-- 구글 버튼 얘만 클래스가 다름 왜지? -->
                                                            <button type="button" class="form-google-btn">
                                                                <span class="logo-btn">
                                                                    <!-- <img src="../../static/image/login/googleLogo.png" class="siteLogo"> -->
                                                                </span>
                                                                    <p class="word-of-logo">
                                                                        Google
                                                                    </p>
                                                            </button>
                                                            <button class="form-btn-other">
                                                                <span class="logo-btn">
                                                                    <img src="../../static/image/login/katalkLogo.png" class="siteLogo">
                                                                </span>
                                                                    <p class="word-of-logo">
                                                                        Kakao
                                                                  </p>
                                                            </button>  
                                                        </div>
                                                       <!-- 계정을 잊으셨나요? 버튼 --> 
                                                    <button type="button" class="form-forgetPlace">
                                                        <p class="form-btn-forget">
                                                            계정을 잊으셨나요?
                                                            <span class="logo-btn">
                                                                <img src="../../static/image/login/right_arrow_icon.png" class="right-icon">
                                                            </span>
                                                        </p>
                                                    </button> 
                                                <hr class="form-blankblank">  
                                            <!-- 이용약관 개인정보처리방침 부분 -->
                                            <div class="form-termsOfUse">
                                                <a href="" class="small-btn"><!-- target있음 -->
                                                    이용약관
                                                </a>
                                                <a href="" class="small-btn"><!-- target있음 -->
                                                    개인정보처리방침
                                                </a>
                                            </div>
                                        <p class="inc-btn">
                                            ⓒ Wantedlab, Inc.
                                        </p> 
                                    <!-- 언어 변경 버튼 -->  
                                <div class="form-country-change"> <!-- flex 있음 --><!-- 여기까지 했음 -->
                                    <div class="country-part">
                                        <img src="" class="flag-img">
                                            <div class="three-country">
                                                <select class="choice-one">
                                                    <option value="ko_KR">한국어</option>
                                                    <option value="en_US">English</option>
                                                    <option value="ja">日本語</option>
                                                </select>
                                                 <div class="under-bar">
                                                    <span class="check-bar">
                                                        <!-- svg안에 path -->
                                                    </span> 
                                                </div> 
                                            </div>
                                    </div>
                                </div>    
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>