* {
    box-sizing: border-box;
}

/* 폰트 */
*{
font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html, body, #__next {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    word-break: keep-all;
}

.password-all-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}

.password-middle-wrap {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-end;
}

.password-square-wrap {
    border-radius: 5px;
    width: 100%;
    max-height: calc(100vh - 100px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e1e2e3;
}

.pw-top-square {
    padding: 0 20px;
    height: 64px;
    flex: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pw-left{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
}

.pw-left-box {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: #000;
}

.pw-left-inside {
    display: flex;
    align-items: inherit;
}

.pw-remake-box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.pw-left-arrow {
    height: 1em;
    display: inline-block;
    font-size: inherit;
}

.pw-left-box svg {
    fill: inherit;
}

.pw-remake-ment {
    color: #000;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.002em;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pw-mid-box {
    overflow: auto;
    position: relative;
    padding: 20px;
}

.pw-new-ment-line {
    margin: 17px 0px 7px 0px;
}

.pw-new-ment {
    color: #888;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0145em;
    font-size: 14px;
    line-height: 20px;
}

.pw-write-new {
    opacity: 0.5;
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    color: #333;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.pw-guide-ment {
    color: #888;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0192em;
    font-size: 13px;
    line-height: 18px;
    margin-top: 0px;
}

.pw-countinue-border {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pw-countinue-border:disabled {
    color: #ccc;
    background-color: #f2f4f7;
    border: none;
    cursor: default;
}

.pw-countinue-border:disabled span {
    color: #ccc;
}

.pw-countinue-ment {
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0056em;
    font-size: 16px;
    line-height: 24px;
}