<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 게시판</title>
    <link rel="stylesheet" href="../../static/css/boardList/notice-list.css">
</head>
<body>
    <div>
        <!-- 헤더 -->
        <header class="header">
            <div class="header-box">
                <div class="header-box-layout">
                    <div class="logo-box">
                        <div class="logo">
                            <a href="javascript:void(0)">
                                <img src="../../static/image/boardList/logo-icon.png">
                                <img src="../../static/image/boardList/logo_title.png">
                            </a>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </header>
        <main class="content-main">
            <div class="content-main-box">
                <div class="content-box">
                    <section class="content-box-layout">
                        <h2 class="content-box-title">공지사항</h2>
                        <ul class="content-list-box">
                            <!-- 리스트 뽑을 요소 -->
                            <li class="content-list">
                                <a href="javascript:void(0)" class="content-title">
                                    좋은 기업을 원티드 #와이즐리
                                </a>
                                <div class="content">
                                    있습니다." 27번째 좋은 으로 와이즐리가  선와이즐리가  선와이즐리가  선와이즐리가  선와이즐리가 선와이즐
                            </li>
                            <!-- 리스트 뽑을 요소 -->
                            <li class="content-list">
                                <a href="javascript:void(0)" class="content-title">
                                    좋은 기업을 원티드 #와이즐리
                                </a>
                                <div class="content">
                                    있습니다." 27번째 좋은 으로 와이즐리가  선와이즐리가  선와이즐리가  선와이즐리가  선와이즐리가 선와이즐
                            </li>
                            <!-- 리스트 뽑을 요소 -->
                            <li class="content-list">
                                <a href="javascript:void(0)" class="content-title">
                                    좋은 기업을 원티드 #와이즐리
                                </a>
                                <div class="content">
                                    있습니다." 27번째 좋은 으로 와이즐리가  선와이즐리가  선와이즐리가  선와이즐리가  선와이즐리가 선와이즐
                            </li>
                            <!-- 리스트 뽑을 요소 -->
                            <li class="content-list">
                                <a href="javascript:void(0)" class="content-title">
                                    좋은 기업을 원티드 #와이즐리
                                </a>
                                <div class="content">
                                    있습니다." 27번째 좋은 으로 와이즐리가  선와이즐리가  선와이즐리가  선와이즐리가  선와이즐리가 선와이즐
                            </li>
                        </ul>
                    </section>
                </div>
                <nav class="page-box">
                    <ul>
                        <li class="page-button-box">
                            <a href="javascript:void(0)"><<</a>
                        </li>
                        <li class="page-button-box">
                            <a href="javascript:void(0)"><</a>
                        </li>
                        <li class="page-button-box">
                            <span>1</span>
                        </li>
                        <li class="page-button-box">
                            <span>2</span>
                        </li>
                        <li class="page-button-box">
                            <a href="javascript:void(0)">></a>
                        </li>
                        <li class="page-button-box">
                            <a href="javascript:void(0)">>></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main>
        <footer>
            <div class="footer-container">
                <div class="footer-box">
                    <div class="footer-info">
                        <a href="javascript:void(0)" class="footer-image-box">
                            <img src="../../static/image/boardList/logo-icon.png" class="footer-image">
                            <img src="../../static/image/boardList/logo_title.png" class="footer-image" style="width: 90px;">
                        </a>
                    </div>
                    <div class="footer-info-title">
                        <a href="javascript:void(0)">
                            <h3>기업소개</h3>
                        </a>
                    </div>
                    <div class="footer-info-title">
                        <a href="javascript:void(0)">
                            <h3>이용약관</h3>
                        </a>
                    </div>
                    <div class="footer-info-title">
                        <a href="javascript:void(0)">
                            <h3>개인정보처리방침</h3>
                        </a>
                    </div>
                    <div class="footer-info-title">
                        <a href="javascript:void(0)">
                            <h3>고객센터</h3>
                        </a>
                    </div>
                </div>
                <aside class="footer-aside">
                    <div class="footer-aside-container">
                        <p>(주)북적북적 (대표이사:이순철) | 서울특별시 강남구 테헤란로 146 | 통신판매업번호 : 2015 - 서울강남 - 03148호</p>
                        <p>유료직업소개사업등록번호 : (국내) 제2999-3230259-14-5-0118호 | 사업자등록번호 : 000-1234-1234 |  02-538-0017</p>
                        <p>© Wantedlab, Inc</p>
                    </div>
                </aside>
            </div>
        </footer>
                     <!-- 문의하기 버튼  -->
                     <div class="inquire_">
                        <div style="margin: 0 auto;">
                            <a href="" class="inquire_write">
                                <img src="../../static/image/notice/questionmark.png"class="questionmark">
                            </a>
                        </div>
                    </div>
    </div>
</body>
</html>