<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계정 찾기</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="../../static/css/find_id/find_id.css">
</head>
<body>
    <div id="__next">
        <div class="find-all-wrap">
            <div class="find-middle-wrap">
                <div class="find-id-box">
                    <div class="find-id-title">
                        <div class="find-left-side">
                            <button type="button" class="find-left-arrow">
                                <span class="find-arrow-inside">
                                    <svg viewBox="0 0 18 18" class="find-arrow-svg"><path d="m6.045 9 5.978-5.977a.563.563 0 1 0-.796-.796L4.852 8.602a.562.562 0 0 0 0 .796l6.375 6.375a.563.563 0 0 0 .796-.796L6.045 9z"></path></svg>
                                </span>
                            </button>
                        </div>
                        <!-- 계정찾기 타이틀 -->
                        <div class="find-middle-side">
                            <p class="find-ment">계정 찾기</p>
                        </div>
                        <div class="find-blank"></div>
                    </div>
                    <!-- 정보 입력 -->
                     <div class="find-info-box">
                        <p class="find-enter-info">
                            계정을 찾기 위해 전화번호를 입력해주세요.
                        </p>
                         <div class="find-num-ment">
                            <label for="mobile" class="find-write-ment">휴대폰 번호</label>
                         </div>
                            <div>
                                <div class="find-enter-anything">
                                    <input type="text" placeholder="(예시) 01013245678" name="mobile" class="find-enter-pn" value>
                                    <button type="button" class="find-take-btn" disabled>
                                        <span class="find-take-btn-ment">인증번호 받기</span>
                                    </button>
                                </div>
                                <!-- 인증번호 입력칸 -->
                                <div class="find-enter-anything">
                                    <input type="text" placeholder="인증번호를 입력해주세요" name="authCode" class="find-enter-pn" value>
                                    <button type="button" class="certification-box">
                                        <span class="certification-ment">인증하기</span>
                                    </button>
                                </div>
                                <p class="cerfing-ment">인증번호가 요청되었습니다.</p>
                            </div>
                          <button type="button" class="find-countinue">
                            <span class="find-countinue-ment">계속</span>
                          </button>  
                     </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- <script src="../../static/js/find_id/find_id.js"></script> -->
<script>
    // 핸드폰
   const $certificationCheckButton = $(".certification-ment");   // .find-take-btn //.certification-number-check
   const $phone = $("input[name=mobile]");   // name=moblie
   const $errorMessagePhone = $(".cerfing-ment");    //.error-message-phone
   let rgbPhone = /^(\d{0,3})(\d{0,4})(\d{0,4})$/; 
   let phoneCheck;   
   $phone.on("blur", function(){
        console.log("들어옴?")
	//    $.ajax({
        
	// 		url: contextPath + "/checkPhoneOk.member",
	// 		data: {memberPhoneNumber: $phone.val()},
	// 		success : function(result){
	// 			phoneCheck = JSON.parse(result);
				
				 if($phone.val().length == 0){
			    	  $errorMessagePhone.text("핸드폰 번호를 입력해주세요.");
                      console.log("1")
			    	  $errorMessagePhone.css("display","block");
			    	  $errorMessagePhone.css("color","red");
			    	  joinCheckAll[8] = false;
			    	  $certificationBox.fadeOut();
			    	  
			       }else if(!rgbPhone.test($phone.val())){
			    	  $errorMessagePhone.text("형식에 맞게 작성해주세요.");
                      console.log("2")
				   	  $errorMessagePhone.css("display","block");
			    	  joinCheckAll[8] = false;
				   	  $errorMessagePhone.css("color","red");
				   	$certificationBox.fadeOut();
				   	
			       }else if(!($phone.val().length == 11)){
			    	   $errorMessagePhone.text("핸드폰 자리 11자리로 입력해주세요.");
                       console.log("3")
					   $errorMessagePhone.css("display","block");
					   $errorMessagePhone.css("color","red");
			    	  joinCheckAll[8] = false;
					   $certificationBox.fadeOut();
					   
			       }else if(!($phone.val().substring(0,3) == "010")){
			    	   $errorMessagePhone.text("010으로 시작해주세요.");
                       console.log("4")
					   $errorMessagePhone.css("display","block");
					   $errorMessagePhone.css("color","red");
			    	  joinCheckAll[8] = false;
					   $certificationBox.fadeOut();
			       }
			       
			       else if(phoneCheck.check){
			    	   $errorMessagePhone.text("중복된 핸드폰 번호입니다.");
                       console.log("5")
			    	   $errorMessagePhone.css("display","block");
			 	   	   $errorMessagePhone.css("color","red");
			    	  joinCheckAll[8] = false;
			 	   		$certificationBox.fadeOut();
			 	   		
                   }else{
			    	   joinCheckAll[8] = phoneCheck;
                       console.log("6")
			    	   $errorMessagePhone.css("display","none");
			    	   $certificationBox.fadeIn();
			       }
			});
		// });
//    });
</script>
</html>