<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <!-- <link rel="stylesheet" href="../../../../static/css/mypage/mypage.css"> -->
</head>

<body>
    <!-- <div class="mypage-wrapper"> -->

    <!-- 공통요소(컨테이너) -->
    <!-- <section class="Container_Profile mypage is-block"> -->
    <!-- <main class="MatchUp-Container"> -->
    <!-- CareerConnectBanner_ MatchUp_CareerConnectBanner_ -->

    <!-- 사이드 바 -->
    <aside th:fragment="aside_business" class="Aside is-block">

        <header class="Aside-profile Aside-content">
            <div class="Aside-avatar">
                <div class="Aside-avatar_image">
                    <th:block th:if="${#strings.isEmpty(businessVO.businessImgUuid)}">
                        <img class="img_profile" src="/image/boardList/distributor_icon.png" style="border-radius: 50%; width: 100%; height: 100%">
                    </th:block>
                    <th:block th:unless="${#strings.isEmpty(businessVO.businessImgUuid)}">
                        <img class="img_profile" th:src="@{'/myPages/business/display?fileName='+${businessVO.businessImgPath}+'/'+${businessVO.businessImgUuid}+'_'+${businessVO.businessImgOriginalName}}" style="border-radius: 50%; width: 100%; height: 100%">
                    </th:block>
                </div>
            </div>
            <div class="Aside-me" th:object="${businessVO}">
                <div class="Aside-me_name" th:text="*{businessCompanyName}"></div>
                <div class="Aside-me_email" th:text="*{businessEmail}"></div>
                <div class="Aside-me_tel phoneNumber" th:text="*{businessPhoneNumber}"></div>
            </div>
            <a th:href="@{/mypage/profile/business/myinfo}"     class="Aside-edit is-flex">기본정보 수정</a>
        </header>

        <div class="MatchUpStatus-container Aside-content list_container">
            <!-- <a href="" class="MatchUpStatus-item">
                    <span>관심 업체</span>
                    <strong>0</strong>
                </a> -->
            <a href="" class="MatchUpStatus-item">
                <span>리뷰갯수</span>
                <strong class="review-count">0</strong>
            </a>
            <a href="" class="MatchUpStatus-item">
                <span>평점</span>
                <strong class="review-grade">0</strong>
            </a>
        </div>
        <div class="Aside-pageList Aside-content list_container">

            <!-- 프로필 페이지가 아닐 경우 활성화 -->
            <a class="Aside-profile" th:href="@{/mypage/profile/business/postList}">프로필</a>

            <!-- My원티드 페이지가 아닐 경우 활성화 -->
            <a class="Aside-other" th:href="@{/mypage/edit}">유통 분야 설정</a>
        </div>
    </aside>
    <!-- </main> -->
    <!-- </section> -->
    <!-- </div> -->
    </div>
</body>
<script>
    let businessVO = [[${businessVO}]];

    let $pageForm = $(pageForm);

    $("a.changePage").on("click", function(e){
        e.preventDefault();
        $pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        $pageForm.submit();
    });

    $(".phoneNumber").text(phoneNumber(businessVO.businesPhoneNumber));

    function phoneNumber(phone){
        let phoneNumber;
        if(phone.startsWith("02")){
            phoneNumber = phone.substring(0,2) + "-" +phone.substring(2,6) + "-" + phone.substring(6);
        }else if(phone.startsWith("031")){
            phoneNumber = phone.substring(0,3) + "-" +phone.substring(3,6) + "-" + phone.substring(6);
        }else {
            phoneNumber = phone.substring(0,3) + "-" +phone.substring(3,7) + "-" + phone.substring(7);
        }
        return phoneNumber;
    }
</script>
</html>