<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <!-- <link rel="stylesheet" href="../../static/css/mypage/mypage.css"> -->
</head>

<body>
        <!-- <div class="mypage-wrapper"> -->

        <!-- 공통요소(컨테이너) -->
        <!-- <section class="Container_Profile mypage is-block"> -->
        <!-- <main class="MatchUp-Container"> -->
        <!-- CareerConnectBanner_ MatchUp_CareerConnectBanner_ -->

        <!-- 사이드 바 -->
        <aside th:fragment="aside_business" class="Aside is-block">

            <header class="Aside-profile Aside-content">
                <div class="Aside-avatar">
                    <div class="Aside-avatar_image">
                        <img src="../../static/image/mypage/user_icon.png" alt=".\img\user_icon.png">
                    </div>
                </div>
                <div class="Aside-me">
                    <div class="Aside-me_name">이준상</div>
                    <div class="Aside-me_email">miraclelee0613@gmail.com</div>
                    <div class="Aside-me_tel">010-7728-7518</div>
                </div>
                <a href="" class="Aside-edit is-flex">기본정보 수정</a>
            </header>

            <div class="MatchUpStatus-container Aside-content list_container is-hidden">
                <!-- <a href="" class="MatchUpStatus-item">
                    <span>관심 업체</span>
                    <strong>0</strong>
                </a> -->
                <a href="" class="MatchUpStatus-item">
                    <span>방문자 수</span>
                    <strong>0</strong>
                </a>
                <a href="" class="MatchUpStatus-item">
                    <span>거래 요청</span>
                    <strong>0</strong>
                </a>
            </div>
            <div class="Aside-pageList Aside-content list_container">

                <!-- 프로필 페이지가 아닐 경우 활성화 -->
                <a href="" class="Aside-profile">프로필</a>
                
                <!-- My원티드 페이지가 아닐 경우 활성화 -->
                <a href="" class="Aside-other">유통 분야 설정</a>
            </div>
        </aside>
        <!-- </main> -->
        <!-- </section> -->
        <!-- </div> -->
    </div>
</body>

</html>