<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유통업체 프로필</title>
    <link rel="stylesheet" href="https:/necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https:/cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/mypage/font.css">
    <link rel="stylesheet" href="/css/mypage/mypage.css">
    <link rel="stylesheet" href="/css/mypage/mypage_info.css">
    <link rel="stylesheet" href="/css/mypage/mypage_profile.css">
    <link rel="stylesheet" href="/css/mypage/mypage_profile_business.css">
    <link rel="stylesheet" href="/css/mypage/mypage_profile_modal.css">
    <link rel="stylesheet" href="/css/main/header-signin.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<style>
    body.profile_body {
        background-color: #f8f8f8;
        width: 100vw;
        height: 100vh;
    }
    .cate-button {
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        min-width: 64px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #e1e2e4;
        outline: none;
        scroll-snap-align: start;
        height: 40px;
        position: relative;
        display: flex;
        padding: 9px 22px;
        font-weight: 600;
        font-size: 15px;
        line-height: 146.7%;
        color: #8a8a8a;
    }
    .cate-button-active{
        color: #36f;
        border: 1px solid #36f;
    }
    .loca-button {
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        min-width: 64px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #e1e2e4;
        outline: none;
        scroll-snap-align: start;
        height: 40px;
        position: relative;
        display: flex;
        padding: 9px 22px;
        font-weight: 600;
        font-size: 15px;
        line-height: 146.7%;
        color: #8a8a8a;
    }
    .loca-button-active{
        color: #36f;
        border: 1px solid #36f;
    }
    .category_span{
        width: 100%;
        cursor: pointer;
    }
</style>
<header th:insert="~{main/header-signin :: header_signin}"></header>
<body class="profile_body is-relative">
    <div class="Container_Profile">
        <header id="header"></header>
        <div class="padding_for_header"></div>
        <main class="MatchUp-Container">
            <nav class="NavBar_presentation mypage">
                <h2 class="Nav_title mypage">
                    <p>프로필</p>
                    <button class="Nav_button">프로필</button>
                </h2>
            </nav>
            <section class="main_container is-relative">
                <!-- 사이드 메뉴 인클루드 -->
                <aside th:insert="~{mypage/fragment/aside_business :: aside_business}"></aside>
                <!--<aside class="Aside_include"></aside>-->
                <section style="position: relative">
                    <aside class="Title_wrapper">
                        <picture>
                            <span>유통 분야 설정</span>
                        </picture>
                    </aside>
                    <div>
                        <div class="MatchUpForm EnterInterestArea-Wrapper">
                            <div class="FormBlock">
                                <div class="FormBlock-content">
                                    <div class="MainResume-fieldset">
                                        <form action="/mypage/edit" method="post" name="regionForm">
                                            <div class="fieldset-Static_content-first">
                                                <div class="Static-label is-flex">지역선택</div>
                                                <div class="Static-body">
                                                    <div style="display: flex; margin-bottom: 15px;">
                                                        <button type="button" class="loca-button" id="서울" name="category" value="서울">
                                                            <span class="category_span">서울</span>
                                                        </button>
                                                        <button type="button" class="loca-button" id="경기" name="category" value="경기">
                                                            <span class="category_span">경기</span>
                                                        </button>
                                                        <button type="button" class="loca-button" id="강원" name="category" value="강원">
                                                            <span class="category_span">강원</span>
                                                        </button>
                                                        <button type="button" class="loca-button" id="충북" name="category" value="충북">
                                                            <span class="category_span">충북</span>
                                                        </button>
                                                        <button type="button" class="loca-button" id="충남" name="category" value="충남">
                                                            <span class="category_span">충남</span>
                                                        </button>
                                                        <button type="button" class="loca-button" id="전북" name="category" value="전북">
                                                            <span class="category_span">전북</span>
                                                        </button>
                                                        <button type="button" class="loca-button" id="전남" name="category" value="전남">
                                                            <span class="category_span">전남</span>
                                                        </button>
                                                        <button type="button" class="loca-button" id="경북" name="category" value="경북">
                                                            <span class="category_span">경북</span>
                                                        </button>
                                                        <button type="button" class="loca-button" id="경남" name="category" value="경남">
                                                            <span class="category_span">경남</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fieldset-Static_content-others">
                                                <div class="Static-label is-flex">카테고리</div>
                                                <div class="Static-body">
                                                    <div style="display: flex; margin-bottom: 15px;">
                                                        <button type="button" class="cate-button" id="육류" name="category" value="육류">
                                                            <span class="category_span">육류</span>
                                                        </button>
                                                        <button type="button" class="cate-button" id="해산물" name="category" value="해산물">
                                                            <span class="category_span">해산물</span>
                                                        </button>
                                                        <button type="button" class="cate-button" id="채소" name="category" value="채소">
                                                            <span class="category_span">채소</span>
                                                        </button>
                                                        <button type="button" class="cate-button" id="향신료" name="category" value="향신료">
                                                            <span class="category_span">향신료</span>
                                                        </button>
                                                        <input type="hidden" name="categorys" id="catergorys">
                                                        <input type="hidden" name="foods" id="foods">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="apply_wrapper_upper" style="padding-bottom: 20px;">
                                                <label>
                                                    <div class="apply_wrapper">
                                                        <span>
                                                            <button id="submit-button" type="button" style="color: white; background-color: #36f; cursor: pointer" >
                                                                적용하기
                                                            </button>
                                                        </span>
                                                    </div>
                                                </label>
                                            </div>
                                        </form>
                                        <div class="modal_fail">
                                            <div class="modal_header">
                                                알림
                                            </div>
                                            <div class="modal_body">
                                                지역선택 또는 카테고리를 입력해 주세요.
                                            </div>
                                            <div class="modal_footer">
                                                <button class="modal_confirm">확인</button>
                                            </div>
                                        </div>
                                        <div class="modal_success">
                                            <div class="modal_header">
                                                알림
                                            </div>
                                            <div class="modal_body">
                                                변경되었습니다.
                                            </div>
                                            <div class="modal_footer">
                                                <button class="modal_confirm">확인</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
        <footer id="footer" th:insert="~{main/footer :: footer}"></footer>
    </div>
</body>
<script src="https:/code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/mypage/mypage_profile_business.js"></script>
<script src="/js/mypage/mypage_profile_business_select.js"></script>
<script src="/js/mypage/mypage_profile_businessEdit.js"></script>
</html>