<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유통업체 프로필</title>
    <link rel="stylesheet" href="https:/necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https:/cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/mypage/font.css">
    <link rel="stylesheet" href="/css/mypage/mypage.css">
    <link rel="stylesheet" href="/css/mypage/mypage_info.css">
    <link rel="stylesheet" href="/css/mypage/mypage_profile.css">
    <link rel="stylesheet" href="/css/mypage/mypage_profile_business.css">
    <link rel="stylesheet" href="/css/main/header-signin.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<style>
    body.profile_body {
        background-color: #f8f8f8;
        width: 100vw;
        height: 100vh;
    }
    .cate-button {
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        min-width: 64px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #e1e2e4;
        outline: none;
        scroll-snap-align: start;
        height: 40px;
        position: relative;
        display: flex;
        padding: 9px 22px;
        font-weight: 600;
        font-size: 15px;
        line-height: 146.7%;
        color: #8a8a8a;
    }
    .cate-button-active{
        color: #36f;
        border: 1px solid #36f;
    }
    .loca-button {
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        min-width: 64px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #e1e2e4;
        outline: none;
        scroll-snap-align: start;
        height: 40px;
        position: relative;
        display: flex;
        padding: 9px 22px;
        font-weight: 600;
        font-size: 15px;
        line-height: 146.7%;
        color: #8a8a8a;
    }
    .loca-button-active{
        color: #36f;
        border: 1px solid #36f;
    }
    .category_span{
        width: 100%;
        cursor: pointer;
    }
</style>
<header th:insert="~{main/header-signin :: header_signin}"></header>
<body class="profile_body is-relative">
<!--    <div id="modal-edit_business" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box modal_box">&lt;!&ndash; 이 안에만 넣어야 됨 &ndash;&gt;
                <div class="modal_content_wrapper">
                    <section class="info_content">
                        <p class="manageAccount">
                            유통 분야 설정
                        </p>
                        <p class="manageAccount_message">
                            유통 분야를 관리할 수 있습니다.
                        </p>
                        <ul class="info_wrapper">
                            <li class="list_category">
                                <p class="category_type">대분류</p>
                                <br>
                                <div class="select_wrapper">
                                    <span>기존: 동·식물성 유지</span>
                                    <select name="large_category"></select>
                                </div>
                            </li>
                            <li class="list_category">
                                <p class="category_type">소분류</p>
                                <br>
                                <div class="select_wrapper">
                                    <span>기존: 음료주류</span>
                                    <select name="small_category"></select>
                                </div>
                            </li>
                            <div class="modal_apply_label_wrapper is-hidden">
                                <label for="">
                                    <div class="apply_wrapper btn_active">
                                        <button type="submit" class="is-hidden">
                                        </button>
                                        <span>적용하기</span>
                                    </div>
                                </label>
                            </div>
                        </ul>
                    </section>
                    <section>
                        
                    </section>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>-->
    <!--  -->
    <div class="Container_Profile">
        <header id="header"></header>
        <div class="padding_for_header"></div>
        <main class="MatchUp-Container">
            <nav class="NavBar_presentation mypage">
                <h2 class="Nav_title mypage">
                    <p>프로필</p>
                    <button class="Nav_button">프로필</button>
                </h2>
            </nav>
            <section class="main_container is-relative">
                <!-- 사이드 메뉴 인클루드 -->
                <aside th:insert="~{mypage/fragment/aside_business :: aside_business}"></aside>
                <!--<aside class="Aside_include"></aside>-->
                <section>
                    <aside class="Title_wrapper">
                        <picture>
                            <span>유통 분야 설정</span>
                        </picture>
                    </aside>
                    <div>
                        <div class="MatchUpForm EnterInterestArea-Wrapper">
<!--                            <form action="">-->
                                <div class="FormBlock">
                                    <div class="FormBlock-content">
                                        <div class="MainResume-fieldset">
                                            <form action="/mypage/edit" method="post" name="regionForm">
                                                <div class="fieldset-Static_content-first">
                                                    <div class="Static-label is-flex">지역선택</div>
                                                    <div class="Static-body">
                                                        <div style="display: flex; margin-bottom: 15px;">
                                                            <button type="button" class="loca-button" id="서울" name="category" value="서울">
                                                                <span class="category_span">서울</span>
                                                            </button>
                                                            <button type="button" class="loca-button" id="경기" name="category" value="경기">
                                                                <span class="category_span">경기</span>
                                                            </button>
                                                            <button type="button" class="loca-button" id="강원" name="category" value="강원">
                                                                <span class="category_span">강원</span>
                                                            </button>
                                                            <button type="button" class="loca-button" id="충북" name="category" value="충북">
                                                                <span class="category_span">충북</span>
                                                            </button>
                                                            <button type="button" class="loca-button" id="충남" name="category" value="충남">
                                                                <span class="category_span">충남</span>
                                                            </button>
                                                            <button type="button" class="loca-button" id="전북" name="category" value="전북">
                                                                <span class="category_span">전북</span>
                                                            </button>
                                                            <button type="button" class="loca-button" id="전남" name="category" value="전남">
                                                                <span class="category_span">전남</span>
                                                            </button>
                                                            <button type="button" class="loca-button" id="경북" name="category" value="경북">
                                                                <span class="category_span">경북</span>
                                                            </button>
                                                            <button type="button" class="loca-button" id="경남" name="category" value="경남">
                                                                <span class="category_span">경남</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fieldset-Static_content-others">
                                                    <div class="Static-label is-flex">카테고리</div>
                                                    <div class="Static-body">
                                                        <div style="display: flex; margin-bottom: 15px;">
                                                            <button type="button" class="cate-button" id="육류" name="category" value="육류">
                                                                <span class="category_span">육류</span>
                                                            </button>
                                                            <button type="button" class="cate-button" id="해산물" name="category" value="해산물">
                                                                <span class="category_span">해산물</span>
                                                            </button>
                                                            <button type="button" class="cate-button" id="채소" name="category" value="채소">
                                                                <span class="category_span">채소</span>
                                                            </button>
                                                            <button type="button" class="cate-button" id="향신료" name="category" value="향신료">
                                                                <span class="category_span">향신료</span>
                                                            </button>
                                                            <input type="hidden" name="categorys" id="catergorys">
                                                            <input type="hidden" name="foods" id="foods">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="apply_wrapper_upper">
                                                    <label>
                                                        <div class="apply_wrapper">
                                                            <span>
                                                                <button id="submit-button" type="submit" style="color: white; background-color: #36f; cursor: pointer" >
                                                                    적용하기
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </section>
        </main>
        <footer id="footer" th:insert="~{main/footer :: footer}"></footer>
    </div>
</body>
<script src="https:/code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/mypage/mypage_profile_business.js"></script>
<script src="/js/mypage/mypage_profile_business_select.js"></script>
<script>
    /* 카테고리 버튼 이벤트 */
    const $cateButton = $(".cate-button");

    $cateButton.each((i, e) => {

        $(e).click(function(){
            $cateButton.removeClass("cate-button-active");
            $(e).addClass("cate-button-active");
        });
    });

    // 버튼을 클릭하면 그 버튼의 value를 val에 담아줌
    $('.cate-button').on('click', function () {
        console.log($(this).val());
        $('#catergorys').val($(this).val());
    });

    $('.loca-button').on('click', function () {
        console.log($(this).val());
        $('#foods').val($(this).val());
    });
    // 적용하기 버튼 클릭시 categoryValue 와 foodValue 둘중 하나라도 없다면 alert
    $('#submit-button').on('click', function() {
        var categoryValue = $('#catergorys').val();
        var foodValue = $('#foods').val();

        console.log(categoryValue);
        console.log(foodValue);
        if (!categoryValue || !foodValue) {
            alert('지역선택 또는 카테고리를 입력해 주세요.');
            return false; // form submit 막기
        }else{
            alert('변경되었습니다.')
        }
    });

    /* 카테고리 버튼 이벤트 */
    const $locaButton = $(".loca-button");

    $locaButton.each((i, e) => {

        $(e).click(function(){
            $locaButton.removeClass("loca-button-active");
            $(e).addClass("loca-button-active");
        });
    });
</script>

</html>