<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugjeogbugjeog.app.bugjeogbugjeog.mapper.BusinessBoardMapper">

    <insert id="insert" parameterType="boardBusinessVO" useGeneratedKeys="true" keyProperty="boardBusinessId">
        insert into tbl_board_business
        (
        business_id, board_business_title
        , board_business_content, board_business_register_date
        , board_business_update_date
        )
        values(
        #{businessId}, #{boardBusinessTitle}
        , #{boardBusinessContent}, CURRENT_TIMESTAMP
        , CURRENT_TIMESTAMP
        )
    </insert>

    <delete id="delete" parameterType="long">
        delete from tbl_board_business
        where board_business_id=#{boardBusinessId}
    </delete>

    <select id="select" parameterType="long" resultType="boardBusinessDTO">
        select bs.board_business_id, bs.business_id, bs.board_business_title
        , bs.board_business_content, bs.board_business_register_date, bs.board_business_update_date
        , b.business_ceo_name, b.business_number, b.business_company_name, b.business_phone_number
        , b.business_establishment_date, b.business_register_date
        , b.business_location, b.business_category
        from tbl_board_business bs
        join tbl_business b
        on b.business_id = bs.business_id
        where board_business_id = #{boardBusinessId} and b.business_status = 1
    </select>

    <select id="selectAll" resultType="boardBusinessDTO">
        select board_business_id, business_id, board_business_title
        , board_business_content, board_business_register_date, board_business_update_date
        from tbl_board_business
    </select>

    <select id="selectAllByBusinessId" resultType="boardBusinessDTO">
        select b.board_business_id, b.business_id, b.board_business_title
            , b.board_business_content, b.board_business_register_date, b.board_business_update_date
            , b.board_business_img_original_name , b.board_business_img_uuid
            , b.board_business_img_path, ifnull(r.board_business_review_count, 0) board_business_review_count
            , ifnull(r.board_business_grade_average, 0) board_business_grade_average
            , bs.business_category, bs.business_location
        from (
            select bb.board_business_id, bb.business_id, bb.board_business_title, bb.board_business_content, bb.board_business_register_date, bb.board_business_update_date, bb.board_business_status
            , i.board_business_img_original_name , i.board_business_img_uuid, i.board_business_img_path
            from tbl_board_business bb
            left outer join tbl_board_business_img i
            on bb.board_business_id = i.board_business_id
            where board_business_status = 1
            group by board_business_id
        ) b
        left outer join (
            select b.board_business_id, count(r.review_id) board_business_review_count
            , ifnull(avg(r.review_grade), 0) board_business_grade_average
            from tbl_business_review r
            right outer join tbl_board_business b
            on b.board_business_id = r.board_business_id
            group by b.board_business_id
        ) r
        on r.board_business_id = b.board_business_id
        join tbl_business bs
        on b.business_id = bs.business_id
        where bs.business_id = #{businessId}
        group by board_business_id
    </select>

    <select id="selectAllList" resultType="boardBusinessDTO">
       select b.board_business_id, b.business_id, b.board_business_title
       , b.board_business_content, b.board_business_register_date, b.board_business_update_date
       , i.board_business_img_original_name , i.board_business_img_uuid
       , i.board_business_img_path, r.board_business_review_count, r.board_business_grade_average
       , bs.business_category, bs.business_location
       from tbl_board_business b
       left outer join tbl_board_business_img i
       on b.board_business_id = i.board_business_id
       left outer join (
           select b.board_business_id, count(r.review_id) board_business_review_count
           , ifnull(avg(r.review_grade), 0) board_business_grade_average
           from tbl_business_review r
           right outer join tbl_board_business b
           on b.board_business_id = r.board_business_id
           group by b.board_business_id
       ) r
       on r.board_business_id = b.board_business_id
       join tbl_business bs
       on b.business_id = bs.business_id
       where bs.business_status = 1
       group by board_business_id
       order by b.board_business_id desc
    </select>

    <select id="selectAllListBySearch" resultType="boardBusinessDTO">
        select b.board_business_id, b.business_id, b.board_business_title
        , b.board_business_content, b.board_business_register_date, b.board_business_update_date
        , i.board_business_img_id , i.board_business_img_original_name , i.board_business_img_uuid
        , i.board_business_img_path, ifnull(r.board_business_review_count, 0) board_business_review_count
        , ifnull(r.board_business_grade_average, 0) board_business_grade_average
        , bs.business_category, bs.business_location
        from tbl_board_business b
        left outer join (
        select
        i.board_business_img_id
        , i.board_business_id , i.board_business_img_original_name
        , i.board_business_img_uuid , i.board_business_img_path
        from tbl_board_business_img i
        group by i.board_business_id
        order by i.board_business_img_id
        ) i
        on b.board_business_id = i.board_business_id
        left outer join (
        select r.member_id , b.board_business_id, count(r.review_id) board_business_review_count
        , ifnull(avg(r.review_grade), 0) board_business_grade_average
        from tbl_business_review r
        right outer join tbl_board_business b
        on r.board_business_id = b.board_business_id
        group by r.board_business_id
        ) r
        on r.board_business_id = b.board_business_id
        join tbl_business bs
        on b.business_id = bs.business_id
        <if test="category == null">
            where bs.business_status = 1
        </if>
        <if test="category != null">
            where bs.business_category = #{category} and bs.business_status = 1
        </if>
        group by board_business_id
        <if test="sort == 'recent'">
            order by b.board_business_id desc
        </if>
        <if test="sort == 'popular'">
            order by board_business_grade_average desc
        </if>
    </select>

<!--  관리자 페이지 목록 불러오기  -->
    <select id="selectAllBusinessBoard" resultType="boardBusinessDTO">
        select 	board_business_id, b.business_id, business_email, business_password, business_ceo_name, business_number, business_company_name,
                business_phone_number, business_establishment_date, business_register_date, business_status,
                business_img_original_name, business_img_uuid, business_img_path, business_location, business_category,
                board_business_title, board_business_content, board_business_register_date, board_business_update_date, board_business_status
        from tbl_business b join tbl_board_business bb on b.business_id = bb.business_id
        order by bb.board_business_id desc
        limit #{adminCriteria.offset}, #{adminCriteria.rowCount}
    </select>

<!-- 관리자 페이지 상세보기 -->
    <select id="selectBoard" resultType="boardBusinessDTO">
        select board_business_id, b.business_id, business_email, business_password, business_ceo_name, business_number, business_company_name,
		business_phone_number, business_establishment_date, business_register_date, business_status,
		business_img_original_name, business_img_uuid, business_img_path, business_location, business_category,
		board_business_title, board_business_content, board_business_register_date, board_business_update_date, board_business_status
        from tbl_business b join tbl_board_business bb on b.business_id = bb.business_id
        and board_business_id = #{boardBusinessId}
    </select>



</mapper>