<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugjeogbugjeog.app.bugjeogbugjeog.mapper.FreeBoardMapper">
    <!--자유게시판 게시판 갯수-->
    <select id="freeCount" resultType="int">
        select count(board_free_id) from tbl_board_free where member_id = #{memberId}
    </select>

    <!-- 자유게시판 작성 목록-->
    <select id="freeList" resultType="boardFreeVO">
        select board_free_id, member_id, business_id, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like
        from tbl_board_free where member_id = #{memberId}
        order by board_free_id desc
        limit #{criteria.startRow}, #{criteria.amount}
    </select>
         <!-- limit #{criteria.startRow}, #{criteria.amount}-->

    <!--유통업체 자유게시판 게시판 갯수-->
    <select id="businessFreeCount" resultType="int">
        select count(board_free_id) from tbl_board_free where business_id = #{businessId}
    </select>

    <!-- 유통업체 자유게시판 작성 목록-->
    <select id="businessFreeList" resultType="boardFreeVO">
        select board_free_id, member_id, business_id, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like
        from tbl_board_free where business_id = #{businessId}
        order by board_free_id desc
        limit #{criteria.startRow}, #{criteria.amount}
    </select>

    <!--게시물 작성-->
    <insert id="insert" >
        insert into tbl_board_free
        (member_id, business_id, board_free_title, board_free_content)
        values(#{memberId}, #{businessId}, #{boardFreeTitle}, #{boardFreeContent})
    </insert>

    <!---->
    <select id="selectAll" resultType="boardFreeVO">
        select board_free_id, member_id, business_id, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like
        from tbl_board_free
    </select>

    <!--게시글 조회-->
    <select id="select" resultType="boardFreeDTO">
        select bf.board_free_id, m.member_id, m.member_name, m.member_email, m.member_phone_number, member_status, b.business_id, b.business_email, business_ceo_name, b.business_phone_number, business_status, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like, board_free_img_id, board_free_img_original_name, board_free_img_uuid, board_free_img_path,
        coalesce(
        (
        select board_free_id from tbl_board_free where board_free_id <![CDATA[<]]> bf.board_free_id order by board_free_id desc limit 1
        ),
        0
        ) as prev_board_id,
        coalesce(
        (
        select board_free_id from tbl_board_free where board_free_id <![CDATA[>]]> bf.board_free_id order by board_free_id asc limit 1
        ),
        0
        ) as next_board_id
        from tbl_board_free bf
        left join tbl_board_free_img bfi on bf.board_free_id = bfi.board_free_id
        left join tbl_member m on bf.member_id = m.member_id
        left join tbl_business b on bf.business_id = b.business_id where bf.board_free_id = #{boardFreeId};
    </select>

<!--            SELECT board_free_id, member_id, business_id, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like-->
<!--    FROM bugjeog.tbl_board_free;-->

    <!-- 관리자 ***************************************************  -->
    <!-- 자유 게시판 목록 -->
    <select id="adminSelectAllFree" resultType="boardFreeVO">
        select board_free_id, member_id, business_id, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like
        from tbl_board_free
    </select>

    <!-- 자유 게시판 조회 -->
    <select id="adminSelectFree" resultType="boardFreeDTO">
        select bf.board_free_id, m.member_id, m.member_name, m.member_email, m.member_phone_number, member_status, b.business_id, b.business_email, business_ceo_name, b.business_phone_number, business_status, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like, board_free_img_id, board_free_img_original_name, board_free_img_uuid, board_free_img_path
        from tbl_board_free bf
        left join tbl_board_free_img bfi on bf.board_free_id = bfi.board_free_id
        left join tbl_member m on bf.member_id = m.member_id
        left join tbl_business b on bf.business_id = b.business_id where bf.board_free_id = #{boardFreeId}
    </select>

    <!-- 자유 게시판 삭제  -->
    <delete id="deleteAdmin">
        delete from tbl_board_free
        where board_free_id= #{boardFreeId}
    </delete>


</mapper>