<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugjeogbugjeog.app.bugjeogbugjeog.mapper.MemberMapper">
    <!-- 자영업자 회원가입 -->
    <insert id="insertMember">
        insert into tbl_member
        (member_email, member_password, member_phone_number, memeber_name)
        values(#{memberEmail}, #{memberPassword}, #{memberPhoneNumber}, #{memberName})
    </insert>

    <!-- 이메일 중복검사 -->
    <select id="selectByEmail" parameterType="String" resultType="Long">
        select count(member_email) from tbl_member
        where member_email = #{memberEmail}
    </select>

    <!-- 휴대폰번호 중복검사 -->
    <select id="selectByPhoneNumber" parameterType="String" resultType="Long">
        select count(member_phone_number) from tbl_member
        where member_phone_number = #{memberPhoneNumber}
    </select>

    <!-- 자영업자 로그인 -->
    <select id="selectByMemberIdAndMemberPassword" resultType="Long">
        select member_id from tbl_member
        where member_email = #{memberEmail} and member_password = #{memberPassword}
    </select>

    <!-- 유통업체 회원가입 -->
    <insert id="insertBusiness">
        insert into tbl_business
        (business_email, business_password, business_ceo_name, business_number, business_company_name, business_phone_number, business_establishment_date)
        values(#{businessEmail}, #{businessPassword}, #{businessCeoName}, #{businessNumber}, #{businessCompanyName}, #{businessPhoneNumber}, #{businessEstablishmentDate})
    </insert>

    <!-- 유통업체 이메일 중복검사 -->
    <select id="businessSelectByEmail" parameterType="String" resultType="Long">
        select count(business_email) from tbl_business
        where business_email = #{businessEmail}
    </select>

    <!-- 유통업체 휴대폰 중복검사 -->
    <select id="businessSelectByPhoneNumber" parameterType="String" resultType="Long">
        select count(business_phone_number) from tbl_business
        where business_phone_number = #{businessPhoneNumber}
    </select>

    <!-- 유통업체 사업자 번호 중복검사 -->
    <select id="selectByBusinessNumber" parameterType="String" resultType="Long">
        select count(business_number) from tbl_business
        where business_number = #{businessNumber}
    </select>

    <!-- 유통업체 로그인 -->
    <select id="selectByBusinessIdAndBusinessPassword" parameterType="String" resultType="Long">
        select business_id from tbl_business
        where business_email = #{businessEmail} and business_password = #{businessPassword}
    </select>

    <!-- Member 계정 찾기 -->
    <select id="selectByPhoneNumberForEmail" parameterType="String" resultType="String">
        select member_email from tbl_member
        where member_phone_number = #{memberPhoneNumber}
    </select>

    <!-- Business 계정 찾기 -->
    <select id="businessSelectByPhoneNumberForEmail" parameterType="String" resultType="String">
        select business_email from tbl_business
        where business_phone_number = #{businessPhoneNumber}
    </select>

    <!--hello 제가 왓어요~~~-->
    <!--유저 정보 조회-->
    <select id="select" resultType="memberVO">
        select member_id, member_email, member_password ,member_phone_number, member_name, member_img_original_name, member_img_uuid, member_img_path
        from tbl_member where member_id = #{member_id}
    </select>

    <!-- 모든 유저 핸드폰 번호 조회-->
    <select id="selectAllPhoneNumber" resultType="String">
       select member_phone_number from tbl_member
       union
       select business_phone_number from tbl_business
    </select>
    <!--이용자  정보 업데이트-->
    <update id="update">
        UPDATE tbl_member
        SET member_email=#{memberEmail}, member_password=#{memberPassword}, member_name=#{memberName}, member_img_original_name=#{memberImgOriginalName}, member_img_uuid=#{memberImgUuid}, member_img_path=#{memberImgPath}, member_phone_number= #{memberPhoneNumber}
        WHERE member_id = #{memberId}
    </update>

    <!--이용자 회원 탈퇴-->
    <delete id="deleteMember">
        delete from tbl_member where member_id = #{memberId}
    </delete>

    <!-- 관리자 **************************************************************************** -->
    <!--  회원 전체 목록 -->
    <select id="adminSelectAllMember" resultType="memberDTO">
        select member_id, member_email, member_password, member_phone_number, member_name, member_register_date, member_status, member_img_original_name, member_img_uuid, member_img_path
        from tbl_member
        order by member_id desc
        limit #{startRow}, #{amount}
    </select>

    <!-- 회원 수 카운트 -->
    <select id="count" resultType="int">
        select count(member_id) from tbl_member
    </select>

    <!-- 회원 조회 -->
    <select id="adminSelectMember" resultType="memberDTO">
        select m.member_id, count(distinct tbf.board_free_id) as boardCount , count(distinct tfr.reply_id ) as replyCount ,
        member_email, member_password, member_phone_number, member_name,
        member_register_date, member_status, member_img_original_name, member_img_uuid, member_img_path
        from tbl_member m
        left join tbl_board_free tbf on m.member_id  = tbf.member_id
        left join tbl_free_reply tfr on tbf.member_id  = tfr.member_id where m.member_id = #{memberId}
        group by m.member_id
    </select>

</mapper>