<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugjeogbugjeog.app.bugjeogbugjeog.mapper.ReplyMapper">
    <!-- 이용자의 댓글 갯수-->
    <select id="replyCount" resultType="int">
        select count(reply_id) from tbl_free_reply where member_id = #{memberId}
    </select>

    <!-- 유통업자의 댓글 갯수-->
    <select id="businessReplyCount" resultType="int">
        select count(reply_id) from tbl_free_reply where business_id = #{businessId}
    </select>

    <!-- 보드 게시판 리스트 -->
    <select id="selectAll" resultType="boardFreeVO">
        select t.board_free_id, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like, t.member_id, t.business_id from tbl_board_free t join
        (select board_free_id from tbl_free_reply  where member_id = #{memberId} group by board_free_id) f
        on t.board_free_id  = f.board_free_id
        order by t.board_free_id desc
        limit #{criteria.startRow}, #{criteria.amount}
    </select>

    <!-- 댓글 리스트-->
    <select id="replyAllList" resultType="freeReplyVO">
        select reply_id, board_free_id, member_id, reply_content, reply_register_date, reply_update_date
        from tbl_free_reply where board_free_id = #{boardFreeId}
        order by reply_id desc
    </select>

    <!-- 유통업자 보드 게시판 리스트 -->
    <select id="businessSelectAll" resultType="boardFreeVO">
        select t.board_free_id, board_free_title, board_free_content, board_free_register_date, board_free_update_date, board_free_like, t.member_id, t.business_id from tbl_board_free t join
        (select board_free_id from tbl_free_reply  where business_id = #{businessId} group by board_free_id) f
        on t.board_free_id  = f.board_free_id
        order by t.board_free_id desc
        limit #{criteria.startRow}, #{criteria.amount}
    </select>

    <!-- 유통업자 댓글 리스트-->
    <select id="businessReplyAllList" resultType="freeReplyVO">
        select  reply_id, board_free_id, member_id, reply_content, reply_register_date, reply_update_date
        from tbl_free_reply where business_id = #{businessId} and board_free_id = #{boardFreeId}
        order by reply_id desc
    </select>

    <!-- 게시물의 댓글 개수-->
    <select id="boardReplyCount" resultType="int">
        select count(reply_id) from tbl_free_reply where board_free_id = #{boardFreeId}
    </select>

    <!-- 댓글 추가   -->
    <insert id="replyAdd">
    insert into tbl_free_reply
    (board_free_id, member_id, business_id, reply_content)
    value (#{boardFreeId}, #{memberId}, #{businessId}, #{replyContent});
    </insert>

    <!--댓글 수정-->
    <update id="replyUpdate">
        update tbl_free_reply
        set board_free_id=#{boardFreeId}, member_id=#{memberId}, business_id=#{businessId}, reply_content= #{replyContent}, reply_update_date = CURRENT_TIMESTAMP
        where reply_id= #{replyId};
    </update>

    <!--댓글 삭제-->
    <delete id="replyDelete">
    delete from tbl_free_reply where reply_id= #{replyId};
    </delete>

    <!--댓글 조회-->
    <select id="select" resultType="freeReplyVO">
        select reply_id, board_free_id, member_id, business_id, reply_content, reply_register_date, reply_update_date from tbl_free_reply where reply_id = #{replyId}
    </select>

    <select id="selectAllReplyList" resultType="replyDTO">
        select r.reply_id, r.board_free_id,
       case
           when b.business_id is null then m.member_id
           else null
       end as member_id,
               b.business_id, r.reply_content, r.reply_register_date, r.reply_update_date, member_email, member_password, member_phone_number, member_name, member_register_date, member_status, member_img_original_name,
        member_img_uuid, member_img_path, business_email, business_password, business_ceo_name, business_number, business_company_name, business_phone_number,
        business_establishment_date, business_register_date, business_status, business_img_original_name, business_img_uuid, business_img_path,
        business_location, business_category
        from bugjeog.tbl_free_reply r
        left join bugjeog.tbl_business b
        on r.business_id = b.business_id
        left join bugjeog.tbl_member m
        on r.member_id = m.member_id
        where board_free_id = #{boardFreeId}
        order by r.reply_id desc
        limit #{cri.offset}, #{cri.rowCount}
    </select>

    <select id="replyCountFreeBoard" resultType="int">
        select count(reply_id) from tbl_free_reply where board_free_id = #{boardFreeId}
    </select>

</mapper>