<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원티드 단독 포지션</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="../../static/board_detail/board_detail.css">
</head>
<body>
    <div id="all_wrap">
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <h2>원티드 단독 포지션</h2>
                        </div>
                        <div></div>
                    </div>
                </div>
                <section>
                    <header>
                        <section></section>
                        <section>
                            <h2>원티드 단독 포지션</h2>
                            <h4>일자</h4>
                            <h5>2023.02.27 (월) ~ 2023.03.17 (금)</h5>
                            <h4>장소</h4>
                            <h5>온라인</h5>
                            <h4>주최자</h4>
                            <h5>원티드랩</h5>
                        </section>
                        <div>
                            <div>
                                <a></a>
                            </div>
                        </div>
                    </header>
                    <div>
                        <div>
                            <div>
                                <blockquote>
                                    <b>원티드 단독 포지션이란?</b>
                                    <br>
                                    <b>타 채용 사이트(자사 포함)에 등록 없이 원티드에만 게재한 포지션 &nbsp;</b>
                                    <br>
                                </blockquote>
                                <br>
                                <b>▢ 진행 일정</b>
                                <br>
                                <span> &nbsp;• 참여기업 모집 : 2/27(월) ~ 3/17(금)</span>
                                <br>
                                <span> &nbsp;•  • 포지션 등록 : 2/27(월) 이후</span>
                                <br>
                                <span> &nbsp;•&nbsp;</span>
                                <br>
                                <span>포지션 노출 : 3/6(월) ~ 3/31(금)</span>
                                <br>
                                <br>
                                <b>▢ 참여 방법 &nbsp;</b>
                                <br>
                                <span> &nbsp;•&nbsp;</span>
                                ‘참가 신청하기’&nbsp; 버튼을 통해 설문 제출 (예상 참여 포지션 수 기재)
                                <br>
                                <span> &nbsp;•&nbsp;</span>
                                참가할 포지션 명에 [원티드 단독]&nbsp; 추가 후 포지션 등록
                                <br>
                                &nbsp; &nbsp; 예) [원티드 단독] 서버개발자
                                <br>
                                <br>
                                <b>▢ 참여 혜택 &nbsp;</b>
                                <br>
                                <b>&nbsp;</b>
                                <span>• 테마관 노출</span>
                                <br>
                                <span>&nbsp; • 원티드 홈 메인 배너 게재</span>
                                <br>
                                <span>&nbsp; • 원티드 회원 대상 CRM (이메일, 앱푸시)</span>
                                <br>
                                <span>&nbsp;  • 구글, 인스타그램 등 외부 광고 지원 &nbsp;</span>
                                <br>
                                <span>&nbsp; &nbsp;</span>
                                <br>
                                <span>포지션 제목에 [원티드 단독] 태그 노출</span>
                                <span></span>
                                <br>
                                <br>
                                <b>▢ 유의사항</b>
                                <span>
                                    <br>
                                    &nbsp;•&nbsp;
                                </span>
                                타 채용 사이트(자사 포함) 포지션 확인 시 원티드 혜택에서 제외될 수 있습니다.
                                <br>
                                <br>
                                <span>※ 최종 합격 시 합격자 연봉의 7% 수수료가 발생됩니다.</span>
                                <br>
                                <span>※ 신청 현황에 따라 선착순을 기준으로 하되, 원티드 사용 및 기업 규모 등을 고려해 선정됩니다.</span>
                                <br>
                                <span>※ 문의: 채용사업팀 (</span>
                                <a>biz@wantedlab.com</a>
                                <span>&nbsp; / 010-</span>
                                <span>2348-8505</span>
                                <span>&nbsp;</span>
                                <br>
                                <br>
                                <br>
                                <b>원티드랩에 게시되는 포지션은 원티드랩의 동의없이 무단전재, 재배포, 재가공할 수 없습니다.</b>
                                <span>&nbsp;</span>
                                <br>
                            </div>
                        </div>
                    </div>
                </section>
                <div>
                    <h2>함께 보면 좋은 이벤트</h2>
                    <ul>
                        <li>
                            <a></a>
                        </li>
                        <li>
                            <a></a>
                        </li>
                        <li>
                            <a></a>
                        </li>
                        <li>
                            <a></a>
                        </li>
                    </ul>
                    <div>
                        <a>
                            이벤트 모두 보기
                            <svg width="12" height="12" viewBox="0 0 12 12">
                                <path fill="currentColor" d="M3.345 9.72a.75.75 0 0 0 1.06 1.06l4.25-4.25a.75.75 0 0 0 0-1.06l-4.25-4.25a.75.75 0 0 0-1.06 1.06L7.065 6l-3.72 3.72z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div>
                    <button>
                        <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="https://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2674 5.29328L5.53033 11.0303C5.23744 11.3232 4.76256 11.3232 4.46967 11.0303C4.17678 10.7374 4.17678 10.2626 4.46967 9.96967L11.4697 2.96967C11.5063 2.93306 11.5457 2.90102 11.5873 2.87356C11.8784 2.68135 12.274 2.71339 12.5303 2.96967L19.5303 9.96967C19.8232 10.2626 19.8232 10.7374 19.5303 11.0303C19.2374 11.3232 18.7626 11.3232 18.4697 11.0303L12.7326 5.29328C12.744 5.34522 12.75 5.39918 12.75 5.45455V21.4545C12.75 21.8688 12.4142 22.2045 12 22.2045C11.5858 22.2045 11.25 21.8688 11.25 21.4545V5.45455C11.25 5.39918 11.256 5.34522 11.2674 5.29328ZM11.8387 4.72193C11.8907 4.71054 11.9446 4.70455 12 4.70455C12.0554 4.70455 12.1093 4.71054 12.1613 4.72193L12 4.56066L11.8387 4.72193Z" fill="black"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>