<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 등록 - 원티드 고객센터</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="../../static/css/board_detail/board_inquiry_write.css">
</head>
<body>
    <main style="min-height: 70vh; margin-bottom: -30px;">
        <section id="breadcrumb"></section>
        <div id="container">
            <div style="float: left; padding-left: 15px; width: 75%;">
                <ol id="breadcrumbs">
                    <li>
                        <a id="client">원티드 고객센터</a>
                    </li>
                    <li id="register_inquiry">> 문의 등록</li>
                </ol>
            </div>
        </div>
        <div id="center">
            <section style="width: 100%;">
                <h2 id="inquiry_register">문의 등록</h2>
                <div style="margin-bottom: 40px; background: #ffff;">
                    <form>
                        <div id="email_address">
                            <label id="label_first">
                                이메일 주소 <!-- ::after -->
                            </label>
                            <input id="email_input_first" type="text" placeholder="가입하신 이메일 주소를 기입해주세요. (비회원은 수신 가능한 이메일)">
                        </div>
                        <div style="margin-top: 17px;">
                            <label id="label_second">
                                제목 <!-- after -->
                            </label>
                            <input id="email_input_second" type="text" placeholder="(예) 이벤트 신청 문의 | 보상금 신청 | 수수료 정산 등, 키워드를 넣으시면 도움말 문서가 자동 검색 됩니다.">
                        </div>
                        <div style="margin-top: 17px;">
                            <label id="label_third">
                                설명 <!-- after -->
                            </label>
                            <textarea id="explanation" placeholder="상세한 문의 사항을 기입해주세요. 저희 지원 스태프가 영업일 기준 1~2일 이내 가능한 빨리 답변 드릴 수 있도록 노력하겠습니다."></textarea></textarea>
                        </div>
                        <div id="phone_number">
                            <label>
                                연락처 
                            </label>
                            <input id="phone_input" type="text" placeholder="&quot; - &quot; 없이 번호만 입력">
                        </div>
                        <div style="margin-top: 17px;">
                            <label>첨부 파일</label>
                            <div id="upload_dropzone">
                                <input type="file" multiple="true" id="dropzone_input">
                                <span>
                                    <!-- before -->
                                    <a id="upload_file">파일 추가</a>
                                    또는 파일을 여기로 드래그
                                </span>
                            </div>
                        </div>
                        <div style="margin-top: 17px;">
                            <p style="margin: 0 0 10px;">
                                <strong style="font-weight: 700;">개인정보 수집 및 이용에 대한 동의 내용</strong>
                                <br>
                                ①개인정보 수집 항목: 이메일, 연락처
                                <br>
                                ②수집목적: 고객식별, 문의 응대, 서비스 품질 향상
                                <br>
                                ③보유 및 이용기간: 수집 목적이 달성되면 지체없이 모든 개인정보를 파기합니다. 단, 관계법령에서 일정 기간 정보의 보관을 규정한 경우에 한해 분리 보관 후 파기합니다.
                                <br>
                                <br>
                                *위 동의는 거부할 수 있으며, 거부시 해당 문의를 처리할 수 없습니다. 
                            </p>
                            <label id="label_agree">
                                동의합니다.<!-- after -->
                                <input id="label_agree_box" type="checkbox">
                            </label>
                        </div>
                        <footer style="padding-top: 30px; text-align: center;">
                            <input id="footer_submit" type="submit" value="제출">
                        </footer>
                    </form>
                </div>
            </section>
            <!-- after -->
        </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</html>