<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원티드- 나다운 일의시작</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="../../static/board_detail/board_community_write.css">
</head>
<body>
    <form action="">
        <div id="header">
            <div id="header_div">
                <div id="header_btn">
                    <button id="regist_btn">
                        <span id="btn_span">등록하기</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="wrap">
            <div id="wrap_div">
                <div id="title">
                    <textarea id="title_textarea" placeholder="제목을 입력해 주세요."></textarea>
                    <!-- <textarea></textarea> -->
                </div>
                <div id="content">
                    <div>
                        <textarea id="content_textarea" placeholder="내용을 작성해 주세요."></textarea>
                        <!-- <textarea></textarea> -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>