<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 등록 - 원티드 고객센터</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="../../static/board_detail/board_community_write.css">
</head>
<body>
    <section id="breadcrumb"></section>
    <div>
        <div>
            <ol>
                <li>
                    <a>원티드 고객센터</a>
                </li>
                <li> 문의 등록</li>
            </ol>
        </div>
    </div>
</body>
</html>